In [1]:
# coding=utf8

import os
import json
import numpy as np
import pandas as pd
from pprint import pprint
from typing import List, Dict
from sql_hardness import eval_hardness, eval_hardness_by_from

In [14]:
original_sparc_dev_path = os.path.join('..', 'data', 'original_sparc_dev.json')
sparc_dev_annotated_path = os.path.join('..', 'data', 'sparc_dev_annotated.tsv')
duorat_sparc_path = os.path.join('..', 'data', 'duorat_sparc.json')
editsql_sparc_path = os.path.join('..', 'data', 'editsql_sparc.json')
igsql_sparc_path = os.path.join('..', 'data', 'igsql_sparc.json')

In [38]:
def read_annotation(path: str) -> pd.DataFrame:
    df = pd.read_csv(path, sep='\t')
    df.fillna('', inplace=True)
    return df


def read_json(path: str) -> List[Dict]:
    with open(path, 'r', encoding="utf8") as f:
        return json.load(f)


def read_predictions(path: str) -> List[Dict]:
    predictions = list()
    with open(path, 'r') as f:
        predictions = json.load(f)
    interaction_ids, turn_ids = set(), set()
    for p in predictions:
        turn_ids.add(p['turn_id'])
        interaction_ids.add(p['interaction_id'])
    total_question_sequence = len(interaction_ids)
    total_question = len(predictions)
    print(total_question_sequence, total_question)
    
    grouped_predictions = list()
    for example_id in interaction_ids:
        result = {"example_id": example_id, "interaction": list()}
        for turn_id in [1, 2, 3, 4, 5]:
            for p in predictions:
                if p['interaction_id'] == example_id and p['turn_id'] == turn_id:
                    result['interaction'].append(p)
                    break
            else:
                # Not found
                break
        grouped_predictions.append(result)
    
    print(len(grouped_predictions))
    assert len(grouped_predictions) == total_question_sequence
    _count = sum([len(gp['interaction']) for gp in grouped_predictions])
    print(_count)
    assert _count == total_question
    
    return grouped_predictions


def measure_accuracy(predictions: List[Dict]):
    question_match = 0
    question_sequence_match = 0
    total_question = sum([len(p['interaction']) for p in predictions])
    total_question_sequence = len(predictions)
    
    for p in predictions:
        has_error = False
        for turn in p['interaction']:
            if turn['exact'] == 1 or turn['exact'] is True:
                question_match += 1
            else:
                has_error = True
        if not has_error:
            question_sequence_match += 1
    
    print("Question Match: %f" % (question_match / total_question))
    print("Interaction Match: %f" % (question_sequence_match / total_question_sequence))
    

CONTEXTUAL_PHENOMENA = ['Coreference', 'Part/Whole', 'Ellipsis', 'Explict/Implict', 'Operator/Schema', 'Modification/Continutation']

    
def measure_context_independent_accuracy(predictions: List[Dict], source_examples: List[Dict], annotation: pd.DataFrame):
    dependent_match, dependent_total = 0, 0
    independent_match, independent_total = 0, 0
    first_independent_match, first_independent_total = 0, 0
    other_independent_match, other_independent_total = 0, 0
    total_question = 0
    independent_hardness = {"easy": 0, "medium": 0, "hard": 0, "extra": 0}
    dependent_hardness = {"easy": 0, "medium": 0, "hard": 0, "extra": 0}
    independent_hardness_match = {"easy": 0, "medium": 0, "hard": 0, "extra": 0}
    dependent_hardness_match = {"easy": 0, "medium": 0, "hard": 0, "extra": 0}

    for p in predictions:
        example_id = p['example_id']
        for turn in p['interaction']:
            total_question += 1
            turn_id = turn['turn_id']
            source_turn = source_examples[example_id - 1]['interaction'][turn_id - 1]
            print(source_turn['utterance'].lower().strip(), turn['question'].lower().strip())
            assert source_turn['utterance'].lower().strip().replace(" ", "").replace("`", "").replace('"', "").replace("''", "") in turn['question'].lower().strip().replace(" ", "").replace("`", "").replace('"', "").replace("''", "")
            hardness = eval_hardness(source_turn['sql'])
            row = annotation[(annotation.InterID == example_id - 1) & (annotation.Turn == turn_id - 1)]
            is_independent = all([row.iloc[0][key] == "" for key in CONTEXTUAL_PHENOMENA]) or row.iloc[0]["Ellipsis"] == "Context Independent"
            if is_independent:
                if turn['exact'] == 1 or turn['exact'] is True:
                    independent_match += 1
                    independent_hardness_match[hardness] += 1
                independent_total += 1
                independent_hardness[hardness] += 1
                
                if row.iloc[0]["Ellipsis"] == "Context Independent":
                    if turn['exact'] == 1 or turn['exact'] is True:
                        other_independent_match += 1
                    other_independent_total += 1
                else:
                    # First
                    if turn['exact'] == 1 or turn['exact'] is True:
                        first_independent_match += 1
                    first_independent_total += 1
                
            else:
                if turn['exact'] == 1 or turn['exact'] is True:
                    dependent_match += 1
                    dependent_hardness_match[hardness] += 1
                dependent_total += 1
                dependent_hardness[hardness] += 1
    
    print("Independent: %d, %d, %f" % (independent_match, independent_total, independent_match / independent_total))
    print("Dependent: %d, %d, %f" % (dependent_match, dependent_total, dependent_match / dependent_total))
    
    print("First Independent: %d, %d, %f" % (first_independent_match, first_independent_total, first_independent_match / first_independent_total))
    print("Other Independent: %d, %d, %f" % (other_independent_match, other_independent_total, other_independent_match / other_independent_total))
    
    assert independent_total + dependent_total == total_question
    print("Independent Percent: %f" % (independent_total / total_question))

    pprint(independent_hardness)
    pprint(independent_hardness_match)
    pprint(dependent_hardness)

    pprint({key: value / independent_total for key, value in independent_hardness.items()})
    pprint({key: value / dependent_total for key, value in dependent_hardness.items()})
    
    # Total Hardness
    total_hardness = {k: independent_hardness[k] + dependent_hardness[k] for k in ["easy", "medium", "hard", "extra"]}
    total_hardness_match = {k: independent_hardness_match[k] + dependent_hardness_match[k] for k in ["easy", "medium", "hard", "extra"]}
    total_hardness = {k: independent_hardness[k] + dependent_hardness[k] for k in ["easy", "medium", "hard", "extra"]}
    total_hardness_distribution = {k: (independent_hardness[k] + dependent_hardness[k]) / total_question for k in ["easy", "medium", "hard", "extra"]}
    total_hardness_accuracy = {k: total_hardness_match[k] / total_hardness[k] for k in ["easy", "medium", "hard", "extra"]}
    print("Total Hardness: ", total_hardness)
    print("Total Hardness Distribution: ", total_hardness_distribution)
    print("Total Hardness Match: ", total_hardness_match)
    print("Total Hardness Accuracy: ", total_hardness_accuracy)

In [4]:
sparc_dev = read_json(original_sparc_dev_path)

In [5]:
duorat_sparc_predictions = read_predictions(duorat_sparc_path)

422 1203
422
1203

In [6]:
measure_accuracy(duorat_sparc_predictions)

Question Match: 0.600998
Interaction Match: 0.386256

In [7]:
sparc_annotation_df = read_annotation(sparc_dev_annotated_path)

In [8]:
sparc_annotation_df[(sparc_annotation_df.InterID == 0) & (sparc_annotation_df.Turn == 0)]

,InterID,Turn,Database_ID,Utterance,Coreference,Part/Whole,Ellipsis,Explict/Implict,Operator/Schema,Modification/Continutation
0,0,0,flight_2,what are all the airlines ?,,,,,,

In [32]:
measure_context_independent_accuracy(duorat_sparc_predictions, sparc_dev, sparc_annotation_df)

what are all the airlines? [sep] what are all the airlines?
of these, which is jetblue airways? [sep] of these, which is jetblue airways? [sep] what are all the airlines?
what is the country corresponding it? [sep] what is the country corresponding it? [sep] of these, which is jetblue airways? [sep] what are all the airlines?
what are all the abbreviations? [sep] what are all the abbreviations?
what is the abbreviation for jetblue airways? [sep] what is the abbreviation for jetblue airways? [sep] what are all the abbreviations?
list all airline names and their abbreviations. [sep] list all airline names and their abbreviations.
of these, list only those in the usa. [sep] of these, list only those in the usa. [sep] list all airline names and their abbreviations.
find all information about the airport in the city anthony. [sep] find all information about the airport in the city anthony.
what is the airport code and airport name? [sep] what is the airport code and airport name? [sep] find all information about the airport in the city anthony.
what are all the airlines? [sep] what are all the airlines?
how many are there? [sep] how many are there? [sep] what are all the airlines?
what are all the airports? [sep] what are all the airports?
how many are there? [sep] how many are there? [sep] what are all the airports?
what are all the flights? [sep] what are all the flights?
how many are there? [sep] how many are there? [sep] what are all the flights?
what are all the airline names? [sep] what are all the airline names?
of this, which has the abbreviation 'ual'? [sep] of this, which has the abbreviation 'ual'? [sep] what are all the airline names?
what are the names of the airlines in the usa? [sep] what are the names of the airlines in the usa?
how many are there? [sep] how many are there? [sep] what are the names of the airlines in the usa?
what are the city and country for all airports? [sep] what are the city and country for all airports?
of these, what are the city and country for alton airport? [sep] of these, what are the city and country for alton airport? [sep] what are the city and country for all airports?
what are all the airport names? [sep] what are all the airport names?
of these, which has code 'ako'? [sep] of these, which has code 'ako'? [sep] what are all the airport names?
what are all the airport names? [sep] what are all the airport names?
which is in aberdeen? [sep] which is in aberdeen? [sep] what are all the airport names?
what are all the flights departing from 'apg'? [sep] what are all the flights departing from 'apg'?
how many are there? [sep] how many are there? [sep] what are all the flights departing from 'apg'?
what flights land in ato? [sep] what flights land in ato?
how many are there? [sep] how many are there? [sep] what flights land in ato?
what are all the flights derparting from aberdeen? [sep] what are all the flights derparting from aberdeen?
how many are there? [sep] how many are there? [sep] what are all the flights derparting from aberdeen?
what are all the flights arriving in aberdeen. [sep] what are all the flights arriving in aberdeen.
how many are there? [sep] how many are there? [sep] what are all the flights arriving in aberdeen.
what are all the flights that leave from aberdeen? [sep] what are all the flights that leave from aberdeen?
of those, which land in ashley? [sep] of those, which land in ashley? [sep] what are all the flights that leave from aberdeen?
how many are there? [sep] how many are there? [sep] of those, which land in ashley? [sep] what are all the flights that leave from aberdeen?
what are all the flights on jetblue airways? [sep] what are all the flights on jetblue airways?
how many are there? [sep] how many are there? [sep] what are all the flights on jetblue airways?
what are the united airlines flights? [sep] what are the united airlines flights?
how many are there? [sep] how many are there? [sep] what are the united airlines flights?
how many land in asy airport? [sep] how many land in asy airport? [sep] how many are there? [sep] what are the united airlines flights?
what are the united airlines flights? [sep] what are the united airlines flights?
which ones leave from ahd? [sep] which ones leave from ahd? [sep] what are the united airlines flights?
how many are there? [sep] how many are there? [sep] which ones leave from ahd? [sep] what are the united airlines flights?
which united airlines flights fly into aberdeen? [sep] which united airlines flights fly into aberdeen?
how many are there? [sep] how many are there? [sep] which united airlines flights fly into aberdeen?
name all cities that have destination airports. [sep] name all cities that have destination airports.
order them by number of arriving flights. [sep] order them by number of arriving flights. [sep] name all cities that have destination airports.
which one has the most? [sep] which one has the most? [sep] order them by number of arriving flights. [sep] name all cities that have destination airports.
name all cities that have source airports. [sep] name all cities that have source airports.
order them by number of departing flights. [sep] order them by number of departing flights. [sep] name all cities that have source airports.
which one has the most? [sep] which one has the most? [sep] order them by number of departing flights. [sep] name all cities that have source airports.
what are airport codes of any airport with a arriving flight? [sep] what are airport codes of any airport with a arriving flight?
also include codes of airports with departure flights. [sep] also include codes of airports with departure flights. [sep] what are airport codes of any airport with a arriving flight?
which one has the highest number of flights? [sep] which one has the highest number of flights? [sep] also include codes of airports with departure flights. [sep] what are airport codes of any airport with a arriving flight?
what are airport codes of any airport with a arriving flight? [sep] what are airport codes of any airport with a arriving flight?
also include codes of airports with departure flights. [sep] also include codes of airports with departure flights. [sep] what are airport codes of any airport with a arriving flight?
which one has the least number of flights? [sep] which one has the least number of flights? [sep] also include codes of airports with departure flights. [sep] what are airport codes of any airport with a arriving flight?
count the number of flights by airline. [sep] count the number of flights by airline.
which airline has the most? [sep] which airline has the most? [sep] count the number of flights by airline.
what are all the airline abbreviations and what countries are they in? [sep] what are all the airline abbreviations and what countries are they in?
order them by the number of flights that they have. [sep] order them by the number of flights that they have. [sep] what are all the airline abbreviations and what countries are they in?
which one has the fewest? [sep] which one has the fewest? [sep] order them by the number of flights that they have. [sep] what are all the airline abbreviations and what countries are they in?
which flights leave from ahd? [sep] which flights leave from ahd?
what are their airlines? [sep] what are their airlines? [sep] which flights leave from ahd?
which flights arrive in ahd? [sep] which flights arrive in ahd?
what are their airlines? [sep] what are their airlines? [sep] which flights arrive in ahd?
which airlines have flights departing from apg? [sep] which airlines have flights departing from apg?
of those, which also have flights from cvo? [sep] of those, which also have flights from cvo? [sep] which airlines have flights departing from apg?
which airlines have flights from cvo? [sep] which airlines have flights from cvo?
of these, which do not have flights from apg? [sep] of these, which do not have flights from apg? [sep] which airlines have flights from cvo?
what are all the airlines? [sep] what are all the airlines?
which ones have more than 10 flights? [sep] which ones have more than 10 flights? [sep] what are all the airlines?
what are all the airlines? [sep] what are all the airlines?
which ones have less than 200 flights? [sep] which ones have less than 200 flights? [sep] what are all the airlines?
what are all the flight numbers? [sep] what are all the flight numbers?
which belong to united airlines? [sep] which belong to united airlines? [sep] what are all the flight numbers?
what are all the flight numbers? [sep] what are all the flight numbers?
of these, which correspond to flights leaving from apg? [sep] of these, which correspond to flights leaving from apg? [sep] what are all the flight numbers?
what are all the flight numbers? [sep] what are all the flight numbers?
also, which numbers are for flights that land in apg? [sep] also, which numbers are for flights that land in apg? [sep] what are all the flight numbers?
what are all the flight numbers? [sep] what are all the flight numbers?
of these, which are departure flights? [sep] of these, which are departure flights? [sep] what are all the flight numbers?
which leave from aberdeen? [sep] which leave from aberdeen? [sep] of these, which are departure flights? [sep] what are all the flight numbers?
what are all the flight numbers? [sep] what are all the flight numbers?
of these, which are arrival flights? [sep] of these, which are arrival flights? [sep] what are all the flight numbers?
which land in aberdeen? [sep] which land in aberdeen? [sep] of these, which are arrival flights? [sep] what are all the flight numbers?
what flights land in aberdeen? [sep] what flights land in aberdeen?
also include flights that land in abilene. [sep] also include flights that land in abilene. [sep] what flights land in aberdeen?
how many are there? [sep] how many are there? [sep] also include flights that land in abilene. [sep] what flights land in aberdeen?
what are the source airports? [sep] what are the source airports?
also include the destination airports. [sep] also include the destination airports. [sep] what are the source airports?
which airports are not included? [sep] which airports are not included? [sep] also include the destination airports. [sep] what are the source airports?
what information is there on pets? [sep] what information is there on pets?
which pets weigh more than 10? [sep] which pets weigh more than 10? [sep] what information is there on pets?
how many are there? [sep] how many are there? [sep] which pets weigh more than 10? [sep] what information is there on pets?
order the pets by age [sep] order the pets by age
how much does each one weigh? [sep] how much does each one weigh? [sep] order the pets by age
what about the first one? [sep] what about the first one? [sep] how much does each one weigh? [sep] order the pets by age
what are the different types of pets? [sep] what are the different types of pets?
for each of those types, what is the maximum weight? [sep] for each of those types, what is the maximum weight? [sep] what are the different types of pets?
which pets are owned by students older than 20? [sep] which pets are owned by students older than 20?
how many are there? [sep] how many are there? [sep] which pets are owned by students older than 20?
who are the female students? [sep] who are the female students?
of those, who has a pet? [sep] of those, who has a pet? [sep] who are the female students?
how many of those have dogs? [sep] how many of those have dogs? [sep] of those, who has a pet? [sep] who are the female students?
what are the different pet types? [sep] what are the different pet types?
how many exist? [sep] how many exist? [sep] what are the different pet types?
what is the first name of every student? [sep] what is the first name of every student?
of those names, which ones correspond to somebody who has a cat? [sep] of those names, which ones correspond to somebody who has a cat? [sep] what is the first name of every student?
also, combine those names with those who have a dog. [sep] also, combine those names with those who have a dog. [sep] of those names, which ones correspond to somebody who has a cat? [sep] what is the first name of every student?
which students have a dog as their type of pet? [sep] which students have a dog as their type of pet?
who also has a cat? [sep] who also has a cat? [sep] which students have a dog as their type of pet?
what are their first names? [sep] what are their first names? [sep] who also has a cat? [sep] which students have a dog as their type of pet?
which students have a cat as their pets? [sep] which students have a cat as their pets?
what are they majoring in? [sep] what are they majoring in? [sep] which students have a cat as their pets?
also, how old are they? [sep] also, how old are they? [sep] what are they majoring in? [sep] which students have a cat as their pets?
what is every student's id? [sep] what is every student's id?
of those ids, which correspond to those who own cats as pets? [sep] of those ids, which correspond to those who own cats as pets? [sep] what is every student's id?
list all the other ids. [sep] list all the other ids. [sep] of those ids, which correspond to those who own cats as pets? [sep] what is every student's id?
which students have dogs? [sep] which students have dogs?
of those, who does not own a cat? [sep] of those, who does not own a cat? [sep] which students have dogs?

what are their first names and ages? [sep] what are their first names and ages? [sep] of those, who does not own a cat? [sep] which students have dogs?
who is the youngest pet? [sep] who is the youngest pet?
what type are they? [sep] what type are they? [sep] who is the youngest pet?
also, how much do they weigh? [sep] also, how much do they weigh? [sep] what type are they? [sep] who is the youngest pet?
what are ids of every pet? [sep] what are ids of every pet?
for those, which refer to pets older than 1? [sep] for those, which refer to pets older than 1? [sep] what are ids of every pet?
also, how much do they weigh? [sep] also, how much do they weigh? [sep] for those, which refer to pets older than 1? [sep] what are ids of every pet?
what are the different pet types? [sep] what are the different pet types?
for each of those, what is the maximum age? [sep] for each of those, what is the maximum age? [sep] what are the different pet types?
what about the average age? [sep] what about the average age? [sep] for each of those, what is the maximum age? [sep] what are the different pet types?
what information is there on pets? [sep] what information is there on pets?
for each pet type, what is the average weight? [sep] for each pet type, what is the average weight? [sep] what information is there on pets?
which students have pets? [sep] which students have pets?
what are the different first names? [sep] what are the different first names? [sep] which students have pets?
also, what are their ages? [sep] also, what are their ages? [sep] what are the different first names? [sep] which students have pets?
which students have pets? [sep] which students have pets?
of those, whose last name is smith? [sep] of those, whose last name is smith? [sep] which students have pets?
what is their pet's id? [sep] what is their pet's id? [sep] of those, whose last name is smith? [sep] which students have pets?
which of the students have pets? [sep] which of the students have pets?
how many pets does each of them have? [sep] how many pets does each of them have? [sep] which of the students have pets?
what is the first name and sex of each student? [sep] what is the first name and sex of each student?
which of those belong to somebody who has more than one pet? [sep] which of those belong to somebody who has more than one pet? [sep] what is the first name and sex of each student?
what is the id of the three-year old cat? [sep] what is the id of the three-year old cat?
who is the owner of that cat? [sep] who is the owner of that cat? [sep] what is the id of the three-year old cat?
what is their last name? [sep] what is their last name? [sep] who is the owner of that cat? [sep] what is the id of the three-year old cat?
which students do not own any pets? [sep] which students do not own any pets?
what is their average age? [sep] what is their average age? [sep] which students do not own any pets?
what are the names of all the countries? [sep] what are the names of all the countries?
give the names of the ones that became independent after 1950. [sep] give the names of the ones that became independent after 1950. [sep] what are the names of all the countries?
how many countries are there? [sep] how many countries are there?
out of those, how many have a republic as their form of government? [sep] out of those, how many have a republic as their form of government? [sep] how many countries are there?
what are the countries in the carribean region? [sep] what are the countries in the carribean region?
what is the surface area of each of those countries? [sep] what is the surface area of each of those countries? [sep] what are the countries in the carribean region?
find the total surface area of the above. [sep] find the total surface area of the above. [sep] what is the surface area of each of those countries? [sep] what are the countries in the carribean region?
what continent does each country belong to? [sep] what continent does each country belong to?
which one does anguila belong to? [sep] which one does anguila belong to? [sep] what continent does each country belong to?
what are the names of all the regions? [sep] what are the names of all the regions?
which of those is the city kabul located in? [sep] which of those is the city kabul located in? [sep] what are the names of all the regions?
what are all the languages? [sep] what are all the languages?
what are the languages spoken in aruba? [sep] what are the languages spoken in aruba? [sep] what are all the languages?
which one is the most popular? [sep] which one is the most popular? [sep] what are the languages spoken in aruba? [sep] what are all the languages?
what are the population and life expectancies for all countries? [sep] what are the population and life expectancies for all countries?
of those, which ones are for the country brazil? [sep] of those, which ones are for the country brazil? [sep] what are the population and life expectancies for all countries?
which region is angola in? [sep] which region is angola in?
for that country, what is its population? [sep] for that country, what is its population? [sep] which region is angola in?
what are the life expectancies for all the countries? [sep] what are the life expectancies for all the countries?
what are the life expectancies for the countries in the region of central africa? [sep] what are the life expectancies for the countries in the region of central africa? [sep] what are the life expectancies for all the countries?
what is the average of those? [sep] what is the average of those? [sep] what are the life expectancies for the countries in the region of central africa? [sep] what are the life expectancies for all the countries?
what are the names of the countries in asia? [sep] what are the names of the countries in asia?
which one has the shortest life expectancy? [sep] which one has the shortest life expectancy? [sep] what are the names of the countries in asia?
how many people live in asia? [sep] how many people live in asia?
what about the largest gnp among them? [sep] what about the largest gnp among them? [sep] how many people live in asia?
which countries are in africa? [sep] which countries are in africa?
which countries are also republics? [sep] which countries are also republics? [sep] which countries are in africa?
what is the average of their life expectancies? [sep] what is the average of their life expectancies? [sep] which countries are also republics? [sep] which countries are in africa?
what are the countries in the continents of asia or europe? [sep] what are the countries in the continents of asia or europe?
what is the surface area of each country? [sep] what is the surface area of each country? [sep] what are the countries in the continents of asia or europe?
what is the total surface area summed up? [sep] what is the total surface area summed up? [sep] what is the surface area of each country? [sep] what are the countries in the continents of asia or europe?
what are the populations of each city in the district of gelderland? [sep] what are the populations of each city in the district of gelderland?
what is the total population in that district? [sep] what is the total population in that district? [sep] what are the populations of each city in the district of gelderland?
what are all the nations? [sep] what are all the nations?
which of those have a government that is a us territory? [sep] which of those have a government that is a us territory? [sep] what are all the nations?
for those, what is the average gnp and total population? [sep] for those, what is the average gnp and total population? [sep] which of those have a government that is a us territory? [sep] what are all the nations?
what are all the distinct languages used around the world? [sep] what are all the distinct languages used around the world?
how many are there? [sep] how many are there? [sep] what are all the distinct languages used around the world?
what are the distinct forms of government in the continent of africa? [sep] what are the distinct forms of government in the continent of africa?
how many are there? [sep] how many are there? [sep] what are the distinct forms of government in the continent of africa?
what is the information about the country aruba? [sep] what is the information about the country aruba?
what are the languages used in aruba? [sep] what are the languages used in aruba? [sep] what is the information about the country aruba?
how many are there? [sep] how many are there? [sep] what are the languages used in aruba? [sep] what is the information about the country aruba?
what are the languages used in afghanistan? [sep] what are the languages used in afghanistan?
of those, how many are the official languages? [sep] of those, how many are the official languages? [sep] what are the languages used in afghanistan?
how many languages are spoken in each country? [sep] how many languages are spoken in each country?
which country speaks the most? [sep] which country speaks the most? [sep] how many languages are spoken in each country?
how many languages are spoken on each continent? [sep] how many languages are spoken on each continent?
which one speaks the most languages? [sep] which one speaks the most languages? [sep] how many languages are spoken on each continent?
what are the countries that speak english? [sep] what are the countries that speak english?
which of those also speak dutch? [sep] which of those also speak dutch? [sep] what are the countries that speak english?
how many of them are there? [sep] how many of them are there? [sep] which of those also speak dutch? [sep] what are the countries that speak english?
what are the names of countries which speak english? [sep] what are the names of countries which speak english?
of those countries, what are the names of the nations that speak french as well? [sep] of those countries, what are the names of the nations that speak french as well? [sep] what are the names of countries which speak english?
what are the official languages of each country? [sep] what are the official languages of each country?
of those countries, give the names of the ones that have english as one of the official languages. [sep] of those countries, give the names of the ones that have english as one of the official languages. [sep] what are the official languages of each country?
of those, which also have french as another official language? [sep] of those, which also have french as another official language? [sep] of those countries, give the names of the ones that have english as one of the official languages. [sep] what are the official languages of each country?
in which countries is chinese spoken? [sep] in which countries is chinese spoken?
which distinct continents are they in? [sep] which distinct continents are they in? [sep] in which countries is chinese spoken?
how many of them are there? [sep] how many of them are there? [sep] which distinct continents are they in? [sep] in which countries is chinese spoken?
what are all the different regions? [sep] what are all the different regions?
which of those speak dutch or english? [sep] which of those speak dutch or english? [sep] what are all the different regions?
what are the official languages for each country? [sep] what are the official languages for each country?
which of these countries have english or dutch? [sep] which of these countries have english or dutch? [sep] what are the official languages for each country?
what are all the different languages used in the continent of asia? [sep] what are all the different languages used in the continent of asia?
which one is used by the largest number of asian countries? [sep] which one is used by the largest number of asian countries? [sep] what are all the different languages used in the continent of asia?
which countries have republics as their form of government? [sep] which countries have republics as their form of government?
which language is spoken by only one of those countries? [sep] which language is spoken by only one of those countries? [sep] which countries have republics as their form of government?
what are the names of all the cities that use english? [sep] what are the names of all the cities that use english?
which of those has the largest population? [sep] which of those has the largest population? [sep] what are the names of all the cities that use english?
what are the names, population, and life expectancy for all the countries in asia? [sep] what are the names, population, and life expectancy for all the countries in asia?
of those, which belong to the country with the largest surface area? [sep] of those, which belong to the country with the largest surface area? [sep] what are the names, population, and life expectancy for all the countries in asia?
what are the official languages of each country? [sep] what are the official languages of each country?
which countries do not have english as the official language? [sep] which countries do not have english as the official language? [sep] what are the official languages of each country?
in those countries, what is the average life expectancy? [sep] in those countries, what is the average life expectancy? [sep] which countries do not have english as the official language? [sep] what are the official languages of each country?
what are the names of each country that does not speak english? [sep] what are the names of each country that does not speak english?
how many people live in those countries? [sep] how many people live in those countries? [sep] what are the names of each country that does not speak english?
which country has a head of state named beatrix? [sep] which country has a head of state named beatrix?
what languages are spoken in that country? [sep] what languages are spoken in that country? [sep] which country has a head of state named beatrix?
which of those languages is the official one? [sep] which of those languages is the official one? [sep] what languages are spoken in that country? [sep] which country has a head of state named beatrix?
what are the names of all the countries? [sep] what are the names of all the countries?
what are the names of those countries that were founded after 1930? [sep] what are the names of those countries that were founded after 1930? [sep] what are the names of all the countries?
for those countries, how many unique official languages are spoken in total? [sep] for those countries, how many unique official languages are spoken in total? [sep] what are the names of those countries that were founded after 1930? [sep] what are the names of all the countries?
what are all the information about european countries? [sep] what are all the information about european countries?
of those countries, what is the minimum surface area? [sep] of those countries, what is the minimum surface area? [sep] what are all the information about european countries?
what are the countries that have a greater surface area than that? [sep] what are the countries that have a greater surface area than that? [sep] of those countries, what is the minimum surface area? [sep] what are all the information about european countries?
what is the maximum population of a country in asia? [sep] what is the maximum population of a country in asia?
which countries in africa have a population smaller than that? [sep] which countries in africa have a population smaller than that? [sep] what is the maximum population of a country in asia?
what is the smallest population of a country in africa? [sep] what is the smallest population of a country in africa?
which asian countries have a greater population than that? [sep] which asian countries have a greater population than that? [sep] what is the smallest population of a country in africa?
what are the country codes of all the countries? [sep] what are the country codes of all the countries?

of those countries, give the country codes for those which do not speak english. [sep] of those countries, give the country codes for those which do not speak english. [sep] what are the country codes of all the countries?
what are the country codes of all the countries? [sep] what are the country codes of all the countries?
of those, which do not speak english? [sep] of those, which do not speak english? [sep] what are the country codes of all the countries?
what are the country codes for countries which are not republics? [sep] what are the country codes for countries which are not republics?
of those, which do not speak english? [sep] of those, which do not speak english? [sep] what are the country codes for countries which are not republics?
what are the names of the countries where english is the official language? [sep] what are the names of the countries where english is the official language?
what are the names of the countries in europe that are not one of those? [sep] what are the names of the countries in europe that are not one of those? [sep] what are the names of the countries where english is the official language?
what are the names of the cities in those countries? [sep] what are the names of the cities in those countries? [sep] what are the names of the countries in europe that are not one of those? [sep] what are the names of the countries where english is the official language?
what are the countries in asia where chinese is spoken? [sep] what are the countries in asia where chinese is spoken?
of those, which have chinese as the official language? [sep] of those, which have chinese as the official language? [sep] what are the countries in asia where chinese is spoken?
what are the different cities in those countries? [sep] what are the different cities in those countries? [sep] of those, which have chinese as the official language? [sep] what are the countries in asia where chinese is spoken?
which country has the smallest population? [sep] which country has the smallest population?
what is its name, independence year, and surface area? [sep] what is its name, independence year, and surface area? [sep] which country has the smallest population?
what is the country with the largest surface area? [sep] what is the country with the largest surface area?
what is its population, name and leader? [sep] what is its population, name and leader? [sep] what is the country with the largest surface area?
what are the names of the countries? [sep] what are the names of the countries?
which of them speak at least three languages? [sep] which of them speak at least three languages? [sep] what are the names of the countries?
also, how many languages are spoken in each of those countries? [sep] also, how many languages are spoken in each of those countries? [sep] which of them speak at least three languages? [sep] what are the names of the countries?
what is the average city population for each city? [sep] what is the average city population for each city?
for each district, count how many cities have a population greater than the average. [sep] for each district, count how many cities have a population greater than the average. [sep] what is the average city population for each city?
the countries with which government form have an average life expectancy greater than age 72? [sep] the countries with which government form have an average life expectancy greater than age 72?
for those, list the total population and government form name. [sep] for those, list the total population and government form name. [sep] the countries with which government form have an average life expectancy greater than age 72?
which continents have an average life expectancy less than age 72? [sep] which continents have an average life expectancy less than age 72?
give their average life expectancy and total population. [sep] give their average life expectancy and total population. [sep] which continents have an average life expectancy less than age 72?
what are the countries with the top 5 largest surface areas? [sep] what are the countries with the top 5 largest surface areas?
what are the surface areas and names of those countries? [sep] what are the surface areas and names of those countries? [sep] what are the countries with the top 5 largest surface areas?
order the countries by descending population size. [sep] order the countries by descending population size.
give the names of the 3 countries which have the most. [sep] give the names of the 3 countries which have the most. [sep] order the countries by descending population size.
order the countries by increasing population. [sep] order the countries by increasing population.
give the names of the 3 countries with the lowest. [sep] give the names of the 3 countries with the lowest. [sep] order the countries by increasing population.
what are the countries in the continent of asia? [sep] what are the countries in the continent of asia?
how many are there? [sep] how many are there? [sep] what are the countries in the continent of asia?
which countries are in the continent of europe? [sep] which countries are in the continent of europe?
of those, what are the names of those that have a population of 80000? [sep] of those, what are the names of those that have a population of 80000? [sep] which countries are in the continent of europe?
what countries are in north america? [sep] what countries are in north america?
of those, which have surface area greater than 3000? [sep] of those, which have surface area greater than 3000? [sep] what countries are in north america?
what is the total population and average surface area of those countries? [sep] what is the total population and average surface area of those countries? [sep] of those, which have surface area greater than 3000? [sep] what countries are in north america?
what are the names of all the cities? [sep] what are the names of all the cities?
which of those have a population between 160000 and 900000? [sep] which of those have a population between 160000 and 900000? [sep] what are the names of all the cities?
what are the different languages? [sep] what are the different languages?
which one is spoken in the most countries? [sep] which one is spoken in the most countries? [sep] what are the different languages?
tell me﻿ the director of the cartoon named "day of the dark knight!". [sep] tell me﻿ the director of the cartoon named "day of the dark knight!".
what is the channel of this cartoon? [sep] what is the channel of this cartoon? [sep] tell me﻿ the director of the cartoon named "day of the dark knight!".
give me the titles of all cartoon directed by "ben jones" or "brandon vietti"? [sep] give me the titles of all cartoon directed by "ben jones" or "brandon vietti"? [sep] what is the channel of this cartoon? [sep] tell me﻿ the director of the cartoon named "day of the dark knight!".
show me all the information about the italian tv channels. [sep] show me all the information about the italian tv channels.
how about the polish tv channels? [sep] how about the polish tv channels? [sep] show me all the information about the italian tv channels.
which country has the most of tv channels? list the country and number of tv channels it has. [sep] which country has the most of tv channels? list the country and number of tv channels it has. [sep] how about the polish tv channels? [sep] show me all the information about the italian tv channels.
tell me the tv channel of the cartoon titled "the eyes of despero!". [sep] tell me the tv channel of the cartoon titled "the eyes of despero!".
how about this channel's series name? [sep] how about this channel's series name? [sep] tell me the tv channel of the cartoon titled "the eyes of despero!".
tell me the number of different series names and contents in the tv channel table. [sep] tell me the number of different series names and contents in the tv channel table. [sep] how about this channel's series name? [sep] tell me the tv channel of the cartoon titled "the eyes of despero!".
tell me the package option for the series named "rock tv". [sep] tell me the package option for the series named "rock tv".
tell me the language of this series. [sep] tell me the language of this series. [sep] tell me the package option for the series named "rock tv".
list the language used least number of tv channel. list language and number of tv channel. [sep] list the language used least number of tv channel. list language and number of tv channel. [sep] tell me the language of this series. [sep] tell me the package option for the series named "rock tv".
tell me the author of the cartoon "the rise of the blue beetle!" [sep] tell me the author of the cartoon "the rise of the blue beetle!"
how about its director? [sep] how about its director? [sep] tell me the author of the cartoon "the rise of the blue beetle!"
what is its tv channel? [sep] what is its tv channel? [sep] how about its director? [sep] tell me the author of the cartoon "the rise of the blue beetle!"
tell me the country of the tv channel for the series named "sky radio". [sep] tell me the country of the tv channel for the series named "sky radio".
how about its content? [sep] how about its content? [sep] tell me the country of the tv channel for the series named "sky radio".
i want to know the title of all cartoons showed on tv channel with series name "sky radio". [sep] i want to know the title of all cartoons showed on tv channel with series name "sky radio". [sep] how about its content? [sep] tell me the country of the tv channel for the series named "sky radio".
tell me the rating of the episode named "double down". [sep] tell me the rating of the episode named "double down".
how about the rating of the episode named "keepers". [sep] how about the rating of the episode named "keepers". [sep] tell me the rating of the episode named "double down".
okay, i want to know the top 3 highest rating tv series. list the tv series's episode and rating. [sep] okay, i want to know the top 3 highest rating tv series. list the tv series's episode and rating. [sep] how about the rating of the episode named "keepers". [sep] tell me the rating of the episode named "double down".
tell me the weekly rank of the episode named "emily". [sep] tell me the weekly rank of the episode named "emily".
how about its share? [sep] how about its share? [sep] tell me the weekly rank of the episode named "emily".
tell me the minimum and maximum share of tv series. [sep] tell me the minimum and maximum share of tv series. [sep] how about its share? [sep] tell me the weekly rank of the episode named "emily".
tell me the rating of the episode titled "a love of a lifetime". [sep] tell me the rating of the episode titled "a love of a lifetime".
how about its weekly rank? [sep] how about its weekly rank? [sep] tell me the rating of the episode titled "a love of a lifetime".
and what is its tv channel? [sep] and what is its tv channel? [sep] how about its weekly rank? [sep] tell me the rating of the episode titled "a love of a lifetime".
tell me the content of tv channel with the series named "sky radio". [sep] tell me the content of tv channel with the series named "sky radio".
how about its language? [sep] how about its language? [sep] tell me the content of tv channel with the series named "sky radio".
okay, now i want to know the episode of all tv series showed on tv channel with series name "sky radio". [sep] okay, now i want to know the episode of all tv series showed on tv channel with series name "sky radio". [sep] how about its language? [sep] tell me the content of tv channel with the series named "sky radio".
tell me the air date of the cartoon titled "fall of the blue beetle!". [sep] tell me the air date of the cartoon titled "fall of the blue beetle!".
what is its production code? [sep] what is its production code? [sep] tell me the air date of the cartoon titled "fall of the blue beetle!".
tell me the production code and channel of the most recently aired cartoon. [sep] tell me the production code and channel of the most recently aired cartoon. [sep] what is its production code? [sep] tell me the air date of the cartoon titled "fall of the blue beetle!".
tell me the cartoons directed by ben jone. [sep] tell me the cartoons directed by ben jone.
tell me the cartoons written by todd casey. [sep] tell me the cartoons written by todd casey. [sep] tell me the cartoons directed by ben jone.
which countries' tv channels are playing some cartoon written by todd casey? [sep] which countries' tv channels are playing some cartoon written by todd casey? [sep] tell me the cartoons written by todd casey. [sep] tell me the cartoons directed by ben jone.
which countries' tv channels are playing some cartoon written by steven melching? [sep] which countries' tv channels are playing some cartoon written by steven melching?
which countries' tv channels are not playing any cartoon written by todd casey? [sep] which countries' tv channels are not playing any cartoon written by todd casey? [sep] which countries' tv channels are playing some cartoon written by steven melching?
tell me the director of the cartoon titled "deep cover for batman!". [sep] tell me the director of the cartoon titled "deep cover for batman!".
i want to know this cartoon's production code. [sep] i want to know this cartoon's production code. [sep] tell me the director of the cartoon titled "deep cover for batman!".
tell me the series name and country of the tv channel that is playing some cartoons directed by ben jones and michael chang. [sep] tell me the series name and country of the tv channel that is playing some cartoons directed by ben jones and michael chang. [sep] i want to know this cartoon's production code. [sep] tell me the director of the cartoon titled "deep cover for batman!".
tell me the country of the tv channel with series named "mtv music" [sep] tell me the country of the tv channel with series named "mtv music"
tell me the number of italian channels. [sep] tell me the number of italian channels. [sep] tell me the country of the tv channel with series named "mtv music"
find id of the tv channels that from the countries where have more than two tv channels. [sep] find id of the tv channels that from the countries where have more than two tv channels. [sep] tell me the number of italian channels. [sep] tell me the country of the tv channel with series named "mtv music"
who is the director of the cartoon titled "return of the fearsome fangs!"? [sep] who is the director of the cartoon titled "return of the fearsome fangs!"?
tell me the cartoons directed by ben jones. [sep] tell me the cartoons directed by ben jones. [sep] who is the director of the cartoon titled "return of the fearsome fangs!"?
find the id of tv channels that do not play any cartoon directed by ben jones. [sep] find the id of tv channels that do not play any cartoon directed by ben jones. [sep] tell me the cartoons directed by ben jones. [sep] who is the director of the cartoon titled "return of the fearsome fangs!"?
show all the poker players. [sep] show all the poker players.
how many are there? [sep] how many are there? [sep] show all the poker players.
what is the earnings of each poker player? [sep] what is the earnings of each poker player?
sort them in descending order. [sep] sort them in descending order. [sep] what is the earnings of each poker player?
show all the information about each poker player. [sep] show all the information about each poker player.
what are their final table mades? [sep] what are their final table mades? [sep] show all the information about each poker player.
what are their final table mades and best finishes? [sep] what are their final table mades and best finishes? [sep] what are their final table mades? [sep] show all the information about each poker player.
what is the earnings of each poker player? [sep] what is the earnings of each poker player?
give me the average. [sep] give me the average. [sep] what is the earnings of each poker player?
what is the money rank of each poker player? [sep] what is the money rank of each poker player?
sort them in the decreasing order. [sep] sort them in the decreasing order. [sep] what is the money rank of each poker player?
return the top one. [sep] return the top one. [sep] sort them in the decreasing order. [sep] what is the money rank of each poker player?
which poker player has earnings less than 200000? [sep] which poker player has earnings less than 200000?
among them, what is the maximum number of final tables made? [sep] among them, what is the maximum number of final tables made? [sep] which poker player has earnings less than 200000?
show all the poker players. [sep] show all the poker players.
what are their names? [sep] what are their names? [sep] show all the poker players.
which poker players have earnings higher than 300000? [sep] which poker players have earnings higher than 300000?
what are their names? [sep] what are their names? [sep] which poker players have earnings higher than 300000?
what are the names of all poker players? [sep] what are the names of all poker players?
sort them in the ascending order of the final tables made. [sep] sort them in the ascending order of the final tables made. [sep] what are the names of all poker players?
what is the birth date of each poker player? [sep] what is the birth date of each poker player?
sort the list by the poker player's earnings. [sep] sort the list by the poker player's earnings. [sep] what is the birth date of each poker player?
give me the result for the player with the lowest earnings. [sep] give me the result for the player with the lowest earnings. [sep] sort the list by the poker player's earnings. [sep] what is the birth date of each poker player?
what is the height of each poker player? [sep] what is the height of each poker player?
who has the largest height? [sep] who has the largest height? [sep] what is the height of each poker player?
what is his or her money rank? [sep] what is his or her money rank? [sep] who has the largest height? [sep] what is the height of each poker player?
what is the height of each poker player? [sep] what is the height of each poker player?
who all have heights greater than 200? [sep] who all have heights greater than 200? [sep] what is the height of each poker player?
what is the average earnings among them? [sep] what is the average earnings among them? [sep] who all have heights greater than 200? [sep] what is the height of each poker player?
sort all the poker players in descending order of earnings. [sep] sort all the poker players in descending order of earnings.
what are the names of poker players in descending order of earnings? [sep] what are the names of poker players in descending order of earnings? [sep] sort all the poker players in descending order of earnings.
show the nationality of each person. [sep] show the nationality of each person.

group people by their nationality. [sep] group people by their nationality. [sep] show the nationality of each person.
for each of the result, show the corresponding number of people of that nationality? [sep] for each of the result, show the corresponding number of people of that nationality? [sep] group people by their nationality. [sep] show the nationality of each person.
show the nationality of each person. [sep] show the nationality of each person.
count the number of people for each nationality. [sep] count the number of people for each nationality. [sep] show the nationality of each person.
what is the most common nationality of people? [sep] what is the most common nationality of people? [sep] count the number of people for each nationality. [sep] show the nationality of each person.
count the number of people for each nationality. [sep] count the number of people for each nationality.
which nationalities are held by at least two people? [sep] which nationalities are held by at least two people? [sep] count the number of people for each nationality.
what are the names and birth dates of people? [sep] what are the names and birth dates of people?
sort the results in ascending alphabetical order of name. [sep] sort the results in ascending alphabetical order of name. [sep] what are the names and birth dates of people?
what are the names of all people? [sep] what are the names of all people?
what about people whose nationality is not "russia"? [sep] what about people whose nationality is not "russia"? [sep] what are the names of all people?
show all the poker players. [sep] show all the poker players.
show all people who are not poker players. [sep] show all people who are not poker players. [sep] show all the poker players.
give me their names. [sep] give me their names. [sep] show all people who are not poker players. [sep] show all the poker players.
what are the death tolls each time? [sep] what are the death tolls each time?
what is the maximum number of deaths in any one time? [sep] what is the maximum number of deaths in any one time? [sep] what are the death tolls each time?
what about the minimum? [sep] what about the minimum? [sep] what is the maximum number of deaths in any one time? [sep] what are the death tolls each time?
give me the maximum and also the minimum. [sep] give me the maximum and also the minimum. [sep] what about the minimum? [sep] what is the maximum number of deaths in any one time? [sep] what are the death tolls each time?
show me information about deaths caused by ships. [sep] show me information about deaths caused by ships.
only ships with tonnage 't'. [sep] only ships with tonnage 't'. [sep] show me information about deaths caused by ships.
only return the death and injury information for those ships. [sep] only return the death and injury information for those ships. [sep] only ships with tonnage 't'. [sep] show me information about deaths caused by ships.
what are the ids and names of the battles? [sep] what are the ids and names of the battles?
only show those that ships were lost in. [sep] only show those that ships were lost in. [sep] what are the ids and names of the battles?
please, just the ones with 'brig' ship type. [sep] please, just the ones with 'brig' ship type. [sep] only show those that ships were lost in. [sep] what are the ids and names of the battles?
how many people were killed or injured in each battle? [sep] how many people were killed or injured in each battle?
only show the deaths for those battles that produced at least ten deaths. [sep] only show the deaths for those battles that produced at least ten deaths. [sep] how many people were killed or injured in each battle?
list the injuries caused by each ship (give ship id and name please). [sep] list the injuries caused by each ship (give ship id and name please).
sort it by decreasing number of injuries. [sep] sort it by decreasing number of injuries. [sep] list the injuries caused by each ship (give ship id and name please).
only show the ship id and name that caused the most total injuries. [sep] only show the ship id and name that caused the most total injuries. [sep] sort it by decreasing number of injuries. [sep] list the injuries caused by each ship (give ship id and name please).
which battles did the bulgarian commander 'kaloyan' fight in? [sep] which battles did the bulgarian commander 'kaloyan' fight in?
how about the latin commander 'baldwin i'? [sep] how about the latin commander 'baldwin i'? [sep] which battles did the bulgarian commander 'kaloyan' fight in?
just the ones where they were fighting one another, please. [sep] just the ones where they were fighting one another, please. [sep] how about the latin commander 'baldwin i'? [sep] which battles did the bulgarian commander 'kaloyan' fight in?
which battle ids lost ships with tonnage '225'? [sep] which battle ids lost ships with tonnage '225'?
give the names of these battles, too. [sep] give the names of these battles, too. [sep] which battle ids lost ships with tonnage '225'?
which battle ids and names did not lose any ship with tonnage '225'? [sep] which battle ids and names did not lose any ship with tonnage '225'? [sep] give the names of these battles, too. [sep] which battle ids lost ships with tonnage '225'?
how many is that? [sep] how many is that? [sep] which battle ids and names did not lose any ship with tonnage '225'? [sep] give the names of these battles, too. [sep] which battle ids lost ships with tonnage '225'?
list the name and date of the battle that has lost the ship named 'lettice' [sep] list the name and date of the battle that has lost the ship named 'lettice'
same for 'hms atlanta', please. [sep] same for 'hms atlanta', please. [sep] list the name and date of the battle that has lost the ship named 'lettice'
can you intersect those? [sep] can you intersect those? [sep] same for 'hms atlanta', please. [sep] list the name and date of the battle that has lost the ship named 'lettice'
which battle ids and names lost ships in the 'english channel'? [sep] which battle ids and names lost ships in the 'english channel'?
which did not? [sep] which did not? [sep] which battle ids and names lost ships in the 'english channel'?
for these ones, show their names, results, and bulgarian commanders. [sep] for these ones, show their names, results, and bulgarian commanders. [sep] which did not? [sep] which battle ids and names lost ships in the 'english channel'?
how many continents are there? [sep] how many continents are there?
show all their ids and names! [sep] show all their ids and names! [sep] how many continents are there?
what countries do they each have? [sep] what countries do they each have? [sep] show all their ids and names! [sep] how many continents are there?
count how many there are for each continent name and id! [sep] count how many there are for each continent name and id! [sep] what countries do they each have? [sep] show all their ids and names! [sep] how many continents are there?
what are the names and ids of the different car makers? [sep] what are the names and ids of the different car makers?
what countries are they each from? [sep] what countries are they each from? [sep] what are the names and ids of the different car makers?
for each, how many models do they each produce? [sep] for each, how many models do they each produce? [sep] what countries are they each from? [sep] what are the names and ids of the different car makers?
can actually just show the name, id and the number of models? [sep] can actually just show the name, id and the number of models? [sep] for each, how many models do they each produce? [sep] what countries are they each from? [sep] what are the names and ids of the different car makers?
what is the average horsepower of all cars? [sep] what is the average horsepower of all cars?
how about the maximum? [sep] how about the maximum? [sep] what is the average horsepower of all cars?
what about the minimum? [sep] what about the minimum? [sep] how about the maximum? [sep] what is the average horsepower of all cars?
what is the model of the car with this horsepower? [sep] what is the model of the car with this horsepower? [sep] what about the minimum? [sep] how about the maximum? [sep] what is the average horsepower of all cars?
what is the average weight of all the cars? [sep] what is the average weight of all the cars?
list all the car information with weights above this? [sep] list all the car information with weights above this? [sep] what is the average weight of all the cars?
how about below this? [sep] how about below this? [sep] list all the car information with weights above this? [sep] what is the average weight of all the cars?
please, show just their model names! [sep] please, show just their model names! [sep] how about below this? [sep] list all the car information with weights above this? [sep] what is the average weight of all the cars?
what are the ids, and models of the cars were made in 1970? [sep] what are the ids, and models of the cars were made in 1970?
show their horsepower and mpg as well? [sep] show their horsepower and mpg as well? [sep] what are the ids, and models of the cars were made in 1970?
also provide the names of their makers! [sep] also provide the names of their makers! [sep] show their horsepower and mpg as well? [sep] what are the ids, and models of the cars were made in 1970?
just show a unique list of all these different makers. [sep] just show a unique list of all these different makers. [sep] also provide the names of their makers! [sep] show their horsepower and mpg as well? [sep] what are the ids, and models of the cars were made in 1970?
show me the makes and models of each car! [sep] show me the makes and models of each car!
also provide which the year they were produced? [sep] also provide which the year they were produced? [sep] show me the makes and models of each car!
which ones been produce in the earliest year? [sep] which ones been produce in the earliest year? [sep] also provide which the year they were produced? [sep] show me the makes and models of each car!
show just the make and year! [sep] show just the make and year! [sep] which ones been produce in the earliest year? [sep] also provide which the year they were produced? [sep] show me the makes and models of each car!
what are all the different car models? [sep] what are all the different car models?
show also all the car makes and the years that they were produced! [sep] show also all the car makes and the years that they were produced! [sep] what are all the different car models?
show only those that were made after 1980! [sep] show only those that were made after 1980! [sep] show also all the car makes and the years that they were produced! [sep] what are all the different car models?
what are the distinct car models for these? [sep] what are the distinct car models for these? [sep] show only those that were made after 1980! [sep] show also all the car makes and the years that they were produced! [sep] what are all the different car models?
what are the names and country name of each car maker? [sep] what are the names and country name of each car maker?
also provide the continent name for each! [sep] also provide the continent name for each! [sep] what are the names and country name of each car maker?
how many car makers are there per continent? [sep] how many car makers are there per continent? [sep] also provide the continent name for each! [sep] what are the names and country name of each car maker?
how many countries are there? [sep] how many countries are there?
how many car makers belong to each one? [sep] how many car makers belong to each one? [sep] how many countries are there?
what is the name of the country that has the least number? [sep] what is the name of the country that has the least number? [sep] how many car makers belong to each one? [sep] how many countries are there?
how about the most? [sep] how about the most? [sep] what is the name of the country that has the least number? [sep] how many car makers belong to each one? [sep] how many countries are there?
how many makers are there? [sep] how many makers are there?
what are their full names and ids? [sep] what are their full names and ids? [sep] how many makers are there?
what models have they each produced? [sep] what models have they each produced? [sep] what are their full names and ids? [sep] how many makers are there?
count how many modes there are per maker. [sep] count how many modes there are per maker. [sep] what models have they each produced? [sep] what are their full names and ids? [sep] how many makers are there?
show all the car ids with the make amc hornet sporabout (sw)? [sep] show all the car ids with the make amc hornet sporabout (sw)?
what is its horsepower? [sep] what is its horsepower? [sep] show all the car ids with the make amc hornet sporabout (sw)?
how about its mpg? [sep] how about its mpg? [sep] what is its horsepower? [sep] show all the car ids with the make amc hornet sporabout (sw)?
how about its accelerate? [sep] how about its accelerate? [sep] how about its mpg? [sep] what is its horsepower? [sep] show all the car ids with the make amc hornet sporabout (sw)?
show all the different car makers? [sep] show all the different car makers?
what are the names of the countries they belong to? [sep] what are the names of the countries they belong to? [sep] show all the different car makers?
show just the car makers from france! [sep] show just the car makers from france! [sep] what are the names of the countries they belong to? [sep] show all the different car makers?
how many are there? [sep] how many are there? [sep] show just the car makers from france! [sep] what are the names of the countries they belong to? [sep] show all the different car makers?
how many car models are produced in total? [sep] how many car models are produced in total?
how many in germany? [sep] how many in germany? [sep] how many car models are produced in total?
how about in japan? [sep] how about in japan? [sep] how many in germany? [sep] how many car models are produced in total?
how about the usa? [sep] how about the usa? [sep] how about in japan? [sep] how many in germany? [sep] how many car models are produced in total?
what is all the car information for cars produced in 1974? [sep] what is all the car information for cars produced in 1974?
now, show me just the weight and cylinders of these cars. [sep] now, show me just the weight and cylinders of these cars. [sep] what is all the car information for cars produced in 1974?
list just those with 8 cylinders! [sep] list just those with 8 cylinders! [sep] now, show me just the weight and cylinders of these cars. [sep] what is all the car information for cars produced in 1974?
what is the smallest weight? [sep] what is the smallest weight? [sep] list just those with 8 cylinders! [sep] now, show me just the weight and cylinders of these cars. [sep] what is all the car information for cars produced in 1974?
what are all the different country names? [sep] what are all the different country names?
which ones have no car makers? [sep] which ones have no car makers? [sep] what are all the different country names?
which ones have at least one? [sep] which ones have at least one? [sep] which ones have no car makers? [sep] what are all the different country names?
also provide the country id! [sep] also provide the country id! [sep] which ones have at least one? [sep] which ones have no car makers? [sep] what are all the different country names?
show all the car makers and their country name? [sep] show all the car makers and their country name?
count how many there are per country name? [sep] count how many there are per country name? [sep] show all the car makers and their country name?
show just those from countries in the continent europe. [sep] show just those from countries in the continent europe. [sep] count how many there are per country name? [sep] show all the car makers and their country name?
list the country names of those with at least 3 manufacturers! [sep] list the country names of those with at least 3 manufacturers! [sep] show just those from countries in the continent europe. [sep] count how many there are per country name? [sep] show all the car makers and their country name?
what is the horsepower, make for each car! [sep] what is the horsepower, make for each car!
show those with 8 cylinders! [sep] show those with 8 cylinders! [sep] what is the horsepower, make for each car!
how about 3? [sep] how about 3? [sep] show those with 8 cylinders! [sep] what is the horsepower, make for each car!
show the one with the maximum horsepower. [sep] show the one with the maximum horsepower. [sep] how about 3? [sep] show those with 8 cylinders! [sep] what is the horsepower, make for each car!
what is id of the car with the max horsepower? [sep] what is id of the car with the max horsepower?
how about with the max mpg? [sep] how about with the max mpg? [sep] what is id of the car with the max horsepower?
show its make! [sep] show its make! [sep] how about with the max mpg? [sep] what is id of the car with the max horsepower?
now show its model! [sep] now show its model! [sep] show its make! [sep] how about with the max mpg? [sep] what is id of the car with the max horsepower?
what is the average edispl of all cars? [sep] what is the average edispl of all cars?
can you show the average per car make? [sep] can you show the average per car make? [sep] what is the average edispl of all cars?
how about per car model? [sep] how about per car model? [sep] can you show the average per car make? [sep] what is the average edispl of all cars?
show the average for the model volvo! [sep] show the average for the model volvo! [sep] how about per car model? [sep] can you show the average per car make? [sep] what is the average edispl of all cars?
what are all the different models for each car? [sep] what are all the different models for each car?
what are the makes for each? [sep] what are the makes for each? [sep] what are all the different models for each car?
how many makes are there for each? [sep] how many makes are there for each? [sep] what are the makes for each? [sep] what are all the different models for each car?
what is the model name with the most makes? [sep] what is the model name with the most makes? [sep] how many makes are there for each? [sep] what are the makes for each? [sep] what are all the different models for each car?
show the full names of all the different car makers? [sep] show the full names of all the different car makers?
also include the car models produced by each! [sep] also include the car models produced by each! [sep] show the full names of all the different car makers?
show me just those produced by the maker with full name american motor company! [sep] show me just those produced by the maker with full name american motor company! [sep] also include the car models produced by each! [sep] show the full names of all the different car makers?
how many are there? [sep] how many are there? [sep] show me just those produced by the maker with full name american motor company! [sep] also include the car models produced by each! [sep] show the full names of all the different car makers?
what is all the information for the makers that have designed at least 1 car model! [sep] what is all the information for the makers that have designed at least 1 car model!
which ones have designed more than 1? [sep] which ones have designed more than 1? [sep] what is all the information for the makers that have designed at least 1 car model!
how about more than 3? [sep] how about more than 3? [sep] which ones have designed more than 1? [sep] what is all the information for the makers that have designed at least 1 car model!

list just the full name and id! [sep] list just the full name and id! [sep] how about more than 3? [sep] which ones have designed more than 1? [sep] what is all the information for the makers that have designed at least 1 car model!
how many different models has maker with full name general motors produced? [sep] how many different models has maker with full name general motors produced?
how many different models weigh over 3500 pounds? [sep] how many different models weigh over 3500 pounds? [sep] how many different models has maker with full name general motors produced?
how many models have either of these features? [sep] how many models have either of these features? [sep] how many different models weigh over 3500 pounds? [sep] how many different models has maker with full name general motors produced?
show me the distinct list of their model names! [sep] show me the distinct list of their model names! [sep] how many models have either of these features? [sep] how many different models weigh over 3500 pounds? [sep] how many different models has maker with full name general motors produced?
show the years and weight of all the cars! [sep] show the years and weight of all the cars!
show distinct years that the cars that weigh more than 3000 were produced! [sep] show distinct years that the cars that weigh more than 3000 were produced! [sep] show the years and weight of all the cars!
how about the different years for those that weight less than 4000. [sep] how about the different years for those that weight less than 4000. [sep] show distinct years that the cars that weigh more than 3000 were produced! [sep] show the years and weight of all the cars!
what are the distinct years, for the cars that are both? [sep] what are the distinct years, for the cars that are both? [sep] how about the different years for those that weight less than 4000. [sep] show distinct years that the cars that weigh more than 3000 were produced! [sep] show the years and weight of all the cars!
what is the lowest accelerate for any car? [sep] what is the lowest accelerate for any car?
how about the highest? [sep] how about the highest? [sep] what is the lowest accelerate for any car?
what is the id, make and model of this car? [sep] what is the id, make and model of this car? [sep] how about the highest? [sep] what is the lowest accelerate for any car?
show just its horsepower. [sep] show just its horsepower. [sep] what is the id, make and model of this car? [sep] how about the highest? [sep] what is the lowest accelerate for any car?
show all the car information for any car of the model volvo! [sep] show all the car information for any car of the model volvo!
what is the car with the least accelerate? [sep] what is the car with the least accelerate? [sep] show all the car information for any car of the model volvo!
what is its horsepower? [sep] what is its horsepower? [sep] what is the car with the least accelerate? [sep] show all the car information for any car of the model volvo!
what about its number of cylinders? [sep] what about its number of cylinders? [sep] what is its horsepower? [sep] what is the car with the least accelerate? [sep] show all the car information for any car of the model volvo!
what is largest horsepower of all cars? [sep] what is largest horsepower of all cars?
what is the accelerate of the car with this horsepower? [sep] what is the accelerate of the car with this horsepower? [sep] what is largest horsepower of all cars?
what are the car ids of the cars with a greater accelerate than this? [sep] what are the car ids of the cars with a greater accelerate than this? [sep] what is the accelerate of the car with this horsepower? [sep] what is largest horsepower of all cars?
how many are there? [sep] how many are there? [sep] what are the car ids of the cars with a greater accelerate than this? [sep] what is the accelerate of the car with this horsepower? [sep] what is largest horsepower of all cars?
what are the names of the countries that have no car makers? [sep] what are the names of the countries that have no car makers?
show me all the names of all the different countries outside of those! [sep] show me all the names of all the different countries outside of those! [sep] what are the names of the countries that have no car makers?
how many of these have more than 1 car maker? [sep] how many of these have more than 1 car maker? [sep] show me all the names of all the different countries outside of those! [sep] what are the names of the countries that have no car makers?
how about more than 2? [sep] how about more than 2? [sep] how many of these have more than 1 car maker? [sep] show me all the names of all the different countries outside of those! [sep] what are the names of the countries that have no car makers?
show all models and horsepowers of all cars! [sep] show all models and horsepowers of all cars!
now show just the ones with 4 cylinders. [sep] now show just the ones with 4 cylinders. [sep] show all models and horsepowers of all cars!
what is the model of that with the lowest horsepower? [sep] what is the model of that with the lowest horsepower? [sep] now show just the ones with 4 cylinders. [sep] show all models and horsepowers of all cars!
how about the greatest horsepower? [sep] how about the greatest horsepower? [sep] what is the model of that with the lowest horsepower? [sep] now show just the ones with 4 cylinders. [sep] show all models and horsepowers of all cars!
what is the lowest horsepower of all cars? [sep] what is the lowest horsepower of all cars?
show all the ids and makes of those with a horsepower greater than this! [sep] show all the ids and makes of those with a horsepower greater than this! [sep] what is the lowest horsepower of all cars?
which ones have 5 cylinders or less? [sep] which ones have 5 cylinders or less? [sep] show all the ids and makes of those with a horsepower greater than this! [sep] what is the lowest horsepower of all cars?
how about 3 or less? [sep] how about 3 or less? [sep] which ones have 5 cylinders or less? [sep] show all the ids and makes of those with a horsepower greater than this! [sep] what is the lowest horsepower of all cars?
show me the mpg, horsepower and accelerate for all the cars that were produced before 1980! [sep] show me the mpg, horsepower and accelerate for all the cars that were produced before 1980!
also include the cars that have 8 cylinders! [sep] also include the cars that have 8 cylinders! [sep] show me the mpg, horsepower and accelerate for all the cars that were produced before 1980!
what is the max horsepower for this group? [sep] what is the max horsepower for this group? [sep] also include the cars that have 8 cylinders! [sep] show me the mpg, horsepower and accelerate for all the cars that were produced before 1980!
how about the max mpg? [sep] how about the max mpg? [sep] what is the max horsepower for this group? [sep] also include the cars that have 8 cylinders! [sep] show me the mpg, horsepower and accelerate for all the cars that were produced before 1980!
show all the models that were built by the ford motor company. [sep] show all the models that were built by the ford motor company.
what are all the models except those! [sep] what are all the models except those! [sep] show all the models that were built by the ford motor company.
also provide the weights for all different makes for each of these models. [sep] also provide the weights for all different makes for each of these models. [sep] what are all the models except those! [sep] show all the models that were built by the ford motor company.
list all the different models from these that have makes that are lighter than 3500! [sep] list all the different models from these that have makes that are lighter than 3500! [sep] also provide the weights for all different makes for each of these models. [sep] what are all the models except those! [sep] show all the models that were built by the ford motor company.
what are all the names of countries? [sep] what are all the names of countries?
which ones have at least one car maker? [sep] which ones have at least one car maker? [sep] what are all the names of countries?
show me all of car names other than these! [sep] show me all of car names other than these! [sep] which ones have at least one car maker? [sep] what are all the names of countries?
show all the car maker id, names, the models and makes they produce! [sep] show all the car maker id, names, the models and makes they produce!
how many model does each car maker produce? list the id and maker! [sep] how many model does each car maker produce? list the id and maker! [sep] show all the car maker id, names, the models and makes they produce!
show me those that produce at least 2! [sep] show me those that produce at least 2! [sep] how many model does each car maker produce? list the id and maker! [sep] show all the car maker id, names, the models and makes they produce!
for each of these, only show those that have more than 3 car makes! [sep] for each of these, only show those that have more than 3 car makes! [sep] show me those that produce at least 2! [sep] how many model does each car maker produce? list the id and maker! [sep] show all the car maker id, names, the models and makes they produce!
how many matches are there? [sep] how many matches are there?
what was the maximum length in minutes for the matches? [sep] what was the maximum length in minutes for the matches? [sep] how many matches are there?
average? [sep] average? [sep] what was the maximum length in minutes for the matches? [sep] how many matches are there?
how about for the age of losers and winners? [sep] how about for the age of losers and winners? [sep] average? [sep] what was the maximum length in minutes for the matches? [sep] how many matches are there?
how many distinct tourney names are there? [sep] how many distinct tourney names are there?
which ones have more than 20 matches? [sep] which ones have more than 20 matches? [sep] how many distinct tourney names are there?
more than 10? [sep] more than 10? [sep] which ones have more than 20 matches? [sep] how many distinct tourney names are there?
how many distinct winners played in 2013? [sep] how many distinct winners played in 2013?
of those, how many also played in 2016. [sep] of those, how many also played in 2016. [sep] how many distinct winners played in 2013?
what are their names? [sep] what are their names? [sep] of those, how many also played in 2016. [sep] how many distinct winners played in 2013?
how many matches were played? [sep] how many matches were played?
how many where the loser hand is l? [sep] how many where the loser hand is l? [sep] how many matches were played?
how many played in year 2013 or 2016? [sep] how many played in year 2013 or 2016? [sep] how many where the loser hand is l? [sep] how many matches were played?
how many players are there? [sep] how many players are there?
which ones won in the tourney wta championships? give their last name and birth date. [sep] which ones won in the tourney wta championships? give their last name and birth date. [sep] how many players are there?
give first name and country code instead. [sep] give first name and country code instead. [sep] which ones won in the tourney wta championships? give their last name and birth date. [sep] how many players are there?
which ones also won in the australian open? [sep] which ones also won in the australian open? [sep] give first name and country code instead. [sep] which ones won in the tourney wta championships? give their last name and birth date. [sep] how many players are there?
what is the birth date of the oldest player? [sep] what is the birth date of the oldest player?
give the player id and last name instead. [sep] give the player id and last name instead. [sep] what is the birth date of the oldest player?
give the first name and country code instead. [sep] give the first name and country code instead. [sep] give the player id and last name instead. [sep] what is the birth date of the oldest player?
how many players have right / r hand? [sep] how many players have right / r hand?
left / l hand? [sep] left / l hand? [sep] how many players have right / r hand?
give their country code and birth date. [sep] give their country code and birth date. [sep] left / l hand? [sep] how many players have right / r hand?
order by their birth date, and give the first and last name instead. [sep] order by their birth date, and give the first and last name instead. [sep] give their country code and birth date. [sep] left / l hand? [sep] how many players have right / r hand?
how many players are there? [sep] how many players are there?
how many tours did the player who did the least number of tours do? [sep] how many tours did the player who did the least number of tours do? [sep] how many players are there?
most number of tours? [sep] most number of tours? [sep] how many tours did the player who did the least number of tours do? [sep] how many players are there?
give the first name and country code instead. [sep] give the first name and country code instead. [sep] most number of tours? [sep] how many tours did the player who did the least number of tours do? [sep] how many players are there?
how many matches are there? [sep] how many matches are there?
find the surface that has the most number. [sep] find the surface that has the most number. [sep] how many matches are there?
what about the year? [sep] what about the year? [sep] find the surface that has the most number. [sep] how many matches are there?
find the name of the loser who lost the most times. [sep] find the name of the loser who lost the most times.
give the rank points as well. [sep] give the rank points as well. [sep] find the name of the loser who lost the most times.
give the same, but for the winner who won the most times. [sep] give the same, but for the winner who won the most times. [sep] give the rank points as well. [sep] find the name of the loser who lost the most times.
give the name of the loser who has the highest rank points. [sep] give the name of the loser who has the highest rank points.
do the same but for the australian open tourney. [sep] do the same but for the australian open tourney. [sep] give the name of the loser who has the highest rank points.
give the winner name instead. [sep] give the winner name instead. [sep] do the same but for the australian open tourney. [sep] give the name of the loser who has the highest rank points.
give the length of the match in minutes of the shortest match. [sep] give the length of the match in minutes of the shortest match.
longest match? [sep] longest match? [sep] give the length of the match in minutes of the shortest match.
give the winner and loser name instead. [sep] give the winner and loser name instead. [sep] longest match? [sep] give the length of the match in minutes of the shortest match.
find the birth dates of each of the players. [sep] find the birth dates of each of the players.
find tours and first name instead. [sep] find tours and first name instead. [sep] find the birth dates of each of the players.
give the average ranking instead of the tours. [sep] give the average ranking instead of the tours. [sep] find tours and first name instead. [sep] find the birth dates of each of the players.
give the number of tours for each player. [sep] give the number of tours for each player.
give the average rank points and first name. [sep] give the average rank points and first name. [sep] give the number of tours for each player.
find the total ranking points instead. [sep] find the total ranking points instead. [sep] give the average rank points and first name. [sep] give the number of tours for each player.
find the number of players for each country. [sep] find the number of players for each country.
which country has the least number of players? give the country code. [sep] which country has the least number of players? give the country code. [sep] find the number of players for each country.
greatest number? [sep] greatest number? [sep] which country has the least number of players? give the country code. [sep] find the number of players for each country.
what is the number of players for each hand type? give the hand type as well. [sep] what is the number of players for each hand type? give the hand type as well.
for each country? [sep] for each country? [sep] what is the number of players for each hand type? give the hand type as well.
give the ones that have more than 50 players. [sep] give the ones that have more than 50 players. [sep] for each country? [sep] what is the number of players for each hand type? give the hand type as well.
give the country code only. [sep] give the country code only. [sep] give the ones that have more than 50 players. [sep] for each country? [sep] what is the number of players for each hand type? give the hand type as well.
give the name of the 3 oldest losers across all matches. [sep] give the name of the 3 oldest losers across all matches.
how about the 3 oldest winners. [sep] how about the 3 oldest winners. [sep] give the name of the 3 oldest losers across all matches.
youngest? give the rank as well. [sep] youngest? give the rank as well. [sep] how about the 3 oldest winners. [sep] give the name of the 3 oldest losers across all matches.
how  many different losers participated in the australian open? [sep] how  many different losers participated in the australian open?
winners? [sep] winners? [sep] how  many different losers participated in the australian open?
how about in the wta championships, and were also left handed? [sep] how about in the wta championships, and were also left handed? [sep] winners? [sep] how  many different losers participated in the australian open?
list all conductor information. [sep] list all conductor information.
how many conductors are there? [sep] how many conductors are there? [sep] list all conductor information.
what are the names of the conductors? [sep] what are the names of the conductors?
what are the ages of the conductors? [sep] what are the ages of the conductors? [sep] what are the names of the conductors?
list the names of conductors in ascending order of age. [sep] list the names of conductors in ascending order of age. [sep] what are the ages of the conductors? [sep] what are the names of the conductors?
list the names of conductors [sep] list the names of conductors

among these conductors, which of them are not from the usa? [sep] among these conductors, which of them are not from the usa? [sep] list the names of conductors
list the information of record companies. [sep] list the information of record companies.
when were they founded? [sep] when were they founded? [sep] list the information of record companies.
please list the record companies of orchestras in descending order of years in which they were founded. [sep] please list the record companies of orchestras in descending order of years in which they were founded. [sep] when were they founded? [sep] list the information of record companies.
what is the attendance of each show? [sep] what is the attendance of each show?
what is the average attendance? [sep] what is the average attendance? [sep] what is the attendance of each show?
what are the shares of performances? [sep] what are the shares of performances?
what are the shares of performances whose type is not "live final"? [sep] what are the shares of performances whose type is not "live final"? [sep] what are the shares of performances?
what are the maximum and the minimum of these values? [sep] what are the maximum and the minimum of these values? [sep] what are the shares of performances whose type is not "live final"? [sep] what are the shares of performances?
list the nationalities of conductors. [sep] list the nationalities of conductors.
how many are there? [sep] how many are there? [sep] list the nationalities of conductors.
list the names of conductors. [sep] list the names of conductors.
list years of work of conductors. [sep] list years of work of conductors. [sep] list the names of conductors.
list names of conductors in descending order of years of work. [sep] list names of conductors in descending order of years of work. [sep] list years of work of conductors. [sep] list the names of conductors.
list the names of the conductors. [sep] list the names of the conductors.
list years of work of conductors. [sep] list years of work of conductors. [sep] list the names of the conductors.
list the name of the conductor with the most years of work. [sep] list the name of the conductor with the most years of work. [sep] list years of work of conductors. [sep] list the names of the conductors.
show the names of conductors. [sep] show the names of conductors.
please list these names with the orchestras they have conducted. [sep] please list these names with the orchestras they have conducted. [sep] show the names of conductors.
please show the names of the conductors. [sep] please show the names of the conductors.
which of them have conducted more than one orchestras? [sep] which of them have conducted more than one orchestras? [sep] please show the names of the conductors.
please show the names of the conductors. [sep] please show the names of the conductors.
who has conducted the most orchestras? [sep] who has conducted the most orchestras? [sep] please show the names of the conductors.
please show the names of the conductors. [sep] please show the names of the conductors.
who has conducted orchestras founded after 2008? [sep] who has conducted orchestras founded after 2008? [sep] please show the names of the conductors.
please show the record companies without duplicates. [sep] please show the record companies without duplicates.
please also show their corresponding number of orchestras. [sep] please also show their corresponding number of orchestras. [sep] please show the record companies without duplicates.
please show the record formats of orchestras. [sep] please show the record formats of orchestras.
please list them in ascending order of count. [sep] please list them in ascending order of count. [sep] please show the record formats of orchestras.
list the information of all record companies. [sep] list the information of all record companies.
which one is shared by the most orchestras? [sep] which one is shared by the most orchestras? [sep] list the information of all record companies.
list the names of orchestras. [sep] list the names of orchestras.
which of them have had no performances? [sep] which of them have had no performances? [sep] list the names of orchestras.
please list the record companies. [sep] please list the record companies.
which of them are shared by orchestras founded before 2003? [sep] which of them are shared by orchestras founded before 2003? [sep] please list the record companies.
which of them are shared by orchestras founded after 2003? [sep] which of them are shared by orchestras founded after 2003? [sep] which of them are shared by orchestras founded before 2003? [sep] please list the record companies.
which of them are shared by orchestras founded before 2003 and after 2003? [sep] which of them are shared by orchestras founded before 2003 and after 2003? [sep] which of them are shared by orchestras founded after 2003? [sep] which of them are shared by orchestras founded before 2003? [sep] please list the record companies.
list the orchestras whose record format is "cd" or "dvd". [sep] list the orchestras whose record format is "cd" or "dvd".
how many of these orchestras are there? [sep] how many of these orchestras are there? [sep] list the orchestras whose record format is "cd" or "dvd".
show information for all documents. [sep] show information for all documents.
show their ids. [sep] show their ids. [sep] show information for all documents.
also show their document names and document descriptions. [sep] also show their document names and document descriptions. [sep] show their ids. [sep] show information for all documents.
show the document name for all documents. [sep] show the document name for all documents.
also show their description. [sep] also show their description. [sep] show the document name for all documents.
which one has description with the letter 'w' in it? [sep] which one has description with the letter 'w' in it? [sep] also show their description. [sep] show the document name for all documents.
show its name and template id. [sep] show its name and template id. [sep] which one has description with the letter 'w' in it? [sep] also show their description. [sep] show the document name for all documents.
show the the document name for all documents. [sep] show the the document name for all documents.
show the document id for the one named "robbin cv"? [sep] show the document id for the one named "robbin cv"? [sep] show the the document name for all documents.
also show its template id and description. [sep] also show its template id and description. [sep] show the document id for the one named "robbin cv"? [sep] show the the document name for all documents.
show the template id for all documents. [sep] show the template id for all documents.
show all distinct results. [sep] show all distinct results. [sep] show the template id for all documents.
how many are there? [sep] how many are there? [sep] show all distinct results. [sep] show the template id for all documents.
show the document ids. [sep] show the document ids.
also show their template id and template type code. [sep] also show their template id and template type code. [sep] show the document ids.
which documents are using the template with type code 'ppt'? [sep] which documents are using the template with type code 'ppt'? [sep] also show their template id and template type code. [sep] show the document ids.
how many are there? [sep] how many are there? [sep] which documents are using the template with type code 'ppt'? [sep] also show their template id and template type code. [sep] show the document ids.
show the template id for all documents. [sep] show the template id for all documents.
for each of them, show the number of documents using it. [sep] for each of them, show the number of documents using it. [sep] show the template id for all documents.
show the template id for all documents. [sep] show the template id for all documents.
also show its template type code. [sep] also show its template type code. [sep] show the template id for all documents.
for each of them, show the number of documents using it. [sep] for each of them, show the number of documents using it. [sep] also show its template type code. [sep] show the template id for all documents.
which one has the most? [sep] which one has the most? [sep] for each of them, show the number of documents using it. [sep] also show its template type code. [sep] show the template id for all documents.
show the template id for all documents. [sep] show the template id for all documents.
for each of them, show the number of documents. [sep] for each of them, show the number of documents. [sep] show the template id for all documents.
which of them are used by more than one document? [sep] which of them are used by more than one document? [sep] for each of them, show the number of documents. [sep] show the template id for all documents.
show template ids used by some document. [sep] show template ids used by some document.
show all template ids. [sep] show all template ids. [sep] show template ids used by some document.
which of them are not used by any document? [sep] which of them are not used by any document? [sep] show all template ids. [sep] show template ids used by some document.
show info for all templates. [sep] show info for all templates.
how many are there? [sep] how many are there? [sep] show info for all templates.
show template ids for all templates. [sep] show template ids for all templates.
also show their version numbers and template type codes. [sep] also show their version numbers and template type codes. [sep] show template ids for all templates.
show all template type codes for all templates. [sep] show all template type codes for all templates.
filter out duplicates. [sep] filter out duplicates. [sep] show all template type codes for all templates.
show the template ids for all templates. [sep] show the template ids for all templates.
how about the ids with template type code pp or ppt? [sep] how about the ids with template type code pp or ppt? [sep] show the template ids for all templates.
show the template type codes for all templates. [sep] show the template type codes for all templates.
how many of them have template type code cv? [sep] how many of them have template type code cv? [sep] show the template type codes for all templates.
what is the version number for all template? [sep] what is the version number for all template?
only show those with version number later than 5. [sep] only show those with version number later than 5. [sep] what is the version number for all template?
also show their template type code. [sep] also show their template type code. [sep] only show those with version number later than 5. [sep] what is the version number for all template?
show the template type code for all templates. [sep] show the template type code for all templates.
for each of them, count the number of templates [sep] for each of them, count the number of templates [sep] show the template type code for all templates.
show all type codes for templates. [sep] show all type codes for templates.
for each of them, how many templates do they contain? [sep] for each of them, how many templates do they contain? [sep] show all type codes for templates.
which of them contains the most templates? [sep] which of them contains the most templates? [sep] for each of them, how many templates do they contain? [sep] show all type codes for templates.
show all template type codes. [sep] show all template type codes.
for each of them, show the count of templates. [sep] for each of them, show the count of templates. [sep] show all template type codes.
which of them have fewer than three templates? [sep] which of them have fewer than three templates? [sep] for each of them, show the count of templates. [sep] show all template type codes.
show the version number for all templates. [sep] show the version number for all templates.
what is the smallest value? [sep] what is the smallest value? [sep] show the version number for all templates.
also show its template type code. [sep] also show its template type code. [sep] what is the smallest value? [sep] show the version number for all templates.
what is the template type code of the template. [sep] what is the template type code of the template.
also show the names of all documents using each template. [sep] also show the names of all documents using each template. [sep] what is the template type code of the template.
which of the template type codes is used by document with the name "data base"? [sep] which of the template type codes is used by document with the name "data base"? [sep] also show the names of all documents using each template. [sep] what is the template type code of the template.
show all document names. [sep] show all document names.
also show their template type codes. [sep] also show their template type codes. [sep] show all document names.
which of the documents are using templates with template type code bk? [sep] which of the documents are using templates with template type code bk? [sep] also show their template type codes. [sep] show all document names.
show all template type codes. [sep] show all template type codes.
also show the document ids using each template. [sep] also show the document ids using each template. [sep] show all template type codes.
for each type code, how many documents are using that template? [sep] for each type code, how many documents are using that template? [sep] also show the document ids using each template. [sep] show all template type codes.
show the type codes for all templates. [sep] show the type codes for all templates.
for each, how many documents are using this template? [sep] for each, how many documents are using this template? [sep] show the type codes for all templates.
order the template type codes in descending order by this number. [sep] order the template type codes in descending order by this number. [sep] for each, how many documents are using this template? [sep] show the type codes for all templates.
which of them has the most? [sep] which of them has the most? [sep] order the template type codes in descending order by this number. [sep] for each, how many documents are using this template? [sep] show the type codes for all templates.
show all template type codes. [sep] show all template type codes.
show all template type codes that are used by some document. [sep] show all template type codes that are used by some document. [sep] show all template type codes.
how about those that are not used by any document? [sep] how about those that are not used by any document? [sep] show all template type codes that are used by some document. [sep] show all template type codes.
show all template type codes. [sep] show all template type codes.
also show their descriptions. [sep] also show their descriptions. [sep] show all template type codes.
show all template type codes and descriptions. [sep] show all template type codes and descriptions.
what is the description for template type code "ad"? [sep] what is the description for template type code "ad"? [sep] show all template type codes and descriptions.
show all template type codes. [sep] show all template type codes.
also show descriptions. [sep] also show descriptions. [sep] show all template type codes.
which code has template type description "book"? [sep] which code has template type description "book"? [sep] also show descriptions. [sep] show all template type codes.
show the template ids used by any document. [sep] show the template ids used by any document.
also show the template type code for those ids. [sep] also show the template type code for those ids. [sep] show the template ids used by any document.
how about their template type descriptions? [sep] how about their template type descriptions? [sep] also show the template type code for those ids. [sep] show the template ids used by any document.
show the distinct values among them. [sep] show the distinct values among them. [sep] how about their template type descriptions? [sep] also show the template type code for those ids. [sep] show the template ids used by any document.
show the template id for all templates. [sep] show the template id for all templates.
also show their template type description. [sep] also show their template type description. [sep] show the template id for all templates.
what are the template ids with description "presentation"? [sep] what are the template ids with description "presentation"? [sep] also show their template type description. [sep] show the template id for all templates.
show the info for all paragraphs. [sep] show the info for all paragraphs.
how many are there? [sep] how many are there? [sep] show the info for all paragraphs.

show the id for all paragraphs. [sep] show the id for all paragraphs.
also show their document names. [sep] also show their document names. [sep] show the id for all paragraphs.
only show the id for all paragraphs in the document named 'summer show'. [sep] only show the id for all paragraphs in the document named 'summer show'. [sep] also show their document names. [sep] show the id for all paragraphs.
how many such paragraphs are there? [sep] how many such paragraphs are there? [sep] only show the id for all paragraphs in the document named 'summer show'. [sep] also show their document names. [sep] show the id for all paragraphs.
show the parapraph text for all paragraphs. [sep] show the parapraph text for all paragraphs.
also show their paragraph details. [sep] also show their paragraph details. [sep] show the parapraph text for all paragraphs.
what are the details for the paragraph containing 'korea'? [sep] what are the details for the paragraph containing 'korea'? [sep] also show their paragraph details. [sep] show the parapraph text for all paragraphs.
show all paragraph ids and texts. [sep] show all paragraph ids and texts.
for each of them, also show their document name. [sep] for each of them, also show their document name. [sep] show all paragraph ids and texts.
what are the ids and texts for the paragraph in the document with name 'welcome to ny'? [sep] what are the ids and texts for the paragraph in the document with name 'welcome to ny'? [sep] for each of them, also show their document name. [sep] show all paragraph ids and texts.
show all paragraph text. [sep] show all paragraph text.
for each of them, also show the document name. [sep] for each of them, also show the document name. [sep] show all paragraph text.
what is the text for the document "customer reviews"? [sep] what is the text for the document "customer reviews"? [sep] for each of them, also show the document name. [sep] show all paragraph text.
show the document id for all paragraphs. [sep] show the document id for all paragraphs.
for each id, show the number of paragraphs. [sep] for each id, show the number of paragraphs. [sep] show the document id for all paragraphs.
order by document id. [sep] order by document id. [sep] for each id, show the number of paragraphs. [sep] show the document id for all paragraphs.
show all document ids and names. [sep] show all document ids and names.
for each of them, count the number of paragraphs in each document. [sep] for each of them, count the number of paragraphs in each document. [sep] show all document ids and names.
show the document id for all paragraphs. [sep] show the document id for all paragraphs.
for each of these document ids, count the number of paragraphs. [sep] for each of these document ids, count the number of paragraphs. [sep] show the document id for all paragraphs.
which of them have at least two paragraphs? [sep] which of them have at least two paragraphs? [sep] for each of these document ids, count the number of paragraphs. [sep] show the document id for all paragraphs.
show the id number and name for all documents. [sep] show the id number and name for all documents.
also show the paragraph id for those documents. [sep] also show the paragraph id for those documents. [sep] show the id number and name for all documents.
for each of these results, count the number of paragraphs. [sep] for each of these results, count the number of paragraphs. [sep] also show the paragraph id for those documents. [sep] show the id number and name for all documents.
which of them is the longest? [sep] which of them is the longest? [sep] for each of these results, count the number of paragraphs. [sep] also show the paragraph id for those documents. [sep] show the id number and name for all documents.
show the document id for all paragraphs. [sep] show the document id for all paragraphs.
for each of them, count the number of paragraphs. [sep] for each of them, count the number of paragraphs. [sep] show the document id for all paragraphs.
sort them by these counts. [sep] sort them by these counts. [sep] for each of them, count the number of paragraphs. [sep] show the document id for all paragraphs.
which has the fewest? [sep] which has the fewest? [sep] sort them by these counts. [sep] for each of them, count the number of paragraphs. [sep] show the document id for all paragraphs.
show the document id for all paragraphs. [sep] show the document id for all paragraphs.
for each of these ids, show the number of paragraphs. [sep] for each of these ids, show the number of paragraphs. [sep] show the document id for all paragraphs.
which of them have between 1 and 2 paragraphs? [sep] which of them have between 1 and 2 paragraphs? [sep] for each of these ids, show the number of paragraphs. [sep] show the document id for all paragraphs.
show information for all singers. [sep] show information for all singers.
how many are there? [sep] how many are there? [sep] show information for all singers.
show names of all singers. [sep] show names of all singers.
for each of them, also show country and age. [sep] for each of them, also show country and age. [sep] show names of all singers.
list the results in descending order of their age. [sep] list the results in descending order of their age. [sep] for each of them, also show country and age. [sep] show names of all singers.
show age for all singers. [sep] show age for all singers.
what about age for those from france? [sep] what about age for those from france? [sep] show age for all singers.
what is the average, minimum, and maximum age for those? [sep] what is the average, minimum, and maximum age for those? [sep] what about age for those from france? [sep] show age for all singers.
show the names of all songs. [sep] show the names of all songs.
also show the release year for each of them. [sep] also show the release year for each of them. [sep] show the names of all songs.
order the result by the age of their singers. [sep] order the result by the age of their singers. [sep] also show the release year for each of them. [sep] show the names of all songs.
what is the result for the song by the yongest? [sep] what is the result for the song by the yongest? [sep] order the result by the age of their singers. [sep] also show the release year for each of them. [sep] show the names of all songs.
show country for all singers. [sep] show country for all singers.
only show the results for those above 20. [sep] only show the results for those above 20. [sep] show country for all singers.
what are all distinct countries for them? [sep] what are all distinct countries for them? [sep] only show the results for those above 20. [sep] show country for all singers.
show the country for all singers. [sep] show the country for all singers.
for each of them, what is the number of singers? [sep] for each of them, what is the number of singers? [sep] show the country for all singers.
what is the average age for all singers? [sep] what is the average age for all singers?
show the name for songs by singers older than that. [sep] show the name for songs by singers older than that. [sep] what is the average age for all singers?
show the name for all stadiums. [sep] show the name for all stadiums.
what about those with a capacity between 5000 and 10000? [sep] what about those with a capacity between 5000 and 10000? [sep] show the name for all stadiums.
also list the location for them. [sep] also list the location for them. [sep] what about those with a capacity between 5000 and 10000? [sep] show the name for all stadiums.
show the capacity for all stadiums. [sep] show the capacity for all stadiums.
what is the average of them? [sep] what is the average of them? [sep] show the capacity for all stadiums.
also show the maximum. [sep] also show the maximum. [sep] what is the average of them? [sep] show the capacity for all stadiums.
show the name and capacity for all stadiums. [sep] show the name and capacity for all stadiums.
show the result in descending order of their average attendance. [sep] show the result in descending order of their average attendance. [sep] show the name and capacity for all stadiums.
which one has the highest? [sep] which one has the highest? [sep] show the result in descending order of their average attendance. [sep] show the name and capacity for all stadiums.
show the concert information in year 2014. [sep] show the concert information in year 2014.
also show those in year 2015. [sep] also show those in year 2015. [sep] show the concert information in year 2014.
how many are there in total? [sep] how many are there in total? [sep] also show those in year 2015. [sep] show the concert information in year 2014.
show the names of stadiums. [sep] show the names of stadiums.
for each of them, also show the number of concerts. [sep] for each of them, also show the number of concerts. [sep] show the names of stadiums.
show all stadium names and their capacities. [sep] show all stadium names and their capacities.
order the results in descending order of the number of concerts in year 2014 or after. [sep] order the results in descending order of the number of concerts in year 2014 or after. [sep] show all stadium names and their capacities.
which one has the most? [sep] which one has the most? [sep] order the results in descending order of the number of concerts in year 2014 or after. [sep] show all stadium names and their capacities.
show the year for all concerts. [sep] show the year for all concerts.
order them in descending order of the number of concerts [sep] order them in descending order of the number of concerts [sep] show the year for all concerts.
which year has the most? [sep] which year has the most? [sep] order them in descending order of the number of concerts [sep] show the year for all concerts.
show all stadium ids of concerts. [sep] show all stadium ids of concerts.
show the stadium names without any concert. [sep] show the stadium names without any concert. [sep] show all stadium ids of concerts.
show the country for all singers. [sep] show the country for all singers.
how about those for singers above age 40? [sep] how about those for singers above age 40? [sep] show the country for all singers.
how about those for singers below 30? [sep] how about those for singers below 30? [sep] how about those for singers above age 40? [sep] show the country for all singers.
how about countries with both? [sep] how about countries with both? [sep] how about those for singers below 30? [sep] how about those for singers above age 40? [sep] show the country for all singers.
show name for stadiums that had a concert in year 2014. [sep] show name for stadiums that had a concert in year 2014.
show names for all stadiums except for those. [sep] show names for all stadiums except for those. [sep] show name for stadiums that had a concert in year 2014.
show the name and theme for all concerts. [sep] show the name and theme for all concerts.
for each of those, also show the number of singers. [sep] for each of those, also show the number of singers. [sep] show the name and theme for all concerts.
show the name for all singers. [sep] show the name for all singers.
for each of them, also show the number of concerts [sep] for each of them, also show the number of concerts [sep] show the name for all singers.
list all singer names. [sep] list all singer names.
how about those performing concerts in year 2014? [sep] how about those performing concerts in year 2014? [sep] list all singer names.
what are the names of all singers? [sep] what are the names of all singers?
show the names for those having a song having 'hey' in its name. [sep] show the names for those having a song having 'hey' in its name. [sep] what are the names of all singers?
also show the nation for those singers. [sep] also show the nation for those singers. [sep] show the names for those having a song having 'hey' in its name. [sep] what are the names of all singers?
show the name and location for the stadiums. [sep] show the name and location for the stadiums.
how about those with some concerts happened in the year 2014? [sep] how about those with some concerts happened in the year 2014? [sep] show the name and location for the stadiums.
among those, what are stadiums also holding some concerts in the year 2015? [sep] among those, what are stadiums also holding some concerts in the year 2015? [sep] how about those with some concerts happened in the year 2014? [sep] show the name and location for the stadiums.
show the names and birth years of singers [sep] show the names and birth years of singers
only for the ones born in 1948. [sep] only for the ones born in 1948. [sep] show the names and birth years of singers
show the name of singers whose birth year is either 1948 or 1949? [sep] show the name of singers whose birth year is either 1948 or 1949? [sep] only for the ones born in 1948. [sep] show the names and birth years of singers
show the name and net worth of the singers. [sep] show the name and net worth of the singers.
order by richest first. [sep] order by richest first. [sep] show the name and net worth of the singers.
what is the name of the singer with the largest net worth? [sep] what is the name of the singer with the largest net worth? [sep] order by richest first. [sep] show the name and net worth of the singers.
show the names and citizenships of singers. [sep] show the names and citizenships of singers.
show citizenship counts. [sep] show citizenship counts. [sep] show the names and citizenships of singers.
sort that by most common first. [sep] sort that by most common first. [sep] show citizenship counts. [sep] show the names and citizenships of singers.
limit it to one. [sep] limit it to one. [sep] sort that by most common first. [sep] show citizenship counts. [sep] show the names and citizenships of singers.
join singer names with their song titles. [sep] join singer names with their song titles.
limit the entries to where song sales exceed 300000. [sep] limit the entries to where song sales exceed 300000. [sep] join singer names with their song titles.
which are the distinct names in that list? [sep] which are the distinct names in that list? [sep] limit the entries to where song sales exceed 300000. [sep] join singer names with their song titles.
show the names and song counts of singers. [sep] show the names and song counts of singers.
show the names of singers that have more than one song. [sep] show the names of singers that have more than one song. [sep] show the names and song counts of singers.
show the songs and sale amounts. [sep] show the songs and sale amounts.
show the names of singers and the total sales of their songs. [sep] show the names of singers and the total sales of their songs. [sep] show the songs and sale amounts.
which singer ids have at least one song? [sep] which singer ids have at least one song?
which singer names do not? [sep] which singer names do not? [sep] which singer ids have at least one song?
find all employees who are under age 30. [sep] find all employees who are under age 30.

which cities did they come from? [sep] which cities did they come from? [sep] find all employees who are under age 30.
show the cities from which more than one employee originated. [sep] show the cities from which more than one employee originated. [sep] which cities did they come from? [sep] find all employees who are under age 30.
show all shops. [sep] show all shops.
what is the total number of products they are selling? [sep] what is the total number of products they are selling? [sep] show all shops.
find the name of the shop with the greatest number of products. [sep] find the name of the shop with the greatest number of products. [sep] what is the total number of products they are selling? [sep] show all shops.
what are its manager name and district? [sep] what are its manager name and district? [sep] find the name of the shop with the greatest number of products. [sep] what is the total number of products they are selling? [sep] show all shops.
find the average number of products of all stores. [sep] find the average number of products of all stores.
how about the minimum and maximum? [sep] how about the minimum and maximum? [sep] find the average number of products of all stores.
show the name and number of product for all shops. [sep] show the name and number of product for all shops.
what is the average number of products? [sep] what is the average number of products? [sep] show the name and number of product for all shops.
find the names of stores whose number products is less than the average. [sep] find the names of stores whose number products is less than the average. [sep] what is the average number of products? [sep] show the name and number of product for all shops.
how about more than? [sep] how about more than? [sep] find the names of stores whose number products is less than the average. [sep] what is the average number of products? [sep] show the name and number of product for all shops.
how many evaluations are there? [sep] how many evaluations are there?
what years were they given? [sep] what years were they given? [sep] how many evaluations are there?
find the name of the employee who received the most evaluation awards. [sep] find the name of the employee who received the most evaluation awards. [sep] what years were they given? [sep] how many evaluations are there?
find the name of the employees who received past evaluation awards. [sep] find the name of the employees who received past evaluation awards.
who won the most times? [sep] who won the most times? [sep] find the name of the employees who received past evaluation awards.
ok, which one received the award with the highest bonus? [sep] ok, which one received the award with the highest bonus? [sep] who won the most times? [sep] find the name of the employees who received past evaluation awards.
find the number of different employees who were awarded in the past evaluations. [sep] find the number of different employees who were awarded in the past evaluations.
what are their names? [sep] what are their names? [sep] find the number of different employees who were awarded in the past evaluations.
show the names of the employees who never won. [sep] show the names of the employees who never won. [sep] what are their names? [sep] find the number of different employees who were awarded in the past evaluations.
how many shops are hiring? [sep] how many shops are hiring?
what are the shops' names?' [sep] what are the shops' names?' [sep] how many shops are hiring?
which one is hiring the largest number of employees? [sep] which one is hiring the largest number of employees? [sep] what are the shops' names?' [sep] how many shops are hiring?
show all hiring info. [sep] show all hiring info.
find the names of any shops not hiring. [sep] find the names of any shops not hiring. [sep] show all hiring info.
how many employees are being hired in all shops? [sep] how many employees are being hired in all shops?
show the number for each shop. show the shop name as well. [sep] show the number for each shop. show the shop name as well. [sep] how many employees are being hired in all shops?
show all visitors. [sep] show all visitors.
order them by their membership level from high to low. [sep] order them by their membership level from high to low. [sep] show all visitors.
just show their names. [sep] just show their names. [sep] order them by their membership level from high to low. [sep] show all visitors.
do not list those whose membership level is lower than or equal to 4. [sep] do not list those whose membership level is lower than or equal to 4. [sep] just show their names. [sep] order them by their membership level from high to low. [sep] show all visitors.
find the number of visitors with a membership level higher than 4. [sep] find the number of visitors with a membership level higher than 4.
what are their names and membership levels? [sep] what are their names and membership levels? [sep] find the number of visitors with a membership level higher than 4.
sort by their age from old to young. [sep] sort by their age from old to young. [sep] what are their names and membership levels? [sep] find the number of visitors with a membership level higher than 4.
how many museums are in the table? [sep] how many museums are in the table?
what is the average number of staff working in these museums? [sep] what is the average number of staff working in these museums? [sep] how many museums are in the table?
find the name of the museum that has the most staff members. [sep] find the name of the museum that has the most staff members. [sep] what is the average number of staff working in these museums? [sep] how many museums are in the table?
what is its id? [sep] what is its id? [sep] find the name of the museum that has the most staff members. [sep] what is the average number of staff working in these museums? [sep] how many museums are in the table?
find the names of museums opened before 2010. [sep] find the names of museums opened before 2010.
how about after? [sep] how about after? [sep] find the names of museums opened before 2010.
find the minimum number of staff of those museums. [sep] find the minimum number of staff of those museums. [sep] how about after? [sep] find the names of museums opened before 2010.
find the names of museums which have more staff than that. [sep] find the names of museums which have more staff than that. [sep] find the minimum number of staff of those museums. [sep] how about after? [sep] find the names of museums opened before 2010.
find the names of visitors who visited and who have some museum visit records. [sep] find the names of visitors who visited and who have some museum visit records.
which of them visited some museums more than once? [sep] which of them visited some museums more than once? [sep] find the names of visitors who visited and who have some museum visit records.
also show their ids and ages. [sep] also show their ids and ages. [sep] which of them visited some museums more than once? [sep] find the names of visitors who visited and who have some museum visit records.
what is the total spent on all visits? [sep] what is the total spent on all visits?
find the name of the visitor who has spent the most money for his or her visits. [sep] find the name of the visitor who has spent the most money for his or her visits. [sep] what is the total spent on all visits?
what are his id and membership level? [sep] what are his id and membership level? [sep] find the name of the visitor who has spent the most money for his or her visits. [sep] what is the total spent on all visits?
show the id and name of all museums. [sep] show the id and name of all museums.
show the number of tickets sold for each of them. [sep] show the number of tickets sold for each of them. [sep] show the id and name of all museums.
which one was visited the most times? [sep] which one was visited the most times? [sep] show the number of tickets sold for each of them. [sep] show the id and name of all museums.
how many museums are there? [sep] how many museums are there?
how many of them have not had any visitors yet? [sep] how many of them have not had any visitors yet? [sep] how many museums are there?
what are their names? [sep] what are their names? [sep] how many of them have not had any visitors yet? [sep] how many museums are there?
how many tickets were sold from all of the museums? [sep] how many tickets were sold from all of the museums?
find the id of the visitor who bought the most tickets at once. [sep] find the id of the visitor who bought the most tickets at once. [sep] how many tickets were sold from all of the museums?
find the name and age of this visitor. [sep] find the name and age of this visitor. [sep] find the id of the visitor who bought the most tickets at once. [sep] how many tickets were sold from all of the museums?
find the total cost of all visits. [sep] find the total cost of all visits.
what was the amount of the largest one time purchase of tickets out of all visits? [sep] what was the amount of the largest one time purchase of tickets out of all visits? [sep] find the total cost of all visits.
how about the average and maximum number of tickets purchased? [sep] how about the average and maximum number of tickets purchased? [sep] what was the amount of the largest one time purchase of tickets out of all visits? [sep] find the total cost of all visits.
what is the lowest level of membership? [sep] what is the lowest level of membership?
find the number of visitors whose membership level is 1. [sep] find the number of visitors whose membership level is 1. [sep] what is the lowest level of membership?
show the ticket expenses of all of their museum visits. [sep] show the ticket expenses of all of their museum visits. [sep] find the number of visitors whose membership level is 1. [sep] what is the lowest level of membership?
what is the total amount of money spent? [sep] what is the total amount of money spent? [sep] show the ticket expenses of all of their museum visits. [sep] find the number of visitors whose membership level is 1. [sep] what is the lowest level of membership?
find the names of museums opened before 2009. [sep] find the names of museums opened before 2009.
what about those opened after 2011? [sep] what about those opened after 2011? [sep] find the names of museums opened before 2009.
what is the name of the visitor who visited both groups of museums? [sep] what is the name of the visitor who visited both groups of museums? [sep] what about those opened after 2011? [sep] find the names of museums opened before 2009.
find the names of museums opened after 2010 [sep] find the names of museums opened after 2010
find the number of visits to these museums? [sep] find the number of visits to these museums? [sep] find the names of museums opened after 2010
find the number of visitors who did not visit these museums. [sep] find the number of visitors who did not visit these museums. [sep] find the number of visits to these museums? [sep] find the names of museums opened after 2010
how many high schoolers are there? [sep] how many high schoolers are there?
how many in each grade 11 or 12? [sep] how many in each grade 11 or 12? [sep] how many high schoolers are there?
how many in grade 9 or 10? [sep] how many in grade 9 or 10? [sep] how many in each grade 11 or 12? [sep] how many high schoolers are there?
how many distinct grades are there? [sep] how many distinct grades are there?
what are they? [sep] what are they? [sep] how many distinct grades are there?
which one has the least number of highschoolers? [sep] which one has the least number of highschoolers? [sep] what are they? [sep] how many distinct grades are there?
which one has the most? [sep] which one has the most? [sep] which one has the least number of highschoolers? [sep] what are they? [sep] how many distinct grades are there?
how many highschoolers are there in total? [sep] how many highschoolers are there in total?
how many per grade? [sep] how many per grade? [sep] how many highschoolers are there in total?
what grades have at least 10 students? [sep] what grades have at least 10 students? [sep] how many per grade? [sep] how many highschoolers are there in total?
how about at least 4? [sep] how about at least 4? [sep] what grades have at least 10 students? [sep] how many per grade? [sep] how many highschoolers are there in total?
what are the names of all the high school students? [sep] what are the names of all the high school students?
show the names of the friends for each one. [sep] show the names of the friends for each one. [sep] what are the names of all the high school students?
how many friends does each student each have? [sep] how many friends does each student each have? [sep] show the names of the friends for each one. [sep] what are the names of all the high school students?
what are the names of all the high schoolers? [sep] what are the names of all the high schoolers?
show me the number of friends for each one. [sep] show me the number of friends for each one. [sep] what are the names of all the high schoolers?
which one has the least number of friends? [sep] which one has the least number of friends? [sep] show me the number of friends for each one. [sep] what are the names of all the high schoolers?
how about the greatest? [sep] how about the greatest? [sep] which one has the least number of friends? [sep] show me the number of friends for each one. [sep] what are the names of all the high schoolers?
how many highschoolers have more than 5? [sep] how many highschoolers have more than 5?
at least 3? [sep] at least 3? [sep] how many highschoolers have more than 5?
what are their names? [sep] what are their names? [sep] at least 3? [sep] how many highschoolers have more than 5?
show me information on the high schooler named "kyle." [sep] show me information on the high schooler named "kyle."
how many friends does he have? [sep] how many friends does he have? [sep] show me information on the high schooler named "kyle."
what are their names? [sep] what are their names? [sep] how many friends does he have? [sep] show me information on the high schooler named "kyle."
is there a highschooler named kyle? [sep] is there a highschooler named kyle?
who does he like? [sep] who does he like? [sep] is there a highschooler named kyle?
what are the names of his friends? [sep] what are the names of his friends? [sep] who does he like? [sep] is there a highschooler named kyle?
how many are there? [sep] how many are there? [sep] what are the names of his friends? [sep] who does he like? [sep] is there a highschooler named kyle?
show me all the high school student ids. [sep] show me all the high school student ids.
how many friends do each of them have? [sep] how many friends do each of them have? [sep] show me all the high school student ids.
which ones have at least 1? [sep] which ones have at least 1? [sep] how many friends do each of them have? [sep] show me all the high school student ids.
which ones have none? [sep] which ones have none? [sep] which ones have at least 1? [sep] how many friends do each of them have? [sep] show me all the high school student ids.
what are the names of all the highshcool students? [sep] what are the names of all the highshcool students?
which ones have at least 5 friends? [sep] which ones have at least 5 friends? [sep] what are the names of all the highshcool students?
how about at least 1? [sep] how about at least 1? [sep] which ones have at least 5 friends? [sep] what are the names of all the highshcool students?
how about 0? [sep] how about 0? [sep] how about at least 1? [sep] which ones have at least 5 friends? [sep] what are the names of all the highshcool students?
show me the ids of all highschoolers who have friends? [sep] show me the ids of all highschoolers who have friends?
also show, for each, the ids of the people they like? [sep] also show, for each, the ids of the people they like? [sep] show me the ids of all highschoolers who have friends?
now only show those who are liked by someone else! [sep] now only show those who are liked by someone else! [sep] also show, for each, the ids of the people they like? [sep] show me the ids of all highschoolers who have friends?
show me just their ids! [sep] show me just their ids! [sep] now only show those who are liked by someone else! [sep] also show, for each, the ids of the people they like? [sep] show me the ids of all highschoolers who have friends?
how many high schoolers are liked by someone else? [sep] how many high schoolers are liked by someone else?
what are their names? [sep] what are their names? [sep] how many high schoolers are liked by someone else?
how many of them have friends? [sep] how many of them have friends? [sep] what are their names? [sep] how many high schoolers are liked by someone else?
who are they? [sep] who are they? [sep] how many of them have friends? [sep] what are their names? [sep] how many high schoolers are liked by someone else?
what are the names of the highschoolers who don't like anyone? [sep] what are the names of the highschoolers who don't like anyone?
how about those who like others? [sep] how about those who like others? [sep] what are the names of the highschoolers who don't like anyone?

how many people do they each like? [sep] how many people do they each like? [sep] how about those who like others? [sep] what are the names of the highschoolers who don't like anyone?
how many high schoolers like somebody else? [sep] how many high schoolers like somebody else?
what are their names? [sep] what are their names? [sep] how many high schoolers like somebody else?
what is the greatest number of likes anyone has? [sep] what is the greatest number of likes anyone has? [sep] what are their names? [sep] how many high schoolers like somebody else?
who has the greatest number of likes? [sep] who has the greatest number of likes? [sep] what is the greatest number of likes anyone has? [sep] what are their names? [sep] how many high schoolers like somebody else?
show me the names of all students? [sep] show me the names of all students?
how about those who like at least one other person! [sep] how about those who like at least one other person! [sep] show me the names of all students?
how about those who like at least two other students! [sep] how about those who like at least two other students! [sep] how about those who like at least one other person! [sep] show me the names of all students?
what are the names of the students who have some friends? [sep] what are the names of the students who have some friends?
how about those have at least 2 friends? [sep] how about those have at least 2 friends? [sep] what are the names of the students who have some friends?
what grades are they each in? [sep] what grades are they each in? [sep] how about those have at least 2 friends? [sep] what are the names of the students who have some friends?
show me the names of only those who are in a grade higher than 5! [sep] show me the names of only those who are in a grade higher than 5! [sep] what grades are they each in? [sep] how about those have at least 2 friends? [sep] what are the names of the students who have some friends?
what grade is the student named kyle in? [sep] what grade is the student named kyle in?
how many other students like him? [sep] how many other students like him? [sep] what grade is the student named kyle in?
what are their names? [sep] what are their names? [sep] how many other students like him? [sep] what grade is the student named kyle in?
how many other students does he like? [sep] how many other students does he like? [sep] what are their names? [sep] how many other students like him? [sep] what grade is the student named kyle in?
show me the student_id and the grade for all students. [sep] show me the student_id and the grade for all students.
what is the average grade? [sep] what is the average grade? [sep] show me the student_id and the grade for all students.
how about for students who have no friends? [sep] how about for students who have no friends? [sep] what is the average grade? [sep] show me the student_id and the grade for all students.
how about for those who have some friends? [sep] how about for those who have some friends? [sep] how about for students who have no friends? [sep] what is the average grade? [sep] show me the student_id and the grade for all students.
show all the teachers. [sep] show all the teachers.
how many are there? [sep] how many are there? [sep] show all the teachers.
what is the name of each teacher? [sep] what is the name of each teacher?
sort them in ascending order of age. [sep] sort them in ascending order of age. [sep] what is the name of each teacher?
what is the age of each teacher? [sep] what is the age of each teacher?
also show the hometown for each. [sep] also show the hometown for each. [sep] what is the age of each teacher?
what is the hometown of each teacher? [sep] what is the hometown of each teacher?
which teacher's hometown is not "little lever urban district"? [sep] which teacher's hometown is not "little lever urban district"? [sep] what is the hometown of each teacher?
give me their names. [sep] give me their names. [sep] which teacher's hometown is not "little lever urban district"? [sep] what is the hometown of each teacher?
what are the ages of all the teachers? [sep] what are the ages of all the teachers?
which teachers are age 32? [sep] which teachers are age 32? [sep] what are the ages of all the teachers?
which teachers are age 32 or 33? [sep] which teachers are age 32 or 33? [sep] which teachers are age 32? [sep] what are the ages of all the teachers?
what are their names? [sep] what are their names? [sep] which teachers are age 32 or 33? [sep] which teachers are age 32? [sep] what are the ages of all the teachers?
sort all the teachers by their age. [sep] sort all the teachers by their age.
which teacher is the youngest? [sep] which teacher is the youngest? [sep] sort all the teachers by their age.
what is his or her hometown? [sep] what is his or her hometown? [sep] which teacher is the youngest? [sep] sort all the teachers by their age.
what is the hometown of each teacher? [sep] what is the hometown of each teacher?
can you order teachers by their hometowns? [sep] can you order teachers by their hometowns? [sep] what is the hometown of each teacher?
show the number of teachers from each hometown. [sep] show the number of teachers from each hometown. [sep] can you order teachers by their hometowns? [sep] what is the hometown of each teacher?
how many teachers are there? [sep] how many teachers are there?
how many are there for each hometown? [sep] how many are there for each hometown? [sep] how many teachers are there?
find the most common hometown of teachers. [sep] find the most common hometown of teachers. [sep] how many are there for each hometown? [sep] how many teachers are there?
how many teachers are there? [sep] how many teachers are there?
how many teachers are there for each hometown? [sep] how many teachers are there for each hometown? [sep] how many teachers are there?
which hometowns are shared by at least two teachers? [sep] which hometowns are shared by at least two teachers? [sep] how many teachers are there for each hometown? [sep] how many teachers are there?
find all the course arrangements. [sep] find all the course arrangements.
for each of the courses, show the teacher who teaches it. [sep] for each of the courses, show the teacher who teaches it. [sep] find all the course arrangements.
find all the course arrangements. [sep] find all the course arrangements.
show names of teachers and the courses they are arranged to teach. [sep] show names of teachers and the courses they are arranged to teach. [sep] find all the course arrangements.
sort the results by teacher's name [sep] sort the results by teacher's name [sep] show names of teachers and the courses they are arranged to teach. [sep] find all the course arrangements.
find all the course arrangements. [sep] find all the course arrangements.
show names of teachers and the courses they are arranged to teach. [sep] show names of teachers and the courses they are arranged to teach. [sep] find all the course arrangements.
which teachers teach the math course? give me their names. [sep] which teachers teach the math course? give me their names. [sep] show names of teachers and the courses they are arranged to teach. [sep] find all the course arrangements.
show all the teacher names. [sep] show all the teacher names.
show names of teachers and the number of courses they teach. [sep] show names of teachers and the number of courses they teach. [sep] show all the teacher names.
show all the teacher names. [sep] show all the teacher names.
show names of teachers and the number of courses they teach. [sep] show names of teachers and the number of courses they teach. [sep] show all the teacher names.
show the names of teachers who teach at least two courses. [sep] show the names of teachers who teach at least two courses. [sep] show names of teachers and the number of courses they teach. [sep] show all the teacher names.
show all the available features. [sep] show all the available features.
how many available features are there? [sep] how many available features are there? [sep] show all the available features.
find the available features with feature name "aircon". [sep] find the available features with feature name "aircon".
what is the feature type name? [sep] what is the feature type name? [sep] find the available features with feature name "aircon".
what is the property type description of each property? [sep] what is the property type description of each property?
show the property type descriptions of properties for each property type code. [sep] show the property type descriptions of properties for each property type code. [sep] what is the property type description of each property?
show all area codes and states. [sep] show all area codes and states.
how many are there? [sep] how many are there? [sep] show all area codes and states.
show all info about contestants. [sep] show all info about contestants.
what are their names? [sep] what are their names? [sep] show all info about contestants.
can you also show contestant numbers? [sep] can you also show contestant numbers? [sep] what are their names? [sep] show all info about contestants.
can you sort them ordered in descending order of contestant name? [sep] can you sort them ordered in descending order of contestant name? [sep] can you also show contestant numbers? [sep] what are their names? [sep] show all info about contestants.
show all info about votes. [sep] show all info about votes.
also provide vote ids. [sep] also provide vote ids. [sep] show all info about votes.
also show phone numbers. [sep] also show phone numbers. [sep] also provide vote ids. [sep] show all info about votes.
show all area codes. [sep] show all area codes.
what is the largest one? [sep] what is the largest one? [sep] show all area codes.
how about smallest one? [sep] how about smallest one? [sep] what is the largest one? [sep] show all area codes.
give me both. [sep] give me both. [sep] how about smallest one? [sep] what is the largest one? [sep] show all area codes.
show all votes. [sep] show all votes.
which ones are from the state 'ca'? [sep] which ones are from the state 'ca'? [sep] show all votes.
among those, can you give me the last date created? [sep] among those, can you give me the last date created? [sep] which ones are from the state 'ca'? [sep] show all votes.
show all contestants. [sep] show all contestants.
what are their names? [sep] what are their names? [sep] show all contestants.
can you not include the name 'jessie alloway'? [sep] can you not include the name 'jessie alloway'? [sep] what are their names? [sep] show all contestants.
show all votes? [sep] show all votes?
among these, what is the list of states? [sep] among these, what is the list of states? [sep] show all votes?
what are the distinct states and create time? [sep] what are the distinct states and create time? [sep] among these, what is the list of states? [sep] show all votes?
show all the contestants. [sep] show all the contestants.
show all the votes. [sep] show all the votes. [sep] show all the contestants.
can you show contestants with at least two votes? [sep] can you show contestants with at least two votes? [sep] show all the votes. [sep] show all the contestants.
what are their contestant numbers and names? [sep] what are their contestant numbers and names? [sep] can you show contestants with at least two votes? [sep] show all the votes. [sep] show all the contestants.
show all the contestants. [sep] show all the contestants.
show all the votes. [sep] show all the votes. [sep] show all the contestants.
can you show the contestant with the least votes? [sep] can you show the contestant with the least votes? [sep] show all the votes. [sep] show all the contestants.
what is his or her contestant number and contestant name? [sep] what is his or her contestant number and contestant name? [sep] can you show the contestant with the least votes? [sep] show all the votes. [sep] show all the contestants.
show all votes. [sep] show all votes.
what about those from state 'ny' or 'ca'? [sep] what about those from state 'ny' or 'ca'? [sep] show all votes.
give me the count of these votes. [sep] give me the count of these votes. [sep] what about those from state 'ny' or 'ca'? [sep] show all votes.
show all contestants [sep] show all contestants
which contestants did not get any votes? [sep] which contestants did not get any votes? [sep] show all contestants
how many are there? [sep] how many are there? [sep] which contestants did not get any votes? [sep] show all contestants
show all area codes and states. [sep] show all area codes and states.
show all votes. [sep] show all votes. [sep] show all area codes and states.
get the count of votes for each area code. [sep] get the count of votes for each area code. [sep] show all votes. [sep] show all area codes and states.
what is the area code in which the most voters voted? [sep] what is the area code in which the most voters voted? [sep] get the count of votes for each area code. [sep] show all votes. [sep] show all area codes and states.
show all votes. [sep] show all votes.
show those that were for the contestant named 'tabatha gehling'. [sep] show those that were for the contestant named 'tabatha gehling'. [sep] show all votes.
what are the create dates, states, and phone numbers of these votes? [sep] what are the create dates, states, and phone numbers of these votes? [sep] show those that were for the contestant named 'tabatha gehling'. [sep] show all votes.
show all area codes. [sep] show all area codes.
can you tell me area codes in which voters voted for the contestant 'tabatha gehling'? [sep] can you tell me area codes in which voters voted for the contestant 'tabatha gehling'? [sep] show all area codes.
how about both the contestant 'tabatha gehling' and the contestant 'kelly clauss'? [sep] how about both the contestant 'tabatha gehling' and the contestant 'kelly clauss'? [sep] can you tell me area codes in which voters voted for the contestant 'tabatha gehling'? [sep] show all area codes.
give me the description of the department that offers the most number of degrees. [sep] give me the description of the department that offers the most number of degrees.
what's the name and id of that department? [sep] what's the name and id of that department? [sep] give me the description of the department that offers the most number of degrees.
show me all the degrees offered by the engineering department. [sep] show me all the degrees offered by the engineering department.
how many are there? [sep] how many are there? [sep] show me all the degrees offered by the engineering department.
show me courses that have exactly 2 sections. [sep] show me courses that have exactly 2 sections.
show me names and ids for courses that have at most 2 sections. [sep] show me names and ids for courses that have at most 2 sections. [sep] show me courses that have exactly 2 sections.
which semester did the least number of students register? give me its name and id. [sep] which semester did the least number of students register? give me its name and id.
how about the semester that most number of students registered? [sep] how about the semester that most number of students registered? [sep] which semester did the least number of students register? give me its name and id.
show me all department names that contain the word "computer" [sep] show me all department names that contain the word "computer"
show me their descriptions. [sep] show me their descriptions. [sep] show me all department names that contain the word "computer"
how many people are enrolled in 2 degree programs in one semester? [sep] how many people are enrolled in 2 degree programs in one semester?
show me their first, middle, and last names. [sep] show me their first, middle, and last names. [sep] how many people are enrolled in 2 degree programs in one semester?
how many people are enrolled in the bachelor degree program? [sep] how many people are enrolled in the bachelor degree program?
what are their first, middle, and last names? [sep] what are their first, middle, and last names? [sep] how many people are enrolled in the bachelor degree program?
show me the descriptions of programs with 3 highest number of enrolled students. [sep] show me the descriptions of programs with 3 highest number of enrolled students.
show me the name of program with the most enrolled students. [sep] show me the name of program with the most enrolled students. [sep] show me the descriptions of programs with 3 highest number of enrolled students.
what is the description of the program that has the least number of enrolled students? [sep] what is the description of the program that has the least number of enrolled students?
how about the program that has the most number of enrolled students? [sep] how about the program that has the most number of enrolled students? [sep] what is the description of the program that has the least number of enrolled students?
show me the id and summary. [sep] show me the id and summary. [sep] how about the program that has the most number of enrolled students? [sep] what is the description of the program that has the least number of enrolled students?
show me the id, first and last names of top 3 students who have enrolled for the most times in any program. [sep] show me the id, first and last names of top 3 students who have enrolled for the most times in any program.

show me just the top 1. [sep] show me just the top 1. [sep] show me the id, first and last names of top 3 students who have enrolled for the most times in any program.
give me the description of a semester with no enrolled students. [sep] give me the description of a semester with no enrolled students.
what's the name of that semester? [sep] what's the name of that semester? [sep] give me the description of a semester with no enrolled students.
what's the name of the course with the least number of enrollments? [sep] what's the name of the course with the least number of enrollments?
how many enrollments does the course with most enrollments have? [sep] how many enrollments does the course with most enrollments have? [sep] what's the name of the course with the least number of enrollments?
what's the name of that course? [sep] what's the name of that course? [sep] how many enrollments does the course with most enrollments have? [sep] what's the name of the course with the least number of enrollments?
how many students currently live in north carolina? [sep] how many students currently live in north carolina?
how many of those students have not registered in any degree program? [sep] how many of those students have not registered in any degree program? [sep] how many students currently live in north carolina?
what are their last names? [sep] what are their last names? [sep] how many of those students have not registered in any degree program? [sep] how many students currently live in north carolina?
show me date and id of transcripts with exactly 2 course results. [sep] show me date and id of transcripts with exactly 2 course results.
how about transcripts with at least 2 course results? [sep] how about transcripts with at least 2 course results? [sep] show me date and id of transcripts with exactly 2 course results.
what is the address of the student with first name timothy and last name ward? [sep] what is the address of the student with first name timothy and last name ward?
what's his phone number? [sep] what's his phone number? [sep] what is the address of the student with first name timothy and last name ward?
who was the last student to register? show me the first, middle, and last names of that student. [sep] who was the last student to register? show me the first, middle, and last names of that student.
who was the first to register? [sep] who was the first to register? [sep] who was the last student to register? show me the first, middle, and last names of that student.
who is the least recent graduate of the school? list the first, middle, and last names. [sep] who is the least recent graduate of the school? list the first, middle, and last names.
who is the earliest graduate of the school? [sep] who is the earliest graduate of the school? [sep] who is the least recent graduate of the school? list the first, middle, and last names.
give me the id of the address that holds the most number of students? [sep] give me the id of the address that holds the most number of students?
how many students live there? [sep] how many students live there? [sep] give me the id of the address that holds the most number of students?
give me all the lines as well as the id of that address. [sep] give me all the lines as well as the id of that address. [sep] how many students live there? [sep] give me the id of the address that holds the most number of students?
give me details of the first transcript released. [sep] give me details of the first transcript released.
tell me when it was released as well, along with its details. [sep] tell me when it was released as well, along with its details. [sep] give me details of the first transcript released.
what is the oldest transcript release date? [sep] what is the oldest transcript release date?
how about the latest? [sep] how about the latest? [sep] what is the oldest transcript release date?
how many times, at minimum, can a course enrollment result show in different transcript? show me the course enrollment id. [sep] how many times, at minimum, can a course enrollment result show in different transcript? show me the course enrollment id.
how many times at most? [sep] how many times at most? [sep] how many times, at minimum, can a course enrollment result show in different transcript? show me the course enrollment id.
show other details of the transcript with least number of results. [sep] show other details of the transcript with least number of results.
show me the date and id of that transcript. [sep] show me the date and id of that transcript. [sep] show other details of the transcript with least number of results.
find a semester when there was a master student enrolled. [sep] find a semester when there was a master student enrolled.
how about a semester when there was a bachelor student enrolled? [sep] how about a semester when there was a bachelor student enrolled? [sep] find a semester when there was a master student enrolled.
find a semester that both types of students were enrolled in. [sep] find a semester that both types of students were enrolled in. [sep] how about a semester when there was a bachelor student enrolled? [sep] find a semester when there was a master student enrolled.
list all the information about the owners. [sep] list all the information about the owners.
what about the professionals? [sep] what about the professionals? [sep] list all the information about the owners.
now show the states of them. [sep] now show the states of them. [sep] what about the professionals? [sep] list all the information about the owners.
which of them have both owners and professionals living there? [sep] which of them have both owners and professionals living there? [sep] now show the states of them. [sep] what about the professionals? [sep] list all the information about the owners.
show all the dog ages. [sep] show all the dog ages.
what is the maximum and minimum value? [sep] what is the maximum and minimum value? [sep] show all the dog ages.
which of the dogs have gone through treatments? [sep] which of the dogs have gone through treatments? [sep] what is the maximum and minimum value? [sep] show all the dog ages.
what about the average age of them? [sep] what about the average age of them? [sep] which of the dogs have gone through treatments? [sep] what is the maximum and minimum value? [sep] show all the dog ages.
list all the professionals who are employees. [sep] list all the professionals who are employees.
how many of them live in connecticut? [sep] how many of them live in connecticut? [sep] list all the professionals who are employees.
what about in indiana? [sep] what about in indiana? [sep] how many of them live in connecticut? [sep] list all the professionals who are employees.
among all the professionals, which have done treatment only 1 treatments? [sep] among all the professionals, which have done treatment only 1 treatments? [sep] what about in indiana? [sep] how many of them live in connecticut? [sep] list all the professionals who are employees.
list the id, last name and cell phone of the professionals who live in the state of indiana or have done treatment on more than 2 treatments? [sep] list the id, last name and cell phone of the professionals who live in the state of indiana or have done treatment on more than 2 treatments? [sep] among all the professionals, which have done treatment only 1 treatments? [sep] what about in indiana? [sep] how many of them live in connecticut? [sep] list all the professionals who are employees.
show the dog name and total cost of each dog. [sep] show the dog name and total cost of each dog.
which of them cost over 500? [sep] which of them cost over 500? [sep] show the dog name and total cost of each dog.
what about more than 1000? [sep] what about more than 1000? [sep] which of them cost over 500? [sep] show the dog name and total cost of each dog.
list all the names of both professionals and owners. [sep] list all the names of both professionals and owners.
what about the dog names? [sep] what about the dog names? [sep] list all the names of both professionals and owners.
which human names are not used as dog names. [sep] which human names are not used as dog names. [sep] what about the dog names? [sep] list all the names of both professionals and owners.
show the professional first names and the corresponding treatment type codes for the treatment. [sep] show the professional first names and the corresponding treatment type codes for the treatment.
what about each professional's id, role, email and the treatment type code? [sep] what about each professional's id, role, email and the treatment type code? [sep] show the professional first names and the corresponding treatment type codes for the treatment.
which professional did not provide any treatment? keep the id, role and email. [sep] which professional did not provide any treatment? keep the id, role and email. [sep] what about each professional's id, role, email and the treatment type code? [sep] show the professional first names and the corresponding treatment type codes for the treatment.
show the number of dogs for each owner, keep the owner id. [sep] show the number of dogs for each owner, keep the owner id.
which one has 2 dogs? [sep] which one has 2 dogs? [sep] show the number of dogs for each owner, keep the owner id.
what about the one with the most dogs? [sep] what about the one with the most dogs? [sep] which one has 2 dogs? [sep] show the number of dogs for each owner, keep the owner id.
how many treatment does each professional finished? [sep] how many treatment does each professional finished?
show the first name of the professionals who did only 1 treatment. [sep] show the first name of the professionals who did only 1 treatment. [sep] how many treatment does each professional finished?
what about at least two treatments? [sep] what about at least two treatments? [sep] show the first name of the professionals who did only 1 treatment. [sep] how many treatment does each professional finished?
show the id, role, and first name of each from the above. [sep] show the id, role, and first name of each from the above. [sep] what about at least two treatments? [sep] show the first name of the professionals who did only 1 treatment. [sep] how many treatment does each professional finished?
how many dogs for each breed code? [sep] how many dogs for each breed code?
which breed codes are the most popular two? [sep] which breed codes are the most popular two? [sep] how many dogs for each breed code?
what about the most common 1? [sep] what about the most common 1? [sep] which breed codes are the most popular two? [sep] how many dogs for each breed code?
what name is the breed? [sep] what name is the breed? [sep] what about the most common 1? [sep] which breed codes are the most popular two? [sep] how many dogs for each breed code?
show the dog name and total cost of each dog. [sep] show the dog name and total cost of each dog.
what are the owner names and the cost from their dogs. [sep] what are the owner names and the cost from their dogs. [sep] show the dog name and total cost of each dog.
who has paid for the most treatments on the dogs? keep owner ids and last names. [sep] who has paid for the most treatments on the dogs? keep owner ids and last names. [sep] what are the owner names and the cost from their dogs. [sep] show the dog name and total cost of each dog.
list the treatment type code and the description. [sep] list the treatment type code and the description.
for each treatment type, calculate the sum of costs, and order them in descending order. [sep] for each treatment type, calculate the sum of costs, and order them in descending order. [sep] list the treatment type code and the description.
show the treatment type description also. [sep] show the treatment type description also. [sep] for each treatment type, calculate the sum of costs, and order them in descending order. [sep] list the treatment type code and the description.
so what is the description of the treatment type that costs the least money in total? [sep] so what is the description of the treatment type that costs the least money in total? [sep] show the treatment type description also. [sep] for each treatment type, calculate the sum of costs, and order them in descending order. [sep] list the treatment type code and the description.
show the dog name and total cost of each dog. [sep] show the dog name and total cost of each dog.
how many of them cost over 700? [sep] how many of them cost over 700? [sep] show the dog name and total cost of each dog.
which owner paid the cost larger than 400, show the owner id and the zip code? [sep] which owner paid the cost larger than 400, show the owner id and the zip code? [sep] how many of them cost over 700? [sep] show the dog name and total cost of each dog.
what about the owner who spent the largest cost? [sep] what about the owner who spent the largest cost? [sep] which owner paid the cost larger than 400, show the owner id and the zip code? [sep] how many of them cost over 700? [sep] show the dog name and total cost of each dog.
list the professional first names and their types of treatments. [sep] list the professional first names and their types of treatments.
add the counts of them also. [sep] add the counts of them also. [sep] list the professional first names and their types of treatments.
among the results, who did only 1 type of treatment? list the professional ids and cell phone numbers of them. [sep] among the results, who did only 1 type of treatment? list the professional ids and cell phone numbers of them. [sep] add the counts of them also. [sep] list the professional first names and their types of treatments.
what about at least two types of treatments? [sep] what about at least two types of treatments? [sep] among the results, who did only 1 type of treatment? list the professional ids and cell phone numbers of them. [sep] add the counts of them also. [sep] list the professional first names and their types of treatments.
what is the minimum, maximum and average value of the treatment costs? [sep] what is the minimum, maximum and average value of the treatment costs?
which professionals who did the minimum value of the treatment cost? provide the first name and last name. [sep] which professionals who did the minimum value of the treatment cost? provide the first name and last name. [sep] what is the minimum, maximum and average value of the treatment costs?
what about the maximum cost? [sep] what about the maximum cost? [sep] which professionals who did the minimum value of the treatment cost? provide the first name and last name. [sep] what is the minimum, maximum and average value of the treatment costs?
how about below the average of the cost? [sep] how about below the average of the cost? [sep] what about the maximum cost? [sep] which professionals who did the minimum value of the treatment cost? provide the first name and last name. [sep] what is the minimum, maximum and average value of the treatment costs?
how many dogs for each breed code? [sep] how many dogs for each breed code?
which one is the most popular one? [sep] which one is the most popular one? [sep] how many dogs for each breed code?
what about the least popular one? [sep] what about the least popular one? [sep] which one is the most popular one? [sep] how many dogs for each breed code?
so which dogs are having the breed code? and the treatment dates? [sep] so which dogs are having the breed code? and the treatment dates? [sep] what about the least popular one? [sep] which one is the most popular one? [sep] how many dogs for each breed code?
show the name of dogs whose owners are from the city 'lake tia'. [sep] show the name of dogs whose owners are from the city 'lake tia'.
add the owner's first names also. [sep] add the owner's first names also. [sep] show the name of dogs whose owners are from the city 'lake tia'.
what about when the owner is from the state of 'virginia'? [sep] what about when the owner is from the state of 'virginia'? [sep] add the owner's first names also. [sep] show the name of dogs whose owners are from the city 'lake tia'.
which one is the oldest dog? list the information of it. [sep] which one is the oldest dog? list the information of it.
what are the last names of the oldest dogs? [sep] what are the last names of the oldest dogs? [sep] which one is the oldest dog? list the information of it.
what about the owner last name of the youngest dog? [sep] what about the owner last name of the youngest dog? [sep] what are the last names of the oldest dogs? [sep] which one is the oldest dog? list the information of it.
show the cities and states of the professionals. [sep] show the cities and states of the professionals.
how many of them are from 'hawaii'? [sep] how many of them are from 'hawaii'? [sep] show the cities and states of the professionals.
list the emails of the professionals who live in the state of hawaii or the state of wisconsin. [sep] list the emails of the professionals who live in the state of hawaii or the state of wisconsin. [sep] how many of them are from 'hawaii'? [sep] show the cities and states of the professionals.
show the states of the professionals. [sep] show the states of the professionals.
how many of them are from 'wisconsin'? [sep] how many of them are from 'wisconsin'? [sep] show the states of the professionals.
list the role code ,  street ,  city ,  state from the above results. [sep] list the role code ,  street ,  city ,  state from the above results. [sep] how many of them are from 'wisconsin'? [sep] show the states of the professionals.
what about those professionals who live in a city containing the substring 'west'? [sep] what about those professionals who live in a city containing the substring 'west'? [sep] list the role code ,  street ,  city ,  state from the above results. [sep] how many of them are from 'wisconsin'? [sep] show the states of the professionals.
show the states of the owners. [sep] show the states of the owners.
how many of them are from 'vermont'? [sep] how many of them are from 'vermont'? [sep] show the states of the owners.
list the first name, last name and email of the owners who lives in the states that has the substring 'north'. [sep] list the first name, last name and email of the owners who lives in the states that has the substring 'north'. [sep] how many of them are from 'vermont'? [sep] show the states of the owners.
order the dog ages in descending order. [sep] order the dog ages in descending order.
how many of them are below 4? [sep] how many of them are below 4? [sep] order the dog ages in descending order.
what about the ones that are below the average? [sep] what about the ones that are below the average? [sep] how many of them are below 4? [sep] order the dog ages in descending order.
show the treatment details. [sep] show the treatment details.
order the cost in ascending order. [sep] order the cost in ascending order. [sep] show the treatment details.
what about in descending order? [sep] what about in descending order? [sep] order the cost in ascending order. [sep] show the treatment details.

which one is the most recent cost? [sep] which one is the most recent cost? [sep] what about in descending order? [sep] order the cost in ascending order. [sep] show the treatment details.
show all the owner information. [sep] show all the owner information.
what about the dogs? [sep] what about the dogs? [sep] show all the owner information.
among those, how many of them have been sent to receive treatment? [sep] among those, how many of them have been sent to receive treatment? [sep] what about the dogs? [sep] show all the owner information.
what about those who did not? [sep] what about those who did not? [sep] among those, how many of them have been sent to receive treatment? [sep] what about the dogs? [sep] show all the owner information.
show all the owner information. [sep] show all the owner information.
how many of them come from the state of 'arizona'? [sep] how many of them come from the state of 'arizona'? [sep] show all the owner information.
what about those who do not have any dogs temporarily? [sep] what about those who do not have any dogs temporarily? [sep] how many of them come from the state of 'arizona'? [sep] show all the owner information.
how many professionals are there? [sep] how many professionals are there?
how many of them come from 'west heidi?' [sep] how many of them come from 'west heidi?' [sep] how many professionals are there?
what about those who did not operate any treatment on dogs? [sep] what about those who did not operate any treatment on dogs? [sep] how many of them come from 'west heidi?' [sep] how many professionals are there?
Independent: 385, 571, 0.674256
Dependent: 338, 632, 0.534810
First Independent: 303, 422, 0.718009
Other Independent: 82, 149, 0.550336
Independent Percent: 0.474647
{'easy': 330, 'extra': 31, 'hard': 40, 'medium': 170}
{'easy': 262, 'extra': 7, 'hard': 15, 'medium': 101}
{'easy': 153, 'extra': 103, 'hard': 105, 'medium': 271}
{'easy': 0.5779334500875657,
 'extra': 0.0542907180385289,
 'hard': 0.07005253940455342,
 'medium': 0.29772329246935203}
{'easy': 0.24208860759493672,
 'extra': 0.1629746835443038,
 'hard': 0.1661392405063291,
 'medium': 0.4287974683544304}
Total Hardness:  {'easy': 483, 'medium': 441, 'hard': 145, 'extra': 134}
Total Hardness Distribution:  {'easy': 0.4014962593516209, 'medium': 0.36658354114713215, 'hard': 0.12053200332502079, 'extra': 0.1113881961762261}
Total Hardness Match:  {'easy': 375, 'medium': 263, 'hard': 50, 'extra': 35}
Total Hardness Accuracy:  {'easy': 0.7763975155279503, 'medium': 0.5963718820861678, 'hard': 0.3448275862068966, 'extra': 0.26119402985074625}

In [10]:
(263 + 50 + 35) / (441 + 145 + 134)

0.48333333333333334

In [11]:
483 + 441 + 145 + 134

1203

### IGSQL

In [23]:
igsql_sparc_predictions = read_predictions(igsql_sparc_path)

422 1203
422
1203

In [33]:
igsql_sparc_predictions[0]

{'example_id': 1,
 'interaction': [{'interaction_id': 1,
   'turn_id': 1,
   'question': 'What are all the airlines ?',
   'ground_truth': 'SELECT * FROM AIRLINES',
   'sql': 'select Airline from airlines',
   'exact': 0},
  {'interaction_id': 1,
   'turn_id': 2,
   'question': 'Of these , which is Jetblue Airways ?',
   'ground_truth': 'SELECT * FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
   'sql': 'select Airline from airlines where Airline = 1',
   'exact': 0},
  {'interaction_id': 1,
   'turn_id': 3,
   'question': 'What is the country corresponding it ?',
   'ground_truth': 'SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
   'sql': 'select Country from airlines where Airline = 1',
   'exact': True}]}

In [21]:
measure_accuracy(igsql_sparc_predictions)

Question Match: 0.495428
Interaction Match: 0.300948

In [39]:
measure_context_independent_accuracy(igsql_sparc_predictions, sparc_dev, sparc_annotation_df)

what are all the airlines? what are all the airlines ?
of these, which is jetblue airways? of these , which is jetblue airways ?
what is the country corresponding it? what is the country corresponding it ?
what are all the abbreviations? what are all the abbreviations ?
what is the abbreviation for jetblue airways? what is the abbreviation for jetblue airways ?
list all airline names and their abbreviations. list all airline names and their abbreviations .
of these, list only those in the usa. of these , list only those in the usa .
find all information about the airport in the city anthony. find all information about the airport in the city anthony .
what is the airport code and airport name? what is the airport code and airport name ?
what are all the airlines? what are all the airlines ?
how many are there? how many are there ?
what are all the airports? what are all the airports ?
how many are there? how many are there ?
what are all the flights? what are all the flights ?
how many are there? how many are there ?
what are all the airline names? what are all the airline names ?
of this, which has the abbreviation 'ual'? of this , which has the abbreviation 'ual ' ?
what are the names of the airlines in the usa? what are the names of the airlines in the usa ?
how many are there? how many are there ?
what are the city and country for all airports? what are the city and country for all airports ?
of these, what are the city and country for alton airport? of these , what are the city and country for alton airport ?
what are all the airport names? what are all the airport names ?
of these, which has code 'ako'? of these , which has code 'ako ' ?
what are all the airport names? what are all the airport names ?
which is in aberdeen? which is in aberdeen ?
what are all the flights departing from 'apg'? what are all the flights departing from 'apg ' ?
how many are there? how many are there ?
what flights land in ato? what flights land in ato ?
how many are there? how many are there ?
what are all the flights derparting from aberdeen? what are all the flights derparting from aberdeen ?
how many are there? how many are there ?
what are all the flights arriving in aberdeen. what are all the flights arriving in aberdeen .
how many are there? how many are there ?
what are all the flights that leave from aberdeen? what are all the flights that leave from aberdeen ?
of those, which land in ashley? of those , which land in ashley ?
how many are there? how many are there ?
what are all the flights on jetblue airways? what are all the flights on jetblue airways ?
how many are there? how many are there ?
what are the united airlines flights? what are the united airlines flights ?
how many are there? how many are there ?
how many land in asy airport? how many land in asy airport ?
what are the united airlines flights? what are the united airlines flights ?
which ones leave from ahd? which ones leave from ahd ?
how many are there? how many are there ?
which united airlines flights fly into aberdeen? which united airlines flights fly into aberdeen ?
how many are there? how many are there ?
name all cities that have destination airports. name all cities that have destination airports .
order them by number of arriving flights. order them by number of arriving flights .
which one has the most? which one has the most ?
name all cities that have source airports. name all cities that have source airports .
order them by number of departing flights. order them by number of departing flights .
which one has the most? which one has the most ?
what are airport codes of any airport with a arriving flight? what are airport codes of any airport with a arriving flight ?
also include codes of airports with departure flights. also include codes of airports with departure flights .
which one has the highest number of flights? which one has the highest number of flights ?
what are airport codes of any airport with a arriving flight? what are airport codes of any airport with a arriving flight ?
also include codes of airports with departure flights. also include codes of airports with departure flights .
which one has the least number of flights? which one has the least number of flights ?
count the number of flights by airline. count the number of flights by airline .
which airline has the most? which airline has the most ?
what are all the airline abbreviations and what countries are they in? what are all the airline abbreviations and what countries are they in ?
order them by the number of flights that they have. order them by the number of flights that they have .
which one has the fewest? which one has the fewest ?
which flights leave from ahd? which flights leave from ahd ?
what are their airlines? what are their airlines ?
which flights arrive in ahd? which flights arrive in ahd ?
what are their airlines? what are their airlines ?
which airlines have flights departing from apg? which airlines have flights departing from apg ?
of those, which also have flights from cvo? of those , which also have flights from cvo ?
which airlines have flights from cvo? which airlines have flights from cvo ?
of these, which do not have flights from apg? of these , which do not have flights from apg ?
what are all the airlines? what are all the airlines ?
which ones have more than 10 flights? which ones have more than 10 flights ?
what are all the airlines? what are all the airlines ?
which ones have less than 200 flights? which ones have less than 200 flights ?
what are all the flight numbers? what are all the flight numbers ?
which belong to united airlines? which belong to united airlines ?
what are all the flight numbers? what are all the flight numbers ?
of these, which correspond to flights leaving from apg? of these , which correspond to flights leaving from apg ?
what are all the flight numbers? what are all the flight numbers ?
also, which numbers are for flights that land in apg? also , which numbers are for flights that land in apg ?
what are all the flight numbers? what are all the flight numbers ?
of these, which are departure flights? of these , which are departure flights ?
which leave from aberdeen? which leave from aberdeen ?
what are all the flight numbers? what are all the flight numbers ?
of these, which are arrival flights? of these , which are arrival flights ?
which land in aberdeen? which land in aberdeen ?
what flights land in aberdeen? what flights land in aberdeen ?
also include flights that land in abilene. also include flights that land in abilene .
how many are there? how many are there ?
what are the source airports? what are the source airports ?
also include the destination airports. also include the destination airports .
which airports are not included? which airports are not included ?
what information is there on pets? what information is there on pets ?
which pets weigh more than 10? which pets weigh more than 10 ?
how many are there? how many are there ?
order the pets by age order the pets by age
how much does each one weigh? how much does each one weigh ?
what about the first one? what about the first one ?
what are the different types of pets? what are the different types of pets ?
for each of those types, what is the maximum weight? for each of those types , what is the maximum weight ?
which pets are owned by students older than 20? which pets are owned by students older than 20 ?
how many are there? how many are there ?
who are the female students? who are the female students ?
of those, who has a pet? of those , who has a pet ?
how many of those have dogs? how many of those have dogs ?
what are the different pet types? what are the different pet types ?
how many exist? how many exist ?
what is the first name of every student? what is the first name of every student ?
of those names, which ones correspond to somebody who has a cat? of those names , which ones correspond to somebody who has a cat ?
also, combine those names with those who have a dog. also , combine those names with those who have a dog .
which students have a dog as their type of pet? which students have a dog as their type of pet ?
who also has a cat? who also has a cat ?
what are their first names? what are their first names ?
which students have a cat as their pets? which students have a cat as their pets ?
what are they majoring in? what are they majoring in ?
also, how old are they? also , how old are they ?
what is every student's id? what is every student 's id ?
of those ids, which correspond to those who own cats as pets? of those ids , which correspond to those who own cats as pets ?

list all the other ids. list all the other ids .
which students have dogs? which students have dogs ?
of those, who does not own a cat? of those , who does not own a cat ?
what are their first names and ages? what are their first names and ages ?
who is the youngest pet? who is the youngest pet ?
what type are they? what type are they ?
also, how much do they weigh? also , how much do they weigh ?
what are ids of every pet? what are ids of every pet ?
for those, which refer to pets older than 1? for those , which refer to pets older than 1 ?
also, how much do they weigh? also , how much do they weigh ?
what are the different pet types? what are the different pet types ?
for each of those, what is the maximum age? for each of those , what is the maximum age ?
what about the average age? what about the average age ?
what information is there on pets? what information is there on pets ?
for each pet type, what is the average weight? for each pet type , what is the average weight ?
which students have pets? which students have pets ?
what are the different first names? what are the different first names ?
also, what are their ages? also , what are their ages ?
which students have pets? which students have pets ?
of those, whose last name is smith? of those , whose last name is smith ?
what is their pet's id? what is their pet 's id ?
which of the students have pets? which of the students have pets ?
how many pets does each of them have? how many pets does each of them have ?
what is the first name and sex of each student? what is the first name and sex of each student ?
which of those belong to somebody who has more than one pet? which of those belong to somebody who has more than one pet ?
what is the id of the three-year old cat? what is the id of the three-year old cat ?
who is the owner of that cat? who is the owner of that cat ?
what is their last name? what is their last name ?
which students do not own any pets? which students do not own any pets ?
what is their average age? what is their average age ?
what are the names of all the countries? what are the names of all the countries ?
give the names of the ones that became independent after 1950. give the names of the ones that became independent after 1950 .
how many countries are there? how many countries are there ?
out of those, how many have a republic as their form of government? out of those , how many have a republic as their form of government ?
what are the countries in the carribean region? what are the countries in the carribean region ?
what is the surface area of each of those countries? what is the surface area of each of those countries ?
find the total surface area of the above. find the total surface area of the above .
what continent does each country belong to? what continent does each country belong to ?
which one does anguila belong to? which one does anguila belong to ?
what are the names of all the regions? what are the names of all the regions ?
which of those is the city kabul located in? which of those is the city kabul located in ?
what are all the languages? what are all the languages ?
what are the languages spoken in aruba? what are the languages spoken in aruba ?
which one is the most popular? which one is the most popular ?
what are the population and life expectancies for all countries? what are the population and life expectancies for all countries ?
of those, which ones are for the country brazil? of those , which ones are for the country brazil ?
which region is angola in? which region is angola in ?
for that country, what is its population? for that country , what is its population ?
what are the life expectancies for all the countries? what are the life expectancies for all the countries ?
what are the life expectancies for the countries in the region of central africa? what are the life expectancies for the countries in the region of central africa ?
what is the average of those? what is the average of those ?
what are the names of the countries in asia? what are the names of the countries in asia ?
which one has the shortest life expectancy? which one has the shortest life expectancy ?
how many people live in asia? how many people live in asia ?
what about the largest gnp among them? what about the largest gnp among them ?
which countries are in africa? which countries are in africa ?
which countries are also republics? which countries are also republics ?
what is the average of their life expectancies? what is the average of their life expectancies ?
what are the countries in the continents of asia or europe? what are the countries in the continents of asia or europe ?
what is the surface area of each country? what is the surface area of each country ?
what is the total surface area summed up? what is the total surface area summed up ?
what are the populations of each city in the district of gelderland? what are the populations of each city in the district of gelderland ?
what is the total population in that district? what is the total population in that district ?
what are all the nations? what are all the nations ?
which of those have a government that is a us territory? which of those have a government that is a us territory ?
for those, what is the average gnp and total population? for those , what is the average gnp and total population ?
what are all the distinct languages used around the world? what are all the distinct languages used around the world ?
how many are there? how many are there ?
what are the distinct forms of government in the continent of africa? what are the distinct forms of government in the continent of africa ?
how many are there? how many are there ?
what is the information about the country aruba? what is the information about the country aruba ?
what are the languages used in aruba? what are the languages used in aruba ?
how many are there? how many are there ?
what are the languages used in afghanistan? what are the languages used in afghanistan ?
of those, how many are the official languages? of those , how many are the official languages ?
how many languages are spoken in each country? how many languages are spoken in each country ?
which country speaks the most? which country speaks the most ?
how many languages are spoken on each continent? how many languages are spoken on each continent ?
which one speaks the most languages? which one speaks the most languages ?
what are the countries that speak english? what are the countries that speak english ?
which of those also speak dutch? which of those also speak dutch ?
how many of them are there? how many of them are there ?
what are the names of countries which speak english? what are the names of countries which speak english ?
of those countries, what are the names of the nations that speak french as well? of those countries , what are the names of the nations that speak french as well ?
what are the official languages of each country? what are the official languages of each country ?
of those countries, give the names of the ones that have english as one of the official languages. of those countries , give the names of the ones that have english as one of the official languages .
of those, which also have french as another official language? of those , which also have french as another official language ?
in which countries is chinese spoken? in which countries is chinese spoken ?
which distinct continents are they in? which distinct continents are they in ?
how many of them are there? how many of them are there ?
what are all the different regions? what are all the different regions ?
which of those speak dutch or english? which of those speak dutch or english ?
what are the official languages for each country? what are the official languages for each country ?
which of these countries have english or dutch? which of these countries have english or dutch ?
what are all the different languages used in the continent of asia? what are all the different languages used in the continent of asia ?
which one is used by the largest number of asian countries? which one is used by the largest number of asian countries ?
which countries have republics as their form of government? which countries have republics as their form of government ?
which language is spoken by only one of those countries? which language is spoken by only one of those countries ?
what are the names of all the cities that use english? what are the names of all the cities that use english ?
which of those has the largest population? which of those has the largest population ?
what are the names, population, and life expectancy for all the countries in asia? what are the names , population , and life expectancy for all the countries in asia ?
of those, which belong to the country with the largest surface area? of those , which belong to the country with the largest surface area ?
what are the official languages of each country? what are the official languages of each country ?
which countries do not have english as the official language? which countries do not have english as the official language ?
in those countries, what is the average life expectancy? in those countries , what is the average life expectancy ?
what are the names of each country that does not speak english? what are the names of each country that does not speak english ?
how many people live in those countries? how many people live in those countries ?
which country has a head of state named beatrix? which country has a head of state named beatrix ?
what languages are spoken in that country? what languages are spoken in that country ?
which of those languages is the official one? which of those languages is the official one ?
what are the names of all the countries? what are the names of all the countries ?
what are the names of those countries that were founded after 1930? what are the names of those countries that were founded after 1930 ?
for those countries, how many unique official languages are spoken in total? for those countries , how many unique official languages are spoken in total ?
what are all the information about european countries? what are all the information about european countries ?
of those countries, what is the minimum surface area? of those countries , what is the minimum surface area ?
what are the countries that have a greater surface area than that? what are the countries that have a greater surface area than that ?
what is the maximum population of a country in asia? what is the maximum population of a country in asia ?
which countries in africa have a population smaller than that? which countries in africa have a population smaller than that ?
what is the smallest population of a country in africa? what is the smallest population of a country in africa ?
which asian countries have a greater population than that? which asian countries have a greater population than that ?
what are the country codes of all the countries? what are the country codes of all the countries ?

of those countries, give the country codes for those which do not speak english. of those countries , give the country codes for those which do not speak english .
what are the country codes of all the countries? what are the country codes of all the countries ?
of those, which do not speak english? of those , which do not speak english ?
what are the country codes for countries which are not republics? what are the country codes for countries which are not republics ?
of those, which do not speak english? of those , which do not speak english ?
what are the names of the countries where english is the official language? what are the names of the countries where english is the official language ?
what are the names of the countries in europe that are not one of those? what are the names of the countries in europe that are not one of those ?
what are the names of the cities in those countries? what are the names of the cities in those countries ?
what are the countries in asia where chinese is spoken? what are the countries in asia where chinese is spoken ?
of those, which have chinese as the official language? of those , which have chinese as the official language ?
what are the different cities in those countries? what are the different cities in those countries ?
which country has the smallest population? which country has the smallest population ?
what is its name, independence year, and surface area? what is its name , independence year , and surface area ?
what is the country with the largest surface area? what is the country with the largest surface area ?
what is its population, name and leader? what is its population , name and leader ?
what are the names of the countries? what are the names of the countries ?
which of them speak at least three languages? which of them speak at least three languages ?
also, how many languages are spoken in each of those countries? also , how many languages are spoken in each of those countries ?
what is the average city population for each city? what is the average city population for each city ?
for each district, count how many cities have a population greater than the average. for each district , count how many cities have a population greater than the average .
the countries with which government form have an average life expectancy greater than age 72? the countries with which government form have an average life expectancy greater than age 72 ?
for those, list the total population and government form name. for those , list the total population and government form name .
which continents have an average life expectancy less than age 72? which continents have an average life expectancy less than age 72 ?
give their average life expectancy and total population. give their average life expectancy and total population .
what are the countries with the top 5 largest surface areas? what are the countries with the top 5 largest surface areas ?
what are the surface areas and names of those countries? what are the surface areas and names of those countries ?
order the countries by descending population size. order the countries by descending population size .
give the names of the 3 countries which have the most. give the names of the 3 countries which have the most .
order the countries by increasing population. order the countries by increasing population .
give the names of the 3 countries with the lowest. give the names of the 3 countries with the lowest .
what are the countries in the continent of asia? what are the countries in the continent of asia ?
how many are there? how many are there ?
which countries are in the continent of europe? which countries are in the continent of europe ?
of those, what are the names of those that have a population of 80000? of those , what are the names of those that have a population of 80000 ?
what countries are in north america? what countries are in north america ?
of those, which have surface area greater than 3000? of those , which have surface area greater than 3000 ?
what is the total population and average surface area of those countries? what is the total population and average surface area of those countries ?
what are the names of all the cities? what are the names of all the cities ?
which of those have a population between 160000 and 900000? which of those have a population between 160000 and 900000 ?
what are the different languages? what are the different languages ?
which one is spoken in the most countries? which one is spoken in the most countries ?
tell me﻿ the director of the cartoon named "day of the dark knight!". tell me﻿ the director of the cartoon named `` day of the dark knight ! `` .
what is the channel of this cartoon? what is the channel of this cartoon ?
give me the titles of all cartoon directed by "ben jones" or "brandon vietti"? give me the titles of all cartoon directed by `` ben jones '' or `` brandon vietti '' ?
show me all the information about the italian tv channels. show me all the information about the italian tv channels .
how about the polish tv channels? how about the polish tv channels ?
which country has the most of tv channels? list the country and number of tv channels it has. which country has the most of tv channels ? list the country and number of tv channels it has .
tell me the tv channel of the cartoon titled "the eyes of despero!". tell me the tv channel of the cartoon titled `` the eyes of despero ! `` .
how about this channel's series name? how about this channel 's series name ?
tell me the number of different series names and contents in the tv channel table. tell me the number of different series names and contents in the tv channel table .
tell me the package option for the series named "rock tv". tell me the package option for the series named `` rock tv '' .
tell me the language of this series. tell me the language of this series .
list the language used least number of tv channel. list language and number of tv channel. list the language used least number of tv channel . list language and number of tv channel .
tell me the author of the cartoon "the rise of the blue beetle!" tell me the author of the cartoon `` the rise of the blue beetle ! ''
how about its director? how about its director ?
what is its tv channel? what is its tv channel ?
tell me the country of the tv channel for the series named "sky radio". tell me the country of the tv channel for the series named `` sky radio '' .
how about its content? how about its content ?
i want to know the title of all cartoons showed on tv channel with series name "sky radio". i want to know the title of all cartoons showed on tv channel with series name `` sky radio '' .
tell me the rating of the episode named "double down". tell me the rating of the episode named `` double down '' .
how about the rating of the episode named "keepers". how about the rating of the episode named `` keepers '' .
okay, i want to know the top 3 highest rating tv series. list the tv series's episode and rating. okay , i want to know the top 3 highest rating tv series . list the tv series 's episode and rating .
tell me the weekly rank of the episode named "emily". tell me the weekly rank of the episode named `` emily '' .
how about its share? how about its share ?
tell me the minimum and maximum share of tv series. tell me the minimum and maximum share of tv series .
tell me the rating of the episode titled "a love of a lifetime". tell me the rating of the episode titled `` a love of a lifetime '' .
how about its weekly rank? how about its weekly rank ?
and what is its tv channel? and what is its tv channel ?
tell me the content of tv channel with the series named "sky radio". tell me the content of tv channel with the series named `` sky radio '' .
how about its language? how about its language ?
okay, now i want to know the episode of all tv series showed on tv channel with series name "sky radio". okay , now i want to know the episode of all tv series showed on tv channel with series name `` sky radio '' .
tell me the air date of the cartoon titled "fall of the blue beetle!". tell me the air date of the cartoon titled `` fall of the blue beetle ! `` .
what is its production code? what is its production code ?
tell me the production code and channel of the most recently aired cartoon. tell me the production code and channel of the most recently aired cartoon .
tell me the cartoons directed by ben jone. tell me the cartoons directed by ben jone .
tell me the cartoons written by todd casey. tell me the cartoons written by todd casey .
which countries' tv channels are playing some cartoon written by todd casey? which countries ' tv channels are playing some cartoon written by todd casey ?
which countries' tv channels are playing some cartoon written by steven melching? which countries ' tv channels are playing some cartoon written by steven melching ?
which countries' tv channels are not playing any cartoon written by todd casey? which countries ' tv channels are not playing any cartoon written by todd casey ?
tell me the director of the cartoon titled "deep cover for batman!". tell me the director of the cartoon titled `` deep cover for batman ! `` .
i want to know this cartoon's production code. i want to know this cartoon 's production code .
tell me the series name and country of the tv channel that is playing some cartoons directed by ben jones and michael chang. tell me the series name and country of the tv channel that is playing some cartoons directed by ben jones and michael chang .
tell me the country of the tv channel with series named "mtv music" tell me the country of the tv channel with series named `` mtv music ''
tell me the number of italian channels. tell me the number of italian channels .
find id of the tv channels that from the countries where have more than two tv channels. find id of the tv channels that from the countries where have more than two tv channels .
who is the director of the cartoon titled "return of the fearsome fangs!"? who is the director of the cartoon titled `` return of the fearsome fangs ! `` ?
tell me the cartoons directed by ben jones. tell me the cartoons directed by ben jones .
find the id of tv channels that do not play any cartoon directed by ben jones. find the id of tv channels that do not play any cartoon directed by ben jones .
show all the poker players. show all the poker players .
how many are there? how many are there ?
what is the earnings of each poker player? what is the earnings of each poker player ?
sort them in descending order. sort them in descending order .
show all the information about each poker player. show all the information about each poker player .
what are their final table mades? what are their final table mades ?
what are their final table mades and best finishes? what are their final table mades and best finishes ?
what is the earnings of each poker player? what is the earnings of each poker player ?
give me the average. give me the average .
what is the money rank of each poker player? what is the money rank of each poker player ?
sort them in the decreasing order. sort them in the decreasing order .
return the top one. return the top one .
which poker player has earnings less than 200000? which poker player has earnings less than 200000 ?
among them, what is the maximum number of final tables made? among them , what is the maximum number of final tables made ?
show all the poker players. show all the poker players .
what are their names? what are their names ?
which poker players have earnings higher than 300000? which poker players have earnings higher than 300000 ?
what are their names? what are their names ?
what are the names of all poker players? what are the names of all poker players ?
sort them in the ascending order of the final tables made. sort them in the ascending order of the final tables made .
what is the birth date of each poker player? what is the birth date of each poker player ?
sort the list by the poker player's earnings. sort the list by the poker player 's earnings .
give me the result for the player with the lowest earnings. give me the result for the player with the lowest earnings .
what is the height of each poker player? what is the height of each poker player ?
who has the largest height? who has the largest height ?
what is his or her money rank? what is his or her money rank ?
what is the height of each poker player? what is the height of each poker player ?
who all have heights greater than 200? who all have heights greater than 200 ?
what is the average earnings among them? what is the average earnings among them ?
sort all the poker players in descending order of earnings. sort all the poker players in descending order of earnings .
what are the names of poker players in descending order of earnings? what are the names of poker players in descending order of earnings ?
show the nationality of each person. show the nationality of each person .
group people by their nationality. group people by their nationality .

for each of the result, show the corresponding number of people of that nationality? for each of the result , show the corresponding number of people of that nationality ?
show the nationality of each person. show the nationality of each person .
count the number of people for each nationality. count the number of people for each nationality .
what is the most common nationality of people? what is the most common nationality of people ?
count the number of people for each nationality. count the number of people for each nationality .
which nationalities are held by at least two people? which nationalities are held by at least two people ?
what are the names and birth dates of people? what are the names and birth dates of people ?
sort the results in ascending alphabetical order of name. sort the results in ascending alphabetical order of name .
what are the names of all people? what are the names of all people ?
what about people whose nationality is not "russia"? what about people whose nationality is not `` russia '' ?
show all the poker players. show all the poker players .
show all people who are not poker players. show all people who are not poker players .
give me their names. give me their names .
what are the death tolls each time? what are the death tolls each time ?
what is the maximum number of deaths in any one time? what is the maximum number of deaths in any one time ?
what about the minimum? what about the minimum ?
give me the maximum and also the minimum. give me the maximum and also the minimum .
show me information about deaths caused by ships. show me information about deaths caused by ships .
only ships with tonnage 't'. only ships with tonnage 't ' .
only return the death and injury information for those ships. only return the death and injury information for those ships .
what are the ids and names of the battles? what are the ids and names of the battles ?
only show those that ships were lost in. only show those that ships were lost in .
please, just the ones with 'brig' ship type. please , just the ones with 'brig ' ship type .
how many people were killed or injured in each battle? how many people were killed or injured in each battle ?
only show the deaths for those battles that produced at least ten deaths. only show the deaths for those battles that produced at least ten deaths .
list the injuries caused by each ship (give ship id and name please). list the injuries caused by each ship ( give ship id and name please ) .
sort it by decreasing number of injuries. sort it by decreasing number of injuries .
only show the ship id and name that caused the most total injuries. only show the ship id and name that caused the most total injuries .
which battles did the bulgarian commander 'kaloyan' fight in? which battles did the bulgarian commander 'kaloyan ' fight in ?
how about the latin commander 'baldwin i'? how about the latin commander 'baldwin i ' ?
just the ones where they were fighting one another, please. just the ones where they were fighting one another , please .
which battle ids lost ships with tonnage '225'? which battle ids lost ships with tonnage '225 ' ?
give the names of these battles, too. give the names of these battles , too .
which battle ids and names did not lose any ship with tonnage '225'? which battle ids and names did not lose any ship with tonnage '225 ' ?
how many is that? how many is that ?
list the name and date of the battle that has lost the ship named 'lettice' list the name and date of the battle that has lost the ship named 'lettice '
same for 'hms atlanta', please. same for 'hms atlanta ' , please .
can you intersect those? can you intersect those ?
which battle ids and names lost ships in the 'english channel'? which battle ids and names lost ships in the 'english channel ' ?
which did not? which did not ?
for these ones, show their names, results, and bulgarian commanders. for these ones , show their names , results , and bulgarian commanders .
how many continents are there? how many continents are there ?
show all their ids and names! show all their ids and names !
what countries do they each have? what countries do they each have ?
count how many there are for each continent name and id! count how many there are for each continent name and id !
what are the names and ids of the different car makers? what are the names and ids of the different car makers ?
what countries are they each from? what countries are they each from ?
for each, how many models do they each produce? for each , how many models do they each produce ?
can actually just show the name, id and the number of models? can actually just show the name , id and the number of models ?
what is the average horsepower of all cars? what is the average horsepower of all cars ?
how about the maximum? how about the maximum ?
what about the minimum? what about the minimum ?
what is the model of the car with this horsepower? what is the model of the car with this horsepower ?
what is the average weight of all the cars? what is the average weight of all the cars ?
list all the car information with weights above this? list all the car information with weights above this ?
how about below this? how about below this ?
please, show just their model names! please , show just their model names !
what are the ids, and models of the cars were made in 1970? what are the ids , and models of the cars were made in 1970 ?
show their horsepower and mpg as well? show their horsepower and mpg as well ?
also provide the names of their makers! also provide the names of their makers !
just show a unique list of all these different makers. just show a unique list of all these different makers .
show me the makes and models of each car! show me the makes and models of each car !
also provide which the year they were produced? also provide which the year they were produced ?
which ones been produce in the earliest year? which ones been produce in the earliest year ?
show just the make and year! show just the make and year !
what are all the different car models? what are all the different car models ?
show also all the car makes and the years that they were produced! show also all the car makes and the years that they were produced !
show only those that were made after 1980! show only those that were made after 1980 !
what are the distinct car models for these? what are the distinct car models for these ?
what are the names and country name of each car maker? what are the names and country name of each car maker ?
also provide the continent name for each! also provide the continent name for each !
how many car makers are there per continent? how many car makers are there per continent ?
how many countries are there? how many countries are there ?
how many car makers belong to each one? how many car makers belong to each one ?
what is the name of the country that has the least number? what is the name of the country that has the least number ?
how about the most? how about the most ?
how many makers are there? how many makers are there ?
what are their full names and ids? what are their full names and ids ?
what models have they each produced? what models have they each produced ?
count how many modes there are per maker. count how many modes there are per maker .
show all the car ids with the make amc hornet sporabout (sw)? show all the car ids with the make amc hornet sporabout ( sw ) ?
what is its horsepower? what is its horsepower ?
how about its mpg? how about its mpg ?
how about its accelerate? how about its accelerate ?
show all the different car makers? show all the different car makers ?
what are the names of the countries they belong to? what are the names of the countries they belong to ?
show just the car makers from france! show just the car makers from france !
how many are there? how many are there ?
how many car models are produced in total? how many car models are produced in total ?
how many in germany? how many in germany ?
how about in japan? how about in japan ?
how about the usa? how about the usa ?
what is all the car information for cars produced in 1974? what is all the car information for cars produced in 1974 ?
now, show me just the weight and cylinders of these cars. now , show me just the weight and cylinders of these cars .
list just those with 8 cylinders! list just those with 8 cylinders !
what is the smallest weight? what is the smallest weight ?
what are all the different country names? what are all the different country names ?
which ones have no car makers? which ones have no car makers ?
which ones have at least one? which ones have at least one ?
also provide the country id! also provide the country id !
show all the car makers and their country name? show all the car makers and their country name ?
count how many there are per country name? count how many there are per country name ?
show just those from countries in the continent europe. show just those from countries in the continent europe .
list the country names of those with at least 3 manufacturers! list the country names of those with at least 3 manufacturers !
what is the horsepower, make for each car! what is the horsepower , make for each car !
show those with 8 cylinders! show those with 8 cylinders !
how about 3? how about 3 ?
show the one with the maximum horsepower. show the one with the maximum horsepower .
what is id of the car with the max horsepower? what is id of the car with the max horsepower ?
how about with the max mpg? how about with the max mpg ?
show its make! show its make !
now show its model! now show its model !
what is the average edispl of all cars? what is the average edispl of all cars ?
can you show the average per car make? can you show the average per car make ?
how about per car model? how about per car model ?
show the average for the model volvo! show the average for the model volvo !
what are all the different models for each car? what are all the different models for each car ?
what are the makes for each? what are the makes for each ?
how many makes are there for each? how many makes are there for each ?
what is the model name with the most makes? what is the model name with the most makes ?
show the full names of all the different car makers? show the full names of all the different car makers ?
also include the car models produced by each! also include the car models produced by each !
show me just those produced by the maker with full name american motor company! show me just those produced by the maker with full name american motor company !
how many are there? how many are there ?
what is all the information for the makers that have designed at least 1 car model! what is all the information for the makers that have designed at least 1 car model !
which ones have designed more than 1? which ones have designed more than 1 ?
how about more than 3? how about more than 3 ?
list just the full name and id! list just the full name and id !
how many different models has maker with full name general motors produced? how many different models has maker with full name general motors produced ?

how many different models weigh over 3500 pounds? how many different models weigh over 3500 pounds ?
how many models have either of these features? how many models have either of these features ?
show me the distinct list of their model names! show me the distinct list of their model names !
show the years and weight of all the cars! show the years and weight of all the cars !
show distinct years that the cars that weigh more than 3000 were produced! show distinct years that the cars that weigh more than 3000 were produced !
how about the different years for those that weight less than 4000. how about the different years for those that weight less than 4000 .
what are the distinct years, for the cars that are both? what are the distinct years , for the cars that are both ?
what is the lowest accelerate for any car? what is the lowest accelerate for any car ?
how about the highest? how about the highest ?
what is the id, make and model of this car? what is the id , make and model of this car ?
show just its horsepower. show just its horsepower .
show all the car information for any car of the model volvo! show all the car information for any car of the model volvo !
what is the car with the least accelerate? what is the car with the least accelerate ?
what is its horsepower? what is its horsepower ?
what about its number of cylinders? what about its number of cylinders ?
what is largest horsepower of all cars? what is largest horsepower of all cars ?
what is the accelerate of the car with this horsepower? what is the accelerate of the car with this horsepower ?
what are the car ids of the cars with a greater accelerate than this? what are the car ids of the cars with a greater accelerate than this ?
how many are there? how many are there ?
what are the names of the countries that have no car makers? what are the names of the countries that have no car makers ?
show me all the names of all the different countries outside of those! show me all the names of all the different countries outside of those !
how many of these have more than 1 car maker? how many of these have more than 1 car maker ?
how about more than 2? how about more than 2 ?
show all models and horsepowers of all cars! show all models and horsepowers of all cars !
now show just the ones with 4 cylinders. now show just the ones with 4 cylinders .
what is the model of that with the lowest horsepower? what is the model of that with the lowest horsepower ?
how about the greatest horsepower? how about the greatest horsepower ?
what is the lowest horsepower of all cars? what is the lowest horsepower of all cars ?
show all the ids and makes of those with a horsepower greater than this! show all the ids and makes of those with a horsepower greater than this !
which ones have 5 cylinders or less? which ones have 5 cylinders or less ?
how about 3 or less? how about 3 or less ?
show me the mpg, horsepower and accelerate for all the cars that were produced before 1980! show me the mpg , horsepower and accelerate for all the cars that were produced before 1980 !
also include the cars that have 8 cylinders! also include the cars that have 8 cylinders !
what is the max horsepower for this group? what is the max horsepower for this group ?
how about the max mpg? how about the max mpg ?
show all the models that were built by the ford motor company. show all the models that were built by the ford motor company .
what are all the models except those! what are all the models except those !
also provide the weights for all different makes for each of these models. also provide the weights for all different makes for each of these models .
list all the different models from these that have makes that are lighter than 3500! list all the different models from these that have makes that are lighter than 3500 !
what are all the names of countries? what are all the names of countries ?
which ones have at least one car maker? which ones have at least one car maker ?
show me all of car names other than these! show me all of car names other than these !
show all the car maker id, names, the models and makes they produce! show all the car maker id , names , the models and makes they produce !
how many model does each car maker produce? list the id and maker! how many model does each car maker produce ? list the id and maker !
show me those that produce at least 2! show me those that produce at least 2 !
for each of these, only show those that have more than 3 car makes! for each of these , only show those that have more than 3 car makes !
how many matches are there? how many matches are there ?
what was the maximum length in minutes for the matches? what was the maximum length in minutes for the matches ?
average? average ?
how about for the age of losers and winners? how about for the age of losers and winners ?
how many distinct tourney names are there? how many distinct tourney names are there ?
which ones have more than 20 matches? which ones have more than 20 matches ?
more than 10? more than 10 ?
how many distinct winners played in 2013? how many distinct winners played in 2013 ?
of those, how many also played in 2016. of those , how many also played in 2016 .
what are their names? what are their names ?
how many matches were played? how many matches were played ?
how many where the loser hand is l? how many where the loser hand is l ?
how many played in year 2013 or 2016? how many played in year 2013 or 2016 ?
how many players are there? how many players are there ?
which ones won in the tourney wta championships? give their last name and birth date. which ones won in the tourney wta championships ? give their last name and birth date .
give first name and country code instead. give first name and country code instead .
which ones also won in the australian open? which ones also won in the australian open ?
what is the birth date of the oldest player? what is the birth date of the oldest player ?
give the player id and last name instead. give the player id and last name instead .
give the first name and country code instead. give the first name and country code instead .
how many players have right / r hand? how many players have right / r hand ?
left / l hand? left / l hand ?
give their country code and birth date. give their country code and birth date .
order by their birth date, and give the first and last name instead. order by their birth date , and give the first and last name instead .
how many players are there? how many players are there ?
how many tours did the player who did the least number of tours do? how many tours did the player who did the least number of tours do ?
most number of tours? most number of tours ?
give the first name and country code instead. give the first name and country code instead .
how many matches are there? how many matches are there ?
find the surface that has the most number. find the surface that has the most number .
what about the year? what about the year ?
find the name of the loser who lost the most times. find the name of the loser who lost the most times .
give the rank points as well. give the rank points as well .
give the same, but for the winner who won the most times. give the same , but for the winner who won the most times .
give the name of the loser who has the highest rank points. give the name of the loser who has the highest rank points .
do the same but for the australian open tourney. do the same but for the australian open tourney .
give the winner name instead. give the winner name instead .
give the length of the match in minutes of the shortest match. give the length of the match in minutes of the shortest match .
longest match? longest match ?
give the winner and loser name instead. give the winner and loser name instead .
find the birth dates of each of the players. find the birth dates of each of the players .
find tours and first name instead. find tours and first name instead .
give the average ranking instead of the tours. give the average ranking instead of the tours .
give the number of tours for each player. give the number of tours for each player .
give the average rank points and first name. give the average rank points and first name .
find the total ranking points instead. find the total ranking points instead .
find the number of players for each country. find the number of players for each country .
which country has the least number of players? give the country code. which country has the least number of players ? give the country code .
greatest number? greatest number ?
what is the number of players for each hand type? give the hand type as well. what is the number of players for each hand type ? give the hand type as well .
for each country? for each country ?
give the ones that have more than 50 players. give the ones that have more than 50 players .
give the country code only. give the country code only .
give the name of the 3 oldest losers across all matches. give the name of the 3 oldest losers across all matches .
how about the 3 oldest winners. how about the 3 oldest winners .
youngest? give the rank as well. youngest ? give the rank as well .
how  many different losers participated in the australian open? how many different losers participated in the australian open ?
winners? winners ?
how about in the wta championships, and were also left handed? how about in the wta championships , and were also left handed ?
list all conductor information. list all conductor information .
how many conductors are there? how many conductors are there ?
what are the names of the conductors? what are the names of the conductors ?
what are the ages of the conductors? what are the ages of the conductors ?
list the names of conductors in ascending order of age. list the names of conductors in ascending order of age .
list the names of conductors list the names of conductors
among these conductors, which of them are not from the usa? among these conductors , which of them are not from the usa ?
list the information of record companies. list the information of record companies .
when were they founded? when were they founded ?
please list the record companies of orchestras in descending order of years in which they were founded. please list the record companies of orchestras in descending order of years in which they were founded .
what is the attendance of each show? what is the attendance of each show ?
what is the average attendance? what is the average attendance ?
what are the shares of performances? what are the shares of performances ?
what are the shares of performances whose type is not "live final"? what are the shares of performances whose type is not `` live final '' ?
what are the maximum and the minimum of these values? what are the maximum and the minimum of these values ?
list the nationalities of conductors. list the nationalities of conductors .
how many are there? how many are there ?
list the names of conductors. list the names of conductors .
list years of work of conductors. list years of work of conductors .
list names of conductors in descending order of years of work. list names of conductors in descending order of years of work .
list the names of the conductors. list the names of the conductors .

list years of work of conductors. list years of work of conductors .
list the name of the conductor with the most years of work. list the name of the conductor with the most years of work .
show the names of conductors. show the names of conductors .
please list these names with the orchestras they have conducted. please list these names with the orchestras they have conducted .
please show the names of the conductors. please show the names of the conductors .
which of them have conducted more than one orchestras? which of them have conducted more than one orchestras ?
please show the names of the conductors. please show the names of the conductors .
who has conducted the most orchestras? who has conducted the most orchestras ?
please show the names of the conductors. please show the names of the conductors .
who has conducted orchestras founded after 2008? who has conducted orchestras founded after 2008 ?
please show the record companies without duplicates. please show the record companies without duplicates .
please also show their corresponding number of orchestras. please also show their corresponding number of orchestras .
please show the record formats of orchestras. please show the record formats of orchestras .
please list them in ascending order of count. please list them in ascending order of count .
list the information of all record companies. list the information of all record companies .
which one is shared by the most orchestras? which one is shared by the most orchestras ?
list the names of orchestras. list the names of orchestras .
which of them have had no performances? which of them have had no performances ?
please list the record companies. please list the record companies .
which of them are shared by orchestras founded before 2003? which of them are shared by orchestras founded before 2003 ?
which of them are shared by orchestras founded after 2003? which of them are shared by orchestras founded after 2003 ?
which of them are shared by orchestras founded before 2003 and after 2003? which of them are shared by orchestras founded before 2003 and after 2003 ?
list the orchestras whose record format is "cd" or "dvd". list the orchestras whose record format is `` cd '' or `` dvd '' .
how many of these orchestras are there? how many of these orchestras are there ?
show information for all documents. show information for all documents .
show their ids. show their ids .
also show their document names and document descriptions. also show their document names and document descriptions .
show the document name for all documents. show the document name for all documents .
also show their description. also show their description .
which one has description with the letter 'w' in it? which one has description with the letter 'w ' in it ?
show its name and template id. show its name and template id .
show the the document name for all documents. show the the document name for all documents .
show the document id for the one named "robbin cv"? show the document id for the one named `` robbin cv '' ?
also show its template id and description. also show its template id and description .
show the template id for all documents. show the template id for all documents .
show all distinct results. show all distinct results .
how many are there? how many are there ?
show the document ids. show the document ids .
also show their template id and template type code. also show their template id and template type code .
which documents are using the template with type code 'ppt'? which documents are using the template with type code 'ppt ' ?
how many are there? how many are there ?
show the template id for all documents. show the template id for all documents .
for each of them, show the number of documents using it. for each of them , show the number of documents using it .
show the template id for all documents. show the template id for all documents .
also show its template type code. also show its template type code .
for each of them, show the number of documents using it. for each of them , show the number of documents using it .
which one has the most? which one has the most ?
show the template id for all documents. show the template id for all documents .
for each of them, show the number of documents. for each of them , show the number of documents .
which of them are used by more than one document? which of them are used by more than one document ?
show template ids used by some document. show template ids used by some document .
show all template ids. show all template ids .
which of them are not used by any document? which of them are not used by any document ?
show info for all templates. show info for all templates .
how many are there? how many are there ?
show template ids for all templates. show template ids for all templates .
also show their version numbers and template type codes. also show their version numbers and template type codes .
show all template type codes for all templates. show all template type codes for all templates .
filter out duplicates. filter out duplicates .
show the template ids for all templates. show the template ids for all templates .
how about the ids with template type code pp or ppt? how about the ids with template type code pp or ppt ?
show the template type codes for all templates. show the template type codes for all templates .
how many of them have template type code cv? how many of them have template type code cv ?
what is the version number for all template? what is the version number for all template ?
only show those with version number later than 5. only show those with version number later than 5 .
also show their template type code. also show their template type code .
show the template type code for all templates. show the template type code for all templates .
for each of them, count the number of templates for each of them , count the number of templates
show all type codes for templates. show all type codes for templates .
for each of them, how many templates do they contain? for each of them , how many templates do they contain ?
which of them contains the most templates? which of them contains the most templates ?
show all template type codes. show all template type codes .
for each of them, show the count of templates. for each of them , show the count of templates .
which of them have fewer than three templates? which of them have fewer than three templates ?
show the version number for all templates. show the version number for all templates .
what is the smallest value? what is the smallest value ?
also show its template type code. also show its template type code .
what is the template type code of the template. what is the template type code of the template .
also show the names of all documents using each template. also show the names of all documents using each template .
which of the template type codes is used by document with the name "data base"? which of the template type codes is used by document with the name `` data base '' ?
show all document names. show all document names .
also show their template type codes. also show their template type codes .
which of the documents are using templates with template type code bk? which of the documents are using templates with template type code bk ?
show all template type codes. show all template type codes .
also show the document ids using each template. also show the document ids using each template .
for each type code, how many documents are using that template? for each type code , how many documents are using that template ?
show the type codes for all templates. show the type codes for all templates .
for each, how many documents are using this template? for each , how many documents are using this template ?
order the template type codes in descending order by this number. order the template type codes in descending order by this number .
which of them has the most? which of them has the most ?
show all template type codes. show all template type codes .
show all template type codes that are used by some document. show all template type codes that are used by some document .
how about those that are not used by any document? how about those that are not used by any document ?
show all template type codes. show all template type codes .
also show their descriptions. also show their descriptions .
show all template type codes and descriptions. show all template type codes and descriptions .
what is the description for template type code "ad"? what is the description for template type code `` ad '' ?
show all template type codes. show all template type codes .
also show descriptions. also show descriptions .
which code has template type description "book"? which code has template type description `` book '' ?
show the template ids used by any document. show the template ids used by any document .
also show the template type code for those ids. also show the template type code for those ids .
how about their template type descriptions? how about their template type descriptions ?
show the distinct values among them. show the distinct values among them .
show the template id for all templates. show the template id for all templates .
also show their template type description. also show their template type description .
what are the template ids with description "presentation"? what are the template ids with description `` presentation '' ?
show the info for all paragraphs. show the info for all paragraphs .
how many are there? how many are there ?
show the id for all paragraphs. show the id for all paragraphs .
also show their document names. also show their document names .
only show the id for all paragraphs in the document named 'summer show'. only show the id for all paragraphs in the document named 'summer show ' .
how many such paragraphs are there? how many such paragraphs are there ?
show the parapraph text for all paragraphs. show the parapraph text for all paragraphs .
also show their paragraph details. also show their paragraph details .
what are the details for the paragraph containing 'korea'? what are the details for the paragraph containing 'korea ' ?
show all paragraph ids and texts. show all paragraph ids and texts .
for each of them, also show their document name. for each of them , also show their document name .
what are the ids and texts for the paragraph in the document with name 'welcome to ny'? what are the ids and texts for the paragraph in the document with name 'welcome to ny ' ?
show all paragraph text. show all paragraph text .
for each of them, also show the document name. for each of them , also show the document name .
what is the text for the document "customer reviews"? what is the text for the document `` customer reviews '' ?
show the document id for all paragraphs. show the document id for all paragraphs .
for each id, show the number of paragraphs. for each id , show the number of paragraphs .
order by document id. order by document id .
show all document ids and names. show all document ids and names .
for each of them, count the number of paragraphs in each document. for each of them , count the number of paragraphs in each document .
show the document id for all paragraphs. show the document id for all paragraphs .
for each of these document ids, count the number of paragraphs. for each of these document ids , count the number of paragraphs .
which of them have at least two paragraphs? which of them have at least two paragraphs ?
show the id number and name for all documents. show the id number and name for all documents .
also show the paragraph id for those documents. also show the paragraph id for those documents .
for each of these results, count the number of paragraphs. for each of these results , count the number of paragraphs .

which of them is the longest? which of them is the longest ?
show the document id for all paragraphs. show the document id for all paragraphs .
for each of them, count the number of paragraphs. for each of them , count the number of paragraphs .
sort them by these counts. sort them by these counts .
which has the fewest? which has the fewest ?
show the document id for all paragraphs. show the document id for all paragraphs .
for each of these ids, show the number of paragraphs. for each of these ids , show the number of paragraphs .
which of them have between 1 and 2 paragraphs? which of them have between 1 and 2 paragraphs ?
show information for all singers. show information for all singers .
how many are there? how many are there ?
show names of all singers. show names of all singers .
for each of them, also show country and age. for each of them , also show country and age .
list the results in descending order of their age. list the results in descending order of their age .
show age for all singers. show age for all singers .
what about age for those from france? what about age for those from france ?
what is the average, minimum, and maximum age for those? what is the average , minimum , and maximum age for those ?
show the names of all songs. show the names of all songs .
also show the release year for each of them. also show the release year for each of them .
order the result by the age of their singers. order the result by the age of their singers .
what is the result for the song by the yongest? what is the result for the song by the yongest ?
show country for all singers. show country for all singers .
only show the results for those above 20. only show the results for those above 20 .
what are all distinct countries for them? what are all distinct countries for them ?
show the country for all singers. show the country for all singers .
for each of them, what is the number of singers? for each of them , what is the number of singers ?
what is the average age for all singers? what is the average age for all singers ?
show the name for songs by singers older than that. show the name for songs by singers older than that .
show the name for all stadiums. show the name for all stadiums .
what about those with a capacity between 5000 and 10000? what about those with a capacity between 5000 and 10000 ?
also list the location for them. also list the location for them .
show the capacity for all stadiums. show the capacity for all stadiums .
what is the average of them? what is the average of them ?
also show the maximum. also show the maximum .
show the name and capacity for all stadiums. show the name and capacity for all stadiums .
show the result in descending order of their average attendance. show the result in descending order of their average attendance .
which one has the highest? which one has the highest ?
show the concert information in year 2014. show the concert information in year 2014 .
also show those in year 2015. also show those in year 2015 .
how many are there in total? how many are there in total ?
show the names of stadiums. show the names of stadiums .
for each of them, also show the number of concerts. for each of them , also show the number of concerts .
show all stadium names and their capacities. show all stadium names and their capacities .
order the results in descending order of the number of concerts in year 2014 or after. order the results in descending order of the number of concerts in year 2014 or after .
which one has the most? which one has the most ?
show the year for all concerts. show the year for all concerts .
order them in descending order of the number of concerts order them in descending order of the number of concerts
which year has the most? which year has the most ?
show all stadium ids of concerts. show all stadium ids of concerts .
show the stadium names without any concert. show the stadium names without any concert .
show the country for all singers. show the country for all singers .
how about those for singers above age 40? how about those for singers above age 40 ?
how about those for singers below 30? how about those for singers below 30 ?
how about countries with both? how about countries with both ?
show name for stadiums that had a concert in year 2014. show name for stadiums that had a concert in year 2014 .
show names for all stadiums except for those. show names for all stadiums except for those .
show the name and theme for all concerts. show the name and theme for all concerts .
for each of those, also show the number of singers. for each of those , also show the number of singers .
show the name for all singers. show the name for all singers .
for each of them, also show the number of concerts for each of them , also show the number of concerts
list all singer names. list all singer names .
how about those performing concerts in year 2014? how about those performing concerts in year 2014 ?
what are the names of all singers? what are the names of all singers ?
show the names for those having a song having 'hey' in its name. show the names for those having a song having 'hey ' in its name .
also show the nation for those singers. also show the nation for those singers .
show the name and location for the stadiums. show the name and location for the stadiums .
how about those with some concerts happened in the year 2014? how about those with some concerts happened in the year 2014 ?
among those, what are stadiums also holding some concerts in the year 2015? among those , what are stadiums also holding some concerts in the year 2015 ?
show the names and birth years of singers show the names and birth years of singers
only for the ones born in 1948. only for the ones born in 1948 .
show the name of singers whose birth year is either 1948 or 1949? show the name of singers whose birth year is either 1948 or 1949 ?
show the name and net worth of the singers. show the name and net worth of the singers .
order by richest first. order by richest first .
what is the name of the singer with the largest net worth? what is the name of the singer with the largest net worth ?
show the names and citizenships of singers. show the names and citizenships of singers .
show citizenship counts. show citizenship counts .
sort that by most common first. sort that by most common first .
limit it to one. limit it to one .
join singer names with their song titles. join singer names with their song titles .
limit the entries to where song sales exceed 300000. limit the entries to where song sales exceed 300000 .
which are the distinct names in that list? which are the distinct names in that list ?
show the names and song counts of singers. show the names and song counts of singers .
show the names of singers that have more than one song. show the names of singers that have more than one song .
show the songs and sale amounts. show the songs and sale amounts .
show the names of singers and the total sales of their songs. show the names of singers and the total sales of their songs .
which singer ids have at least one song? which singer ids have at least one song ?
which singer names do not? which singer names do not ?
find all employees who are under age 30. find all employees who are under age 30 .
which cities did they come from? which cities did they come from ?
show the cities from which more than one employee originated. show the cities from which more than one employee originated .
show all shops. show all shops .
what is the total number of products they are selling? what is the total number of products they are selling ?
find the name of the shop with the greatest number of products. find the name of the shop with the greatest number of products .
what are its manager name and district? what are its manager name and district ?
find the average number of products of all stores. find the average number of products of all stores .
how about the minimum and maximum? how about the minimum and maximum ?
show the name and number of product for all shops. show the name and number of product for all shops .
what is the average number of products? what is the average number of products ?
find the names of stores whose number products is less than the average. find the names of stores whose number products is less than the average .
how about more than? how about more than ?
how many evaluations are there? how many evaluations are there ?
what years were they given? what years were they given ?
find the name of the employee who received the most evaluation awards. find the name of the employee who received the most evaluation awards .
find the name of the employees who received past evaluation awards. find the name of the employees who received past evaluation awards .
who won the most times? who won the most times ?
ok, which one received the award with the highest bonus? ok , which one received the award with the highest bonus ?
find the number of different employees who were awarded in the past evaluations. find the number of different employees who were awarded in the past evaluations .
what are their names? what are their names ?
show the names of the employees who never won. show the names of the employees who never won .
how many shops are hiring? how many shops are hiring ?
what are the shops' names?' what are the shops ' names ? '
which one is hiring the largest number of employees? which one is hiring the largest number of employees ?
show all hiring info. show all hiring info .
find the names of any shops not hiring. find the names of any shops not hiring .
how many employees are being hired in all shops? how many employees are being hired in all shops ?
show the number for each shop. show the shop name as well. show the number for each shop . show the shop name as well .
show all visitors. show all visitors .
order them by their membership level from high to low. order them by their membership level from high to low .
just show their names. just show their names .
do not list those whose membership level is lower than or equal to 4. do not list those whose membership level is lower than or equal to 4 .
find the number of visitors with a membership level higher than 4. find the number of visitors with a membership level higher than 4 .

what are their names and membership levels? what are their names and membership levels ?
sort by their age from old to young. sort by their age from old to young .
how many museums are in the table? how many museums are in the table ?
what is the average number of staff working in these museums? what is the average number of staff working in these museums ?
find the name of the museum that has the most staff members. find the name of the museum that has the most staff members .
what is its id? what is its id ?
find the names of museums opened before 2010. find the names of museums opened before 2010 .
how about after? how about after ?
find the minimum number of staff of those museums. find the minimum number of staff of those museums .
find the names of museums which have more staff than that. find the names of museums which have more staff than that .
find the names of visitors who visited and who have some museum visit records. find the names of visitors who visited and who have some museum visit records .
which of them visited some museums more than once? which of them visited some museums more than once ?
also show their ids and ages. also show their ids and ages .
what is the total spent on all visits? what is the total spent on all visits ?
find the name of the visitor who has spent the most money for his or her visits. find the name of the visitor who has spent the most money for his or her visits .
what are his id and membership level? what are his id and membership level ?
show the id and name of all museums. show the id and name of all museums .
show the number of tickets sold for each of them. show the number of tickets sold for each of them .
which one was visited the most times? which one was visited the most times ?
how many museums are there? how many museums are there ?
how many of them have not had any visitors yet? how many of them have not had any visitors yet ?
what are their names? what are their names ?
how many tickets were sold from all of the museums? how many tickets were sold from all of the museums ?
find the id of the visitor who bought the most tickets at once. find the id of the visitor who bought the most tickets at once .
find the name and age of this visitor. find the name and age of this visitor .
find the total cost of all visits. find the total cost of all visits .
what was the amount of the largest one time purchase of tickets out of all visits? what was the amount of the largest one time purchase of tickets out of all visits ?
how about the average and maximum number of tickets purchased? how about the average and maximum number of tickets purchased ?
what is the lowest level of membership? what is the lowest level of membership ?
find the number of visitors whose membership level is 1. find the number of visitors whose membership level is 1 .
show the ticket expenses of all of their museum visits. show the ticket expenses of all of their museum visits .
what is the total amount of money spent? what is the total amount of money spent ?
find the names of museums opened before 2009. find the names of museums opened before 2009 .
what about those opened after 2011? what about those opened after 2011 ?
what is the name of the visitor who visited both groups of museums? what is the name of the visitor who visited both groups of museums ?
find the names of museums opened after 2010 find the names of museums opened after 2010
find the number of visits to these museums? find the number of visits to these museums ?
find the number of visitors who did not visit these museums. find the number of visitors who did not visit these museums .
how many high schoolers are there? how many high schoolers are there ?
how many in each grade 11 or 12? how many in each grade 11 or 12 ?
how many in grade 9 or 10? how many in grade 9 or 10 ?
how many distinct grades are there? how many distinct grades are there ?
what are they? what are they ?
which one has the least number of highschoolers? which one has the least number of highschoolers ?
which one has the most? which one has the most ?
how many highschoolers are there in total? how many highschoolers are there in total ?
how many per grade? how many per grade ?
what grades have at least 10 students? what grades have at least 10 students ?
how about at least 4? how about at least 4 ?
what are the names of all the high school students? what are the names of all the high school students ?
show the names of the friends for each one. show the names of the friends for each one .
how many friends does each student each have? how many friends does each student each have ?
what are the names of all the high schoolers? what are the names of all the high schoolers ?
show me the number of friends for each one. show me the number of friends for each one .
which one has the least number of friends? which one has the least number of friends ?
how about the greatest? how about the greatest ?
how many highschoolers have more than 5? how many highschoolers have more than 5 ?
at least 3? at least 3 ?
what are their names? what are their names ?
show me information on the high schooler named "kyle." show me information on the high schooler named `` kyle . ''
how many friends does he have? how many friends does he have ?
what are their names? what are their names ?
is there a highschooler named kyle? is there a highschooler named kyle ?
who does he like? who does he like ?
what are the names of his friends? what are the names of his friends ?
how many are there? how many are there ?
show me all the high school student ids. show me all the high school student ids .
how many friends do each of them have? how many friends do each of them have ?
which ones have at least 1? which ones have at least 1 ?
which ones have none? which ones have none ?
what are the names of all the highshcool students? what are the names of all the highshcool students ?
which ones have at least 5 friends? which ones have at least 5 friends ?
how about at least 1? how about at least 1 ?
how about 0? how about 0 ?
show me the ids of all highschoolers who have friends? show me the ids of all highschoolers who have friends ?
also show, for each, the ids of the people they like? also show , for each , the ids of the people they like ?
now only show those who are liked by someone else! now only show those who are liked by someone else !
show me just their ids! show me just their ids !
how many high schoolers are liked by someone else? how many high schoolers are liked by someone else ?
what are their names? what are their names ?
how many of them have friends? how many of them have friends ?
who are they? who are they ?
what are the names of the highschoolers who don't like anyone? what are the names of the highschoolers who do n't like anyone ?
how about those who like others? how about those who like others ?
how many people do they each like? how many people do they each like ?
how many high schoolers like somebody else? how many high schoolers like somebody else ?
what are their names? what are their names ?
what is the greatest number of likes anyone has? what is the greatest number of likes anyone has ?
who has the greatest number of likes? who has the greatest number of likes ?
show me the names of all students? show me the names of all students ?
how about those who like at least one other person! how about those who like at least one other person !
how about those who like at least two other students! how about those who like at least two other students !
what are the names of the students who have some friends? what are the names of the students who have some friends ?
how about those have at least 2 friends? how about those have at least 2 friends ?
what grades are they each in? what grades are they each in ?
show me the names of only those who are in a grade higher than 5! show me the names of only those who are in a grade higher than 5 !
what grade is the student named kyle in? what grade is the student named kyle in ?
how many other students like him? how many other students like him ?
what are their names? what are their names ?
how many other students does he like? how many other students does he like ?
show me the student_id and the grade for all students. show me the student_id and the grade for all students .
what is the average grade? what is the average grade ?
how about for students who have no friends? how about for students who have no friends ?
how about for those who have some friends? how about for those who have some friends ?
show all the teachers. show all the teachers .
how many are there? how many are there ?
what is the name of each teacher? what is the name of each teacher ?
sort them in ascending order of age. sort them in ascending order of age .
what is the age of each teacher? what is the age of each teacher ?
also show the hometown for each. also show the hometown for each .
what is the hometown of each teacher? what is the hometown of each teacher ?
which teacher's hometown is not "little lever urban district"? which teacher 's hometown is not `` little lever urban district '' ?
give me their names. give me their names .
what are the ages of all the teachers? what are the ages of all the teachers ?
which teachers are age 32? which teachers are age 32 ?
which teachers are age 32 or 33? which teachers are age 32 or 33 ?
what are their names? what are their names ?

sort all the teachers by their age. sort all the teachers by their age .
which teacher is the youngest? which teacher is the youngest ?
what is his or her hometown? what is his or her hometown ?
what is the hometown of each teacher? what is the hometown of each teacher ?
can you order teachers by their hometowns? can you order teachers by their hometowns ?
show the number of teachers from each hometown. show the number of teachers from each hometown .
how many teachers are there? how many teachers are there ?
how many are there for each hometown? how many are there for each hometown ?
find the most common hometown of teachers. find the most common hometown of teachers .
how many teachers are there? how many teachers are there ?
how many teachers are there for each hometown? how many teachers are there for each hometown ?
which hometowns are shared by at least two teachers? which hometowns are shared by at least two teachers ?
find all the course arrangements. find all the course arrangements .
for each of the courses, show the teacher who teaches it. for each of the courses , show the teacher who teaches it .
find all the course arrangements. find all the course arrangements .
show names of teachers and the courses they are arranged to teach. show names of teachers and the courses they are arranged to teach .
sort the results by teacher's name sort the results by teacher 's name
find all the course arrangements. find all the course arrangements .
show names of teachers and the courses they are arranged to teach. show names of teachers and the courses they are arranged to teach .
which teachers teach the math course? give me their names. which teachers teach the math course ? give me their names .
show all the teacher names. show all the teacher names .
show names of teachers and the number of courses they teach. show names of teachers and the number of courses they teach .
show all the teacher names. show all the teacher names .
show names of teachers and the number of courses they teach. show names of teachers and the number of courses they teach .
show the names of teachers who teach at least two courses. show the names of teachers who teach at least two courses .
show all the available features. show all the available features .
how many available features are there? how many available features are there ?
find the available features with feature name "aircon". find the available features with feature name `` aircon '' .
what is the feature type name? what is the feature type name ?
what is the property type description of each property? what is the property type description of each property ?
show the property type descriptions of properties for each property type code. show the property type descriptions of properties for each property type code .
show all area codes and states. show all area codes and states .
how many are there? how many are there ?
show all info about contestants. show all info about contestants .
what are their names? what are their names ?
can you also show contestant numbers? can you also show contestant numbers ?
can you sort them ordered in descending order of contestant name? can you sort them ordered in descending order of contestant name ?
show all info about votes. show all info about votes .
also provide vote ids. also provide vote ids .
also show phone numbers. also show phone numbers .
show all area codes. show all area codes .
what is the largest one? what is the largest one ?
how about smallest one? how about smallest one ?
give me both. give me both .
show all votes. show all votes .
which ones are from the state 'ca'? which ones are from the state 'ca ' ?
among those, can you give me the last date created? among those , can you give me the last date created ?
show all contestants. show all contestants .
what are their names? what are their names ?
can you not include the name 'jessie alloway'? can you not include the name 'jessie alloway ' ?
show all votes? show all votes ?
among these, what is the list of states? among these , what is the list of states ?
what are the distinct states and create time? what are the distinct states and create time ?
show all the contestants. show all the contestants .
show all the votes. show all the votes .
can you show contestants with at least two votes? can you show contestants with at least two votes ?
what are their contestant numbers and names? what are their contestant numbers and names ?
show all the contestants. show all the contestants .
show all the votes. show all the votes .
can you show the contestant with the least votes? can you show the contestant with the least votes ?
what is his or her contestant number and contestant name? what is his or her contestant number and contestant name ?
show all votes. show all votes .
what about those from state 'ny' or 'ca'? what about those from state 'ny ' or 'ca ' ?
give me the count of these votes. give me the count of these votes .
show all contestants show all contestants
which contestants did not get any votes? which contestants did not get any votes ?
how many are there? how many are there ?
show all area codes and states. show all area codes and states .
show all votes. show all votes .
get the count of votes for each area code. get the count of votes for each area code .
what is the area code in which the most voters voted? what is the area code in which the most voters voted ?
show all votes. show all votes .
show those that were for the contestant named 'tabatha gehling'. show those that were for the contestant named 'tabatha gehling ' .
what are the create dates, states, and phone numbers of these votes? what are the create dates , states , and phone numbers of these votes ?
show all area codes. show all area codes .
can you tell me area codes in which voters voted for the contestant 'tabatha gehling'? can you tell me area codes in which voters voted for the contestant 'tabatha gehling ' ?
how about both the contestant 'tabatha gehling' and the contestant 'kelly clauss'? how about both the contestant 'tabatha gehling ' and the contestant 'kelly clauss ' ?
give me the description of the department that offers the most number of degrees. give me the description of the department that offers the most number of degrees .
what's the name and id of that department? what 's the name and id of that department ?
show me all the degrees offered by the engineering department. show me all the degrees offered by the engineering department .
how many are there? how many are there ?
show me courses that have exactly 2 sections. show me courses that have exactly 2 sections .
show me names and ids for courses that have at most 2 sections. show me names and ids for courses that have at most 2 sections .
which semester did the least number of students register? give me its name and id. which semester did the least number of students register ? give me its name and id .
how about the semester that most number of students registered? how about the semester that most number of students registered ?
show me all department names that contain the word "computer" show me all department names that contain the word `` computer ''
show me their descriptions. show me their descriptions .
how many people are enrolled in 2 degree programs in one semester? how many people are enrolled in 2 degree programs in one semester ?
show me their first, middle, and last names. show me their first , middle , and last names .
how many people are enrolled in the bachelor degree program? how many people are enrolled in the bachelor degree program ?
what are their first, middle, and last names? what are their first , middle , and last names ?
show me the descriptions of programs with 3 highest number of enrolled students. show me the descriptions of programs with 3 highest number of enrolled students .
show me the name of program with the most enrolled students. show me the name of program with the most enrolled students .
what is the description of the program that has the least number of enrolled students? what is the description of the program that has the least number of enrolled students ?
how about the program that has the most number of enrolled students? how about the program that has the most number of enrolled students ?
show me the id and summary. show me the id and summary .
show me the id, first and last names of top 3 students who have enrolled for the most times in any program. show me the id , first and last names of top 3 students who have enrolled for the most times in any program .
show me just the top 1. show me just the top 1 .
give me the description of a semester with no enrolled students. give me the description of a semester with no enrolled students .
what's the name of that semester? what 's the name of that semester ?
what's the name of the course with the least number of enrollments? what 's the name of the course with the least number of enrollments ?
how many enrollments does the course with most enrollments have? how many enrollments does the course with most enrollments have ?
what's the name of that course? what 's the name of that course ?
how many students currently live in north carolina? how many students currently live in north carolina ?
how many of those students have not registered in any degree program? how many of those students have not registered in any degree program ?
what are their last names? what are their last names ?
show me date and id of transcripts with exactly 2 course results. show me date and id of transcripts with exactly 2 course results .
how about transcripts with at least 2 course results? how about transcripts with at least 2 course results ?
what is the address of the student with first name timothy and last name ward? what is the address of the student with first name timothy and last name ward ?
what's his phone number? what 's his phone number ?
who was the last student to register? show me the first, middle, and last names of that student. who was the last student to register ? show me the first , middle , and last names of that student .
who was the first to register? who was the first to register ?
who is the least recent graduate of the school? list the first, middle, and last names. who is the least recent graduate of the school ? list the first , middle , and last names .
who is the earliest graduate of the school? who is the earliest graduate of the school ?
give me the id of the address that holds the most number of students? give me the id of the address that holds the most number of students ?
how many students live there? how many students live there ?
give me all the lines as well as the id of that address. give me all the lines as well as the id of that address .
give me details of the first transcript released. give me details of the first transcript released .
tell me when it was released as well, along with its details. tell me when it was released as well , along with its details .
what is the oldest transcript release date? what is the oldest transcript release date ?
how about the latest? how about the latest ?
how many times, at minimum, can a course enrollment result show in different transcript? show me the course enrollment id. how many times , at minimum , can a course enrollment result show in different transcript ? show me the course enrollment id .
how many times at most? how many times at most ?
show other details of the transcript with least number of results. show other details of the transcript with least number of results .
show me the date and id of that transcript. show me the date and id of that transcript .
find a semester when there was a master student enrolled. find a semester when there was a master student enrolled .
how about a semester when there was a bachelor student enrolled? how about a semester when there was a bachelor student enrolled ?
find a semester that both types of students were enrolled in. find a semester that both types of students were enrolled in .
list all the information about the owners. list all the information about the owners .
what about the professionals? what about the professionals ?
now show the states of them. now show the states of them .
which of them have both owners and professionals living there? which of them have both owners and professionals living there ?
show all the dog ages. show all the dog ages .
what is the maximum and minimum value? what is the maximum and minimum value ?
which of the dogs have gone through treatments? which of the dogs have gone through treatments ?
what about the average age of them? what about the average age of them ?
list all the professionals who are employees. list all the professionals who are employees .

how many of them live in connecticut? how many of them live in connecticut ?
what about in indiana? what about in indiana ?
among all the professionals, which have done treatment only 1 treatments? among all the professionals , which have done treatment only 1 treatments ?
list the id, last name and cell phone of the professionals who live in the state of indiana or have done treatment on more than 2 treatments? list the id , last name and cell phone of the professionals who live in the state of indiana or have done treatment on more than 2 treatments ?
show the dog name and total cost of each dog. show the dog name and total cost of each dog .
which of them cost over 500? which of them cost over 500 ?
what about more than 1000? what about more than 1000 ?
list all the names of both professionals and owners. list all the names of both professionals and owners .
what about the dog names? what about the dog names ?
which human names are not used as dog names. which human names are not used as dog names .
show the professional first names and the corresponding treatment type codes for the treatment. show the professional first names and the corresponding treatment type codes for the treatment .
what about each professional's id, role, email and the treatment type code? what about each professional 's id , role , email and the treatment type code ?
which professional did not provide any treatment? keep the id, role and email. which professional did not provide any treatment ? keep the id , role and email .
show the number of dogs for each owner, keep the owner id. show the number of dogs for each owner , keep the owner id .
which one has 2 dogs? which one has 2 dogs ?
what about the one with the most dogs? what about the one with the most dogs ?
how many treatment does each professional finished? how many treatment does each professional finished ?
show the first name of the professionals who did only 1 treatment. show the first name of the professionals who did only 1 treatment .
what about at least two treatments? what about at least two treatments ?
show the id, role, and first name of each from the above. show the id , role , and first name of each from the above .
how many dogs for each breed code? how many dogs for each breed code ?
which breed codes are the most popular two? which breed codes are the most popular two ?
what about the most common 1? what about the most common 1 ?
what name is the breed? what name is the breed ?
show the dog name and total cost of each dog. show the dog name and total cost of each dog .
what are the owner names and the cost from their dogs. what are the owner names and the cost from their dogs .
who has paid for the most treatments on the dogs? keep owner ids and last names. who has paid for the most treatments on the dogs ? keep owner ids and last names .
list the treatment type code and the description. list the treatment type code and the description .
for each treatment type, calculate the sum of costs, and order them in descending order. for each treatment type , calculate the sum of costs , and order them in descending order .
show the treatment type description also. show the treatment type description also .
so what is the description of the treatment type that costs the least money in total? so what is the description of the treatment type that costs the least money in total ?
show the dog name and total cost of each dog. show the dog name and total cost of each dog .
how many of them cost over 700? how many of them cost over 700 ?
which owner paid the cost larger than 400, show the owner id and the zip code? which owner paid the cost larger than 400 , show the owner id and the zip code ?
what about the owner who spent the largest cost? what about the owner who spent the largest cost ?
list the professional first names and their types of treatments. list the professional first names and their types of treatments .
add the counts of them also. add the counts of them also .
among the results, who did only 1 type of treatment? list the professional ids and cell phone numbers of them. among the results , who did only 1 type of treatment ? list the professional ids and cell phone numbers of them .
what about at least two types of treatments? what about at least two types of treatments ?
what is the minimum, maximum and average value of the treatment costs? what is the minimum , maximum and average value of the treatment costs ?
which professionals who did the minimum value of the treatment cost? provide the first name and last name. which professionals who did the minimum value of the treatment cost ? provide the first name and last name .
what about the maximum cost? what about the maximum cost ?
how about below the average of the cost? how about below the average of the cost ?
how many dogs for each breed code? how many dogs for each breed code ?
which one is the most popular one? which one is the most popular one ?
what about the least popular one? what about the least popular one ?
so which dogs are having the breed code? and the treatment dates? so which dogs are having the breed code ? and the treatment dates ?
show the name of dogs whose owners are from the city 'lake tia'. show the name of dogs whose owners are from the city 'lake tia ' .
add the owner's first names also. add the owner 's first names also .
what about when the owner is from the state of 'virginia'? what about when the owner is from the state of 'virginia ' ?
which one is the oldest dog? list the information of it. which one is the oldest dog ? list the information of it .
what are the last names of the oldest dogs? what are the last names of the oldest dogs ?
what about the owner last name of the youngest dog? what about the owner last name of the youngest dog ?
show the cities and states of the professionals. show the cities and states of the professionals .
how many of them are from 'hawaii'? how many of them are from 'hawaii ' ?
list the emails of the professionals who live in the state of hawaii or the state of wisconsin. list the emails of the professionals who live in the state of hawaii or the state of wisconsin .
show the states of the professionals. show the states of the professionals .
how many of them are from 'wisconsin'? how many of them are from 'wisconsin ' ?
list the role code ,  street ,  city ,  state from the above results. list the role code , street , city , state from the above results .
what about those professionals who live in a city containing the substring 'west'? what about those professionals who live in a city containing the substring 'west ' ?
show the states of the owners. show the states of the owners .
how many of them are from 'vermont'? how many of them are from 'vermont ' ?
list the first name, last name and email of the owners who lives in the states that has the substring 'north'. list the first name , last name and email of the owners who lives in the states that has the substring 'north ' .
order the dog ages in descending order. order the dog ages in descending order .
how many of them are below 4? how many of them are below 4 ?
what about the ones that are below the average? what about the ones that are below the average ?
show the treatment details. show the treatment details .
order the cost in ascending order. order the cost in ascending order .
what about in descending order? what about in descending order ?
which one is the most recent cost? which one is the most recent cost ?
show all the owner information. show all the owner information .
what about the dogs? what about the dogs ?
among those, how many of them have been sent to receive treatment? among those , how many of them have been sent to receive treatment ?
what about those who did not? what about those who did not ?
show all the owner information. show all the owner information .
how many of them come from the state of 'arizona'? how many of them come from the state of 'arizona ' ?
what about those who do not have any dogs temporarily? what about those who do not have any dogs temporarily ?
how many professionals are there? how many professionals are there ?
how many of them come from 'west heidi?' how many of them come from 'west heidi ? '
what about those who did not operate any treatment on dogs? what about those who did not operate any treatment on dogs ?
Independent: 339, 571, 0.593695
Dependent: 257, 632, 0.406646
First Independent: 264, 422, 0.625592
Other Independent: 75, 149, 0.503356
Independent Percent: 0.474647
{'easy': 330, 'extra': 31, 'hard': 40, 'medium': 170}
{'easy': 240, 'extra': 5, 'hard': 12, 'medium': 82}
{'easy': 153, 'extra': 103, 'hard': 105, 'medium': 271}
{'easy': 0.5779334500875657,
 'extra': 0.0542907180385289,
 'hard': 0.07005253940455342,
 'medium': 0.29772329246935203}
{'easy': 0.24208860759493672,
 'extra': 0.1629746835443038,
 'hard': 0.1661392405063291,
 'medium': 0.4287974683544304}
Total Hardness:  {'easy': 483, 'medium': 441, 'hard': 145, 'extra': 134}
Total Hardness Distribution:  {'easy': 0.4014962593516209, 'medium': 0.36658354114713215, 'hard': 0.12053200332502079, 'extra': 0.1113881961762261}
Total Hardness Match:  {'easy': 334, 'medium': 203, 'hard': 36, 'extra': 23}
Total Hardness Accuracy:  {'easy': 0.6915113871635611, 'medium': 0.4603174603174603, 'hard': 0.2482758620689655, 'extra': 0.17164179104477612}

### EditSQL

In [41]:
editsql_sparc_predictions = read_predictions(editsql_sparc_path)

422 1203
422
1203

In [43]:
editsql_sparc_predictions[0]

{'example_id': 1,
 'interaction': [{'interaction_id': 1,
   'turn_id': 1,
   'question': 'What are all the airlines ?',
   'ground_truth': 'SELECT * FROM AIRLINES',
   'sql': 'select * from airlines',
   'exact': True},
  {'interaction_id': 1,
   'turn_id': 2,
   'question': 'Of these , which is Jetblue Airways ?',
   'ground_truth': 'SELECT * FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
   'sql': 'select * from airlines where Airline = 1',
   'exact': True},
  {'interaction_id': 1,
   'turn_id': 3,
   'question': 'What is the country corresponding it ?',
   'ground_truth': 'SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
   'sql': 'select T2.Country from airlines as T1 join airports as T2 where T1.Airline = 1',
   'exact': 0}]}

In [45]:
measure_accuracy(editsql_sparc_predictions)

Question Match: 0.471322
Interaction Match: 0.293839

In [47]:
measure_context_independent_accuracy(editsql_sparc_predictions, sparc_dev, sparc_annotation_df)

what are all the airlines? what are all the airlines ?
of these, which is jetblue airways? of these , which is jetblue airways ?
what is the country corresponding it? what is the country corresponding it ?
what are all the abbreviations? what are all the abbreviations ?
what is the abbreviation for jetblue airways? what is the abbreviation for jetblue airways ?
list all airline names and their abbreviations. list all airline names and their abbreviations .
of these, list only those in the usa. of these , list only those in the usa .
find all information about the airport in the city anthony. find all information about the airport in the city anthony .
what is the airport code and airport name? what is the airport code and airport name ?
what are all the airlines? what are all the airlines ?
how many are there? how many are there ?
what are all the airports? what are all the airports ?
how many are there? how many are there ?
what are all the flights? what are all the flights ?
how many are there? how many are there ?
what are all the airline names? what are all the airline names ?
of this, which has the abbreviation 'ual'? of this , which has the abbreviation 'ual ' ?
what are the names of the airlines in the usa? what are the names of the airlines in the usa ?
how many are there? how many are there ?
what are the city and country for all airports? what are the city and country for all airports ?
of these, what are the city and country for alton airport? of these , what are the city and country for alton airport ?
what are all the airport names? what are all the airport names ?
of these, which has code 'ako'? of these , which has code 'ako ' ?
what are all the airport names? what are all the airport names ?
which is in aberdeen? which is in aberdeen ?
what are all the flights departing from 'apg'? what are all the flights departing from 'apg ' ?
how many are there? how many are there ?
what flights land in ato? what flights land in ato ?
how many are there? how many are there ?
what are all the flights derparting from aberdeen? what are all the flights derparting from aberdeen ?
how many are there? how many are there ?
what are all the flights arriving in aberdeen. what are all the flights arriving in aberdeen .
how many are there? how many are there ?
what are all the flights that leave from aberdeen? what are all the flights that leave from aberdeen ?
of those, which land in ashley? of those , which land in ashley ?
how many are there? how many are there ?
what are all the flights on jetblue airways? what are all the flights on jetblue airways ?
how many are there? how many are there ?
what are the united airlines flights? what are the united airlines flights ?
how many are there? how many are there ?
how many land in asy airport? how many land in asy airport ?
what are the united airlines flights? what are the united airlines flights ?
which ones leave from ahd? which ones leave from ahd ?
how many are there? how many are there ?
which united airlines flights fly into aberdeen? which united airlines flights fly into aberdeen ?
how many are there? how many are there ?
name all cities that have destination airports. name all cities that have destination airports .
order them by number of arriving flights. order them by number of arriving flights .
which one has the most? which one has the most ?
name all cities that have source airports. name all cities that have source airports .
order them by number of departing flights. order them by number of departing flights .
which one has the most? which one has the most ?
what are airport codes of any airport with a arriving flight? what are airport codes of any airport with a arriving flight ?
also include codes of airports with departure flights. also include codes of airports with departure flights .
which one has the highest number of flights? which one has the highest number of flights ?
what are airport codes of any airport with a arriving flight? what are airport codes of any airport with a arriving flight ?
also include codes of airports with departure flights. also include codes of airports with departure flights .
which one has the least number of flights? which one has the least number of flights ?
count the number of flights by airline. count the number of flights by airline .
which airline has the most? which airline has the most ?
what are all the airline abbreviations and what countries are they in? what are all the airline abbreviations and what countries are they in ?
order them by the number of flights that they have. order them by the number of flights that they have .
which one has the fewest? which one has the fewest ?
which flights leave from ahd? which flights leave from ahd ?
what are their airlines? what are their airlines ?
which flights arrive in ahd? which flights arrive in ahd ?
what are their airlines? what are their airlines ?
which airlines have flights departing from apg? which airlines have flights departing from apg ?
of those, which also have flights from cvo? of those , which also have flights from cvo ?
which airlines have flights from cvo? which airlines have flights from cvo ?
of these, which do not have flights from apg? of these , which do not have flights from apg ?
what are all the airlines? what are all the airlines ?
which ones have more than 10 flights? which ones have more than 10 flights ?
what are all the airlines? what are all the airlines ?
which ones have less than 200 flights? which ones have less than 200 flights ?
what are all the flight numbers? what are all the flight numbers ?
which belong to united airlines? which belong to united airlines ?
what are all the flight numbers? what are all the flight numbers ?
of these, which correspond to flights leaving from apg? of these , which correspond to flights leaving from apg ?
what are all the flight numbers? what are all the flight numbers ?
also, which numbers are for flights that land in apg? also , which numbers are for flights that land in apg ?
what are all the flight numbers? what are all the flight numbers ?
of these, which are departure flights? of these , which are departure flights ?
which leave from aberdeen? which leave from aberdeen ?
what are all the flight numbers? what are all the flight numbers ?
of these, which are arrival flights? of these , which are arrival flights ?
which land in aberdeen? which land in aberdeen ?
what flights land in aberdeen? what flights land in aberdeen ?
also include flights that land in abilene. also include flights that land in abilene .
how many are there? how many are there ?
what are the source airports? what are the source airports ?
also include the destination airports. also include the destination airports .
which airports are not included? which airports are not included ?
what information is there on pets? what information is there on pets ?
which pets weigh more than 10? which pets weigh more than 10 ?
how many are there? how many are there ?
order the pets by age order the pets by age
how much does each one weigh? how much does each one weigh ?
what about the first one? what about the first one ?
what are the different types of pets? what are the different types of pets ?
for each of those types, what is the maximum weight? for each of those types , what is the maximum weight ?
which pets are owned by students older than 20? which pets are owned by students older than 20 ?
how many are there? how many are there ?
who are the female students? who are the female students ?
of those, who has a pet? of those , who has a pet ?
how many of those have dogs? how many of those have dogs ?
what are the different pet types? what are the different pet types ?
how many exist? how many exist ?
what is the first name of every student? what is the first name of every student ?
of those names, which ones correspond to somebody who has a cat? of those names , which ones correspond to somebody who has a cat ?
also, combine those names with those who have a dog. also , combine those names with those who have a dog .
which students have a dog as their type of pet? which students have a dog as their type of pet ?
who also has a cat? who also has a cat ?
what are their first names? what are their first names ?
which students have a cat as their pets? which students have a cat as their pets ?
what are they majoring in? what are they majoring in ?
also, how old are they? also , how old are they ?
what is every student's id? what is every student 's id ?
of those ids, which correspond to those who own cats as pets? of those ids , which correspond to those who own cats as pets ?
list all the other ids. list all the other ids .
which students have dogs? which students have dogs ?
of those, who does not own a cat? of those , who does not own a cat ?
what are their first names and ages? what are their first names and ages ?
who is the youngest pet? who is the youngest pet ?

what type are they? what type are they ?
also, how much do they weigh? also , how much do they weigh ?
what are ids of every pet? what are ids of every pet ?
for those, which refer to pets older than 1? for those , which refer to pets older than 1 ?
also, how much do they weigh? also , how much do they weigh ?
what are the different pet types? what are the different pet types ?
for each of those, what is the maximum age? for each of those , what is the maximum age ?
what about the average age? what about the average age ?
what information is there on pets? what information is there on pets ?
for each pet type, what is the average weight? for each pet type , what is the average weight ?
which students have pets? which students have pets ?
what are the different first names? what are the different first names ?
also, what are their ages? also , what are their ages ?
which students have pets? which students have pets ?
of those, whose last name is smith? of those , whose last name is smith ?
what is their pet's id? what is their pet 's id ?
which of the students have pets? which of the students have pets ?
how many pets does each of them have? how many pets does each of them have ?
what is the first name and sex of each student? what is the first name and sex of each student ?
which of those belong to somebody who has more than one pet? which of those belong to somebody who has more than one pet ?
what is the id of the three-year old cat? what is the id of the three-year old cat ?
who is the owner of that cat? who is the owner of that cat ?
what is their last name? what is their last name ?
which students do not own any pets? which students do not own any pets ?
what is their average age? what is their average age ?
what are the names of all the countries? what are the names of all the countries ?
give the names of the ones that became independent after 1950. give the names of the ones that became independent after 1950 .
how many countries are there? how many countries are there ?
out of those, how many have a republic as their form of government? out of those , how many have a republic as their form of government ?
what are the countries in the carribean region? what are the countries in the carribean region ?
what is the surface area of each of those countries? what is the surface area of each of those countries ?
find the total surface area of the above. find the total surface area of the above .
what continent does each country belong to? what continent does each country belong to ?
which one does anguila belong to? which one does anguila belong to ?
what are the names of all the regions? what are the names of all the regions ?
which of those is the city kabul located in? which of those is the city kabul located in ?
what are all the languages? what are all the languages ?
what are the languages spoken in aruba? what are the languages spoken in aruba ?
which one is the most popular? which one is the most popular ?
what are the population and life expectancies for all countries? what are the population and life expectancies for all countries ?
of those, which ones are for the country brazil? of those , which ones are for the country brazil ?
which region is angola in? which region is angola in ?
for that country, what is its population? for that country , what is its population ?
what are the life expectancies for all the countries? what are the life expectancies for all the countries ?
what are the life expectancies for the countries in the region of central africa? what are the life expectancies for the countries in the region of central africa ?
what is the average of those? what is the average of those ?
what are the names of the countries in asia? what are the names of the countries in asia ?
which one has the shortest life expectancy? which one has the shortest life expectancy ?
how many people live in asia? how many people live in asia ?
what about the largest gnp among them? what about the largest gnp among them ?
which countries are in africa? which countries are in africa ?
which countries are also republics? which countries are also republics ?
what is the average of their life expectancies? what is the average of their life expectancies ?
what are the countries in the continents of asia or europe? what are the countries in the continents of asia or europe ?
what is the surface area of each country? what is the surface area of each country ?
what is the total surface area summed up? what is the total surface area summed up ?
what are the populations of each city in the district of gelderland? what are the populations of each city in the district of gelderland ?
what is the total population in that district? what is the total population in that district ?
what are all the nations? what are all the nations ?
which of those have a government that is a us territory? which of those have a government that is a us territory ?
for those, what is the average gnp and total population? for those , what is the average gnp and total population ?
what are all the distinct languages used around the world? what are all the distinct languages used around the world ?
how many are there? how many are there ?
what are the distinct forms of government in the continent of africa? what are the distinct forms of government in the continent of africa ?
how many are there? how many are there ?
what is the information about the country aruba? what is the information about the country aruba ?
what are the languages used in aruba? what are the languages used in aruba ?
how many are there? how many are there ?
what are the languages used in afghanistan? what are the languages used in afghanistan ?
of those, how many are the official languages? of those , how many are the official languages ?
how many languages are spoken in each country? how many languages are spoken in each country ?
which country speaks the most? which country speaks the most ?
how many languages are spoken on each continent? how many languages are spoken on each continent ?
which one speaks the most languages? which one speaks the most languages ?
what are the countries that speak english? what are the countries that speak english ?
which of those also speak dutch? which of those also speak dutch ?
how many of them are there? how many of them are there ?
what are the names of countries which speak english? what are the names of countries which speak english ?
of those countries, what are the names of the nations that speak french as well? of those countries , what are the names of the nations that speak french as well ?
what are the official languages of each country? what are the official languages of each country ?
of those countries, give the names of the ones that have english as one of the official languages. of those countries , give the names of the ones that have english as one of the official languages .
of those, which also have french as another official language? of those , which also have french as another official language ?
in which countries is chinese spoken? in which countries is chinese spoken ?
which distinct continents are they in? which distinct continents are they in ?
how many of them are there? how many of them are there ?
what are all the different regions? what are all the different regions ?
which of those speak dutch or english? which of those speak dutch or english ?
what are the official languages for each country? what are the official languages for each country ?
which of these countries have english or dutch? which of these countries have english or dutch ?
what are all the different languages used in the continent of asia? what are all the different languages used in the continent of asia ?
which one is used by the largest number of asian countries? which one is used by the largest number of asian countries ?
which countries have republics as their form of government? which countries have republics as their form of government ?
which language is spoken by only one of those countries? which language is spoken by only one of those countries ?
what are the names of all the cities that use english? what are the names of all the cities that use english ?
which of those has the largest population? which of those has the largest population ?
what are the names, population, and life expectancy for all the countries in asia? what are the names , population , and life expectancy for all the countries in asia ?
of those, which belong to the country with the largest surface area? of those , which belong to the country with the largest surface area ?
what are the official languages of each country? what are the official languages of each country ?
which countries do not have english as the official language? which countries do not have english as the official language ?
in those countries, what is the average life expectancy? in those countries , what is the average life expectancy ?
what are the names of each country that does not speak english? what are the names of each country that does not speak english ?
how many people live in those countries? how many people live in those countries ?
which country has a head of state named beatrix? which country has a head of state named beatrix ?
what languages are spoken in that country? what languages are spoken in that country ?
which of those languages is the official one? which of those languages is the official one ?
what are the names of all the countries? what are the names of all the countries ?
what are the names of those countries that were founded after 1930? what are the names of those countries that were founded after 1930 ?
for those countries, how many unique official languages are spoken in total? for those countries , how many unique official languages are spoken in total ?
what are all the information about european countries? what are all the information about european countries ?
of those countries, what is the minimum surface area? of those countries , what is the minimum surface area ?
what are the countries that have a greater surface area than that? what are the countries that have a greater surface area than that ?
what is the maximum population of a country in asia? what is the maximum population of a country in asia ?
which countries in africa have a population smaller than that? which countries in africa have a population smaller than that ?
what is the smallest population of a country in africa? what is the smallest population of a country in africa ?
which asian countries have a greater population than that? which asian countries have a greater population than that ?
what are the country codes of all the countries? what are the country codes of all the countries ?
of those countries, give the country codes for those which do not speak english. of those countries , give the country codes for those which do not speak english .
what are the country codes of all the countries? what are the country codes of all the countries ?
of those, which do not speak english? of those , which do not speak english ?
what are the country codes for countries which are not republics? what are the country codes for countries which are not republics ?
of those, which do not speak english? of those , which do not speak english ?
what are the names of the countries where english is the official language? what are the names of the countries where english is the official language ?
what are the names of the countries in europe that are not one of those? what are the names of the countries in europe that are not one of those ?

what are the names of the cities in those countries? what are the names of the cities in those countries ?
what are the countries in asia where chinese is spoken? what are the countries in asia where chinese is spoken ?
of those, which have chinese as the official language? of those , which have chinese as the official language ?
what are the different cities in those countries? what are the different cities in those countries ?
which country has the smallest population? which country has the smallest population ?
what is its name, independence year, and surface area? what is its name , independence year , and surface area ?
what is the country with the largest surface area? what is the country with the largest surface area ?
what is its population, name and leader? what is its population , name and leader ?
what are the names of the countries? what are the names of the countries ?
which of them speak at least three languages? which of them speak at least three languages ?
also, how many languages are spoken in each of those countries? also , how many languages are spoken in each of those countries ?
what is the average city population for each city? what is the average city population for each city ?
for each district, count how many cities have a population greater than the average. for each district , count how many cities have a population greater than the average .
the countries with which government form have an average life expectancy greater than age 72? the countries with which government form have an average life expectancy greater than age 72 ?
for those, list the total population and government form name. for those , list the total population and government form name .
which continents have an average life expectancy less than age 72? which continents have an average life expectancy less than age 72 ?
give their average life expectancy and total population. give their average life expectancy and total population .
what are the countries with the top 5 largest surface areas? what are the countries with the top 5 largest surface areas ?
what are the surface areas and names of those countries? what are the surface areas and names of those countries ?
order the countries by descending population size. order the countries by descending population size .
give the names of the 3 countries which have the most. give the names of the 3 countries which have the most .
order the countries by increasing population. order the countries by increasing population .
give the names of the 3 countries with the lowest. give the names of the 3 countries with the lowest .
what are the countries in the continent of asia? what are the countries in the continent of asia ?
how many are there? how many are there ?
which countries are in the continent of europe? which countries are in the continent of europe ?
of those, what are the names of those that have a population of 80000? of those , what are the names of those that have a population of 80000 ?
what countries are in north america? what countries are in north america ?
of those, which have surface area greater than 3000? of those , which have surface area greater than 3000 ?
what is the total population and average surface area of those countries? what is the total population and average surface area of those countries ?
what are the names of all the cities? what are the names of all the cities ?
which of those have a population between 160000 and 900000? which of those have a population between 160000 and 900000 ?
what are the different languages? what are the different languages ?
which one is spoken in the most countries? which one is spoken in the most countries ?
tell me﻿ the director of the cartoon named "day of the dark knight!". tell me﻿ the director of the cartoon named `` day of the dark knight ! `` .
what is the channel of this cartoon? what is the channel of this cartoon ?
give me the titles of all cartoon directed by "ben jones" or "brandon vietti"? give me the titles of all cartoon directed by `` ben jones '' or `` brandon vietti '' ?
show me all the information about the italian tv channels. show me all the information about the italian tv channels .
how about the polish tv channels? how about the polish tv channels ?
which country has the most of tv channels? list the country and number of tv channels it has. which country has the most of tv channels ? list the country and number of tv channels it has .
tell me the tv channel of the cartoon titled "the eyes of despero!". tell me the tv channel of the cartoon titled `` the eyes of despero ! `` .
how about this channel's series name? how about this channel 's series name ?
tell me the number of different series names and contents in the tv channel table. tell me the number of different series names and contents in the tv channel table .
tell me the package option for the series named "rock tv". tell me the package option for the series named `` rock tv '' .
tell me the language of this series. tell me the language of this series .
list the language used least number of tv channel. list language and number of tv channel. list the language used least number of tv channel . list language and number of tv channel .
tell me the author of the cartoon "the rise of the blue beetle!" tell me the author of the cartoon `` the rise of the blue beetle ! ''
how about its director? how about its director ?
what is its tv channel? what is its tv channel ?
tell me the country of the tv channel for the series named "sky radio". tell me the country of the tv channel for the series named `` sky radio '' .
how about its content? how about its content ?
i want to know the title of all cartoons showed on tv channel with series name "sky radio". i want to know the title of all cartoons showed on tv channel with series name `` sky radio '' .
tell me the rating of the episode named "double down". tell me the rating of the episode named `` double down '' .
how about the rating of the episode named "keepers". how about the rating of the episode named `` keepers '' .
okay, i want to know the top 3 highest rating tv series. list the tv series's episode and rating. okay , i want to know the top 3 highest rating tv series . list the tv series 's episode and rating .
tell me the weekly rank of the episode named "emily". tell me the weekly rank of the episode named `` emily '' .
how about its share? how about its share ?
tell me the minimum and maximum share of tv series. tell me the minimum and maximum share of tv series .
tell me the rating of the episode titled "a love of a lifetime". tell me the rating of the episode titled `` a love of a lifetime '' .
how about its weekly rank? how about its weekly rank ?
and what is its tv channel? and what is its tv channel ?
tell me the content of tv channel with the series named "sky radio". tell me the content of tv channel with the series named `` sky radio '' .
how about its language? how about its language ?
okay, now i want to know the episode of all tv series showed on tv channel with series name "sky radio". okay , now i want to know the episode of all tv series showed on tv channel with series name `` sky radio '' .
tell me the air date of the cartoon titled "fall of the blue beetle!". tell me the air date of the cartoon titled `` fall of the blue beetle ! `` .
what is its production code? what is its production code ?
tell me the production code and channel of the most recently aired cartoon. tell me the production code and channel of the most recently aired cartoon .
tell me the cartoons directed by ben jone. tell me the cartoons directed by ben jone .
tell me the cartoons written by todd casey. tell me the cartoons written by todd casey .
which countries' tv channels are playing some cartoon written by todd casey? which countries ' tv channels are playing some cartoon written by todd casey ?
which countries' tv channels are playing some cartoon written by steven melching? which countries ' tv channels are playing some cartoon written by steven melching ?
which countries' tv channels are not playing any cartoon written by todd casey? which countries ' tv channels are not playing any cartoon written by todd casey ?
tell me the director of the cartoon titled "deep cover for batman!". tell me the director of the cartoon titled `` deep cover for batman ! `` .
i want to know this cartoon's production code. i want to know this cartoon 's production code .
tell me the series name and country of the tv channel that is playing some cartoons directed by ben jones and michael chang. tell me the series name and country of the tv channel that is playing some cartoons directed by ben jones and michael chang .
tell me the country of the tv channel with series named "mtv music" tell me the country of the tv channel with series named `` mtv music ''
tell me the number of italian channels. tell me the number of italian channels .
find id of the tv channels that from the countries where have more than two tv channels. find id of the tv channels that from the countries where have more than two tv channels .
who is the director of the cartoon titled "return of the fearsome fangs!"? who is the director of the cartoon titled `` return of the fearsome fangs ! `` ?
tell me the cartoons directed by ben jones. tell me the cartoons directed by ben jones .
find the id of tv channels that do not play any cartoon directed by ben jones. find the id of tv channels that do not play any cartoon directed by ben jones .
show all the poker players. show all the poker players .
how many are there? how many are there ?
what is the earnings of each poker player? what is the earnings of each poker player ?
sort them in descending order. sort them in descending order .
show all the information about each poker player. show all the information about each poker player .
what are their final table mades? what are their final table mades ?
what are their final table mades and best finishes? what are their final table mades and best finishes ?
what is the earnings of each poker player? what is the earnings of each poker player ?
give me the average. give me the average .
what is the money rank of each poker player? what is the money rank of each poker player ?
sort them in the decreasing order. sort them in the decreasing order .
return the top one. return the top one .
which poker player has earnings less than 200000? which poker player has earnings less than 200000 ?
among them, what is the maximum number of final tables made? among them , what is the maximum number of final tables made ?
show all the poker players. show all the poker players .
what are their names? what are their names ?
which poker players have earnings higher than 300000? which poker players have earnings higher than 300000 ?
what are their names? what are their names ?
what are the names of all poker players? what are the names of all poker players ?
sort them in the ascending order of the final tables made. sort them in the ascending order of the final tables made .
what is the birth date of each poker player? what is the birth date of each poker player ?
sort the list by the poker player's earnings. sort the list by the poker player 's earnings .
give me the result for the player with the lowest earnings. give me the result for the player with the lowest earnings .
what is the height of each poker player? what is the height of each poker player ?
who has the largest height? who has the largest height ?
what is his or her money rank? what is his or her money rank ?
what is the height of each poker player? what is the height of each poker player ?
who all have heights greater than 200? who all have heights greater than 200 ?
what is the average earnings among them? what is the average earnings among them ?
sort all the poker players in descending order of earnings. sort all the poker players in descending order of earnings .
what are the names of poker players in descending order of earnings? what are the names of poker players in descending order of earnings ?
show the nationality of each person. show the nationality of each person .
group people by their nationality. group people by their nationality .
for each of the result, show the corresponding number of people of that nationality? for each of the result , show the corresponding number of people of that nationality ?
show the nationality of each person. show the nationality of each person .
count the number of people for each nationality. count the number of people for each nationality .
what is the most common nationality of people? what is the most common nationality of people ?
count the number of people for each nationality. count the number of people for each nationality .
which nationalities are held by at least two people? which nationalities are held by at least two people ?
what are the names and birth dates of people? what are the names and birth dates of people ?
sort the results in ascending alphabetical order of name. sort the results in ascending alphabetical order of name .
what are the names of all people? what are the names of all people ?
what about people whose nationality is not "russia"? what about people whose nationality is not `` russia '' ?
show all the poker players. show all the poker players .
show all people who are not poker players. show all people who are not poker players .
give me their names. give me their names .
what are the death tolls each time? what are the death tolls each time ?
what is the maximum number of deaths in any one time? what is the maximum number of deaths in any one time ?
what about the minimum? what about the minimum ?
give me the maximum and also the minimum. give me the maximum and also the minimum .
show me information about deaths caused by ships. show me information about deaths caused by ships .
only ships with tonnage 't'. only ships with tonnage 't ' .
only return the death and injury information for those ships. only return the death and injury information for those ships .
what are the ids and names of the battles? what are the ids and names of the battles ?
only show those that ships were lost in. only show those that ships were lost in .
please, just the ones with 'brig' ship type. please , just the ones with 'brig ' ship type .
how many people were killed or injured in each battle? how many people were killed or injured in each battle ?
only show the deaths for those battles that produced at least ten deaths. only show the deaths for those battles that produced at least ten deaths .
list the injuries caused by each ship (give ship id and name please). list the injuries caused by each ship ( give ship id and name please ) .
sort it by decreasing number of injuries. sort it by decreasing number of injuries .
only show the ship id and name that caused the most total injuries. only show the ship id and name that caused the most total injuries .
which battles did the bulgarian commander 'kaloyan' fight in? which battles did the bulgarian commander 'kaloyan ' fight in ?
how about the latin commander 'baldwin i'? how about the latin commander 'baldwin i ' ?
just the ones where they were fighting one another, please. just the ones where they were fighting one another , please .
which battle ids lost ships with tonnage '225'? which battle ids lost ships with tonnage '225 ' ?
give the names of these battles, too. give the names of these battles , too .
which battle ids and names did not lose any ship with tonnage '225'? which battle ids and names did not lose any ship with tonnage '225 ' ?

how many is that? how many is that ?
list the name and date of the battle that has lost the ship named 'lettice' list the name and date of the battle that has lost the ship named 'lettice '
same for 'hms atlanta', please. same for 'hms atlanta ' , please .
can you intersect those? can you intersect those ?
which battle ids and names lost ships in the 'english channel'? which battle ids and names lost ships in the 'english channel ' ?
which did not? which did not ?
for these ones, show their names, results, and bulgarian commanders. for these ones , show their names , results , and bulgarian commanders .
how many continents are there? how many continents are there ?
show all their ids and names! show all their ids and names !
what countries do they each have? what countries do they each have ?
count how many there are for each continent name and id! count how many there are for each continent name and id !
what are the names and ids of the different car makers? what are the names and ids of the different car makers ?
what countries are they each from? what countries are they each from ?
for each, how many models do they each produce? for each , how many models do they each produce ?
can actually just show the name, id and the number of models? can actually just show the name , id and the number of models ?
what is the average horsepower of all cars? what is the average horsepower of all cars ?
how about the maximum? how about the maximum ?
what about the minimum? what about the minimum ?
what is the model of the car with this horsepower? what is the model of the car with this horsepower ?
what is the average weight of all the cars? what is the average weight of all the cars ?
list all the car information with weights above this? list all the car information with weights above this ?
how about below this? how about below this ?
please, show just their model names! please , show just their model names !
what are the ids, and models of the cars were made in 1970? what are the ids , and models of the cars were made in 1970 ?
show their horsepower and mpg as well? show their horsepower and mpg as well ?
also provide the names of their makers! also provide the names of their makers !
just show a unique list of all these different makers. just show a unique list of all these different makers .
show me the makes and models of each car! show me the makes and models of each car !
also provide which the year they were produced? also provide which the year they were produced ?
which ones been produce in the earliest year? which ones been produce in the earliest year ?
show just the make and year! show just the make and year !
what are all the different car models? what are all the different car models ?
show also all the car makes and the years that they were produced! show also all the car makes and the years that they were produced !
show only those that were made after 1980! show only those that were made after 1980 !
what are the distinct car models for these? what are the distinct car models for these ?
what are the names and country name of each car maker? what are the names and country name of each car maker ?
also provide the continent name for each! also provide the continent name for each !
how many car makers are there per continent? how many car makers are there per continent ?
how many countries are there? how many countries are there ?
how many car makers belong to each one? how many car makers belong to each one ?
what is the name of the country that has the least number? what is the name of the country that has the least number ?
how about the most? how about the most ?
how many makers are there? how many makers are there ?
what are their full names and ids? what are their full names and ids ?
what models have they each produced? what models have they each produced ?
count how many modes there are per maker. count how many modes there are per maker .
show all the car ids with the make amc hornet sporabout (sw)? show all the car ids with the make amc hornet sporabout ( sw ) ?
what is its horsepower? what is its horsepower ?
how about its mpg? how about its mpg ?
how about its accelerate? how about its accelerate ?
show all the different car makers? show all the different car makers ?
what are the names of the countries they belong to? what are the names of the countries they belong to ?
show just the car makers from france! show just the car makers from france !
how many are there? how many are there ?
how many car models are produced in total? how many car models are produced in total ?
how many in germany? how many in germany ?
how about in japan? how about in japan ?
how about the usa? how about the usa ?
what is all the car information for cars produced in 1974? what is all the car information for cars produced in 1974 ?
now, show me just the weight and cylinders of these cars. now , show me just the weight and cylinders of these cars .
list just those with 8 cylinders! list just those with 8 cylinders !
what is the smallest weight? what is the smallest weight ?
what are all the different country names? what are all the different country names ?
which ones have no car makers? which ones have no car makers ?
which ones have at least one? which ones have at least one ?
also provide the country id! also provide the country id !
show all the car makers and their country name? show all the car makers and their country name ?
count how many there are per country name? count how many there are per country name ?
show just those from countries in the continent europe. show just those from countries in the continent europe .
list the country names of those with at least 3 manufacturers! list the country names of those with at least 3 manufacturers !
what is the horsepower, make for each car! what is the horsepower , make for each car !
show those with 8 cylinders! show those with 8 cylinders !
how about 3? how about 3 ?
show the one with the maximum horsepower. show the one with the maximum horsepower .
what is id of the car with the max horsepower? what is id of the car with the max horsepower ?
how about with the max mpg? how about with the max mpg ?
show its make! show its make !
now show its model! now show its model !
what is the average edispl of all cars? what is the average edispl of all cars ?
can you show the average per car make? can you show the average per car make ?
how about per car model? how about per car model ?
show the average for the model volvo! show the average for the model volvo !
what are all the different models for each car? what are all the different models for each car ?
what are the makes for each? what are the makes for each ?
how many makes are there for each? how many makes are there for each ?
what is the model name with the most makes? what is the model name with the most makes ?
show the full names of all the different car makers? show the full names of all the different car makers ?
also include the car models produced by each! also include the car models produced by each !
show me just those produced by the maker with full name american motor company! show me just those produced by the maker with full name american motor company !
how many are there? how many are there ?
what is all the information for the makers that have designed at least 1 car model! what is all the information for the makers that have designed at least 1 car model !
which ones have designed more than 1? which ones have designed more than 1 ?
how about more than 3? how about more than 3 ?
list just the full name and id! list just the full name and id !
how many different models has maker with full name general motors produced? how many different models has maker with full name general motors produced ?
how many different models weigh over 3500 pounds? how many different models weigh over 3500 pounds ?
how many models have either of these features? how many models have either of these features ?
show me the distinct list of their model names! show me the distinct list of their model names !
show the years and weight of all the cars! show the years and weight of all the cars !
show distinct years that the cars that weigh more than 3000 were produced! show distinct years that the cars that weigh more than 3000 were produced !
how about the different years for those that weight less than 4000. how about the different years for those that weight less than 4000 .
what are the distinct years, for the cars that are both? what are the distinct years , for the cars that are both ?
what is the lowest accelerate for any car? what is the lowest accelerate for any car ?
how about the highest? how about the highest ?
what is the id, make and model of this car? what is the id , make and model of this car ?
show just its horsepower. show just its horsepower .
show all the car information for any car of the model volvo! show all the car information for any car of the model volvo !
what is the car with the least accelerate? what is the car with the least accelerate ?
what is its horsepower? what is its horsepower ?
what about its number of cylinders? what about its number of cylinders ?
what is largest horsepower of all cars? what is largest horsepower of all cars ?
what is the accelerate of the car with this horsepower? what is the accelerate of the car with this horsepower ?
what are the car ids of the cars with a greater accelerate than this? what are the car ids of the cars with a greater accelerate than this ?
how many are there? how many are there ?
what are the names of the countries that have no car makers? what are the names of the countries that have no car makers ?
show me all the names of all the different countries outside of those! show me all the names of all the different countries outside of those !
how many of these have more than 1 car maker? how many of these have more than 1 car maker ?
how about more than 2? how about more than 2 ?
show all models and horsepowers of all cars! show all models and horsepowers of all cars !
now show just the ones with 4 cylinders. now show just the ones with 4 cylinders .
what is the model of that with the lowest horsepower? what is the model of that with the lowest horsepower ?
how about the greatest horsepower? how about the greatest horsepower ?
what is the lowest horsepower of all cars? what is the lowest horsepower of all cars ?
show all the ids and makes of those with a horsepower greater than this! show all the ids and makes of those with a horsepower greater than this !
which ones have 5 cylinders or less? which ones have 5 cylinders or less ?
how about 3 or less? how about 3 or less ?
show me the mpg, horsepower and accelerate for all the cars that were produced before 1980! show me the mpg , horsepower and accelerate for all the cars that were produced before 1980 !
also include the cars that have 8 cylinders! also include the cars that have 8 cylinders !
what is the max horsepower for this group? what is the max horsepower for this group ?
how about the max mpg? how about the max mpg ?
show all the models that were built by the ford motor company. show all the models that were built by the ford motor company .
what are all the models except those! what are all the models except those !
also provide the weights for all different makes for each of these models. also provide the weights for all different makes for each of these models .

list all the different models from these that have makes that are lighter than 3500! list all the different models from these that have makes that are lighter than 3500 !
what are all the names of countries? what are all the names of countries ?
which ones have at least one car maker? which ones have at least one car maker ?
show me all of car names other than these! show me all of car names other than these !
show all the car maker id, names, the models and makes they produce! show all the car maker id , names , the models and makes they produce !
how many model does each car maker produce? list the id and maker! how many model does each car maker produce ? list the id and maker !
show me those that produce at least 2! show me those that produce at least 2 !
for each of these, only show those that have more than 3 car makes! for each of these , only show those that have more than 3 car makes !
how many matches are there? how many matches are there ?
what was the maximum length in minutes for the matches? what was the maximum length in minutes for the matches ?
average? average ?
how about for the age of losers and winners? how about for the age of losers and winners ?
how many distinct tourney names are there? how many distinct tourney names are there ?
which ones have more than 20 matches? which ones have more than 20 matches ?
more than 10? more than 10 ?
how many distinct winners played in 2013? how many distinct winners played in 2013 ?
of those, how many also played in 2016. of those , how many also played in 2016 .
what are their names? what are their names ?
how many matches were played? how many matches were played ?
how many where the loser hand is l? how many where the loser hand is l ?
how many played in year 2013 or 2016? how many played in year 2013 or 2016 ?
how many players are there? how many players are there ?
which ones won in the tourney wta championships? give their last name and birth date. which ones won in the tourney wta championships ? give their last name and birth date .
give first name and country code instead. give first name and country code instead .
which ones also won in the australian open? which ones also won in the australian open ?
what is the birth date of the oldest player? what is the birth date of the oldest player ?
give the player id and last name instead. give the player id and last name instead .
give the first name and country code instead. give the first name and country code instead .
how many players have right / r hand? how many players have right / r hand ?
left / l hand? left / l hand ?
give their country code and birth date. give their country code and birth date .
order by their birth date, and give the first and last name instead. order by their birth date , and give the first and last name instead .
how many players are there? how many players are there ?
how many tours did the player who did the least number of tours do? how many tours did the player who did the least number of tours do ?
most number of tours? most number of tours ?
give the first name and country code instead. give the first name and country code instead .
how many matches are there? how many matches are there ?
find the surface that has the most number. find the surface that has the most number .
what about the year? what about the year ?
find the name of the loser who lost the most times. find the name of the loser who lost the most times .
give the rank points as well. give the rank points as well .
give the same, but for the winner who won the most times. give the same , but for the winner who won the most times .
give the name of the loser who has the highest rank points. give the name of the loser who has the highest rank points .
do the same but for the australian open tourney. do the same but for the australian open tourney .
give the winner name instead. give the winner name instead .
give the length of the match in minutes of the shortest match. give the length of the match in minutes of the shortest match .
longest match? longest match ?
give the winner and loser name instead. give the winner and loser name instead .
find the birth dates of each of the players. find the birth dates of each of the players .
find tours and first name instead. find tours and first name instead .
give the average ranking instead of the tours. give the average ranking instead of the tours .
give the number of tours for each player. give the number of tours for each player .
give the average rank points and first name. give the average rank points and first name .
find the total ranking points instead. find the total ranking points instead .
find the number of players for each country. find the number of players for each country .
which country has the least number of players? give the country code. which country has the least number of players ? give the country code .
greatest number? greatest number ?
what is the number of players for each hand type? give the hand type as well. what is the number of players for each hand type ? give the hand type as well .
for each country? for each country ?
give the ones that have more than 50 players. give the ones that have more than 50 players .
give the country code only. give the country code only .
give the name of the 3 oldest losers across all matches. give the name of the 3 oldest losers across all matches .
how about the 3 oldest winners. how about the 3 oldest winners .
youngest? give the rank as well. youngest ? give the rank as well .
how  many different losers participated in the australian open? how many different losers participated in the australian open ?
winners? winners ?
how about in the wta championships, and were also left handed? how about in the wta championships , and were also left handed ?
list all conductor information. list all conductor information .
how many conductors are there? how many conductors are there ?
what are the names of the conductors? what are the names of the conductors ?
what are the ages of the conductors? what are the ages of the conductors ?
list the names of conductors in ascending order of age. list the names of conductors in ascending order of age .
list the names of conductors list the names of conductors
among these conductors, which of them are not from the usa? among these conductors , which of them are not from the usa ?
list the information of record companies. list the information of record companies .
when were they founded? when were they founded ?
please list the record companies of orchestras in descending order of years in which they were founded. please list the record companies of orchestras in descending order of years in which they were founded .
what is the attendance of each show? what is the attendance of each show ?
what is the average attendance? what is the average attendance ?
what are the shares of performances? what are the shares of performances ?
what are the shares of performances whose type is not "live final"? what are the shares of performances whose type is not `` live final '' ?
what are the maximum and the minimum of these values? what are the maximum and the minimum of these values ?
list the nationalities of conductors. list the nationalities of conductors .
how many are there? how many are there ?
list the names of conductors. list the names of conductors .
list years of work of conductors. list years of work of conductors .
list names of conductors in descending order of years of work. list names of conductors in descending order of years of work .
list the names of the conductors. list the names of the conductors .
list years of work of conductors. list years of work of conductors .
list the name of the conductor with the most years of work. list the name of the conductor with the most years of work .
show the names of conductors. show the names of conductors .
please list these names with the orchestras they have conducted. please list these names with the orchestras they have conducted .
please show the names of the conductors. please show the names of the conductors .
which of them have conducted more than one orchestras? which of them have conducted more than one orchestras ?
please show the names of the conductors. please show the names of the conductors .
who has conducted the most orchestras? who has conducted the most orchestras ?
please show the names of the conductors. please show the names of the conductors .
who has conducted orchestras founded after 2008? who has conducted orchestras founded after 2008 ?
please show the record companies without duplicates. please show the record companies without duplicates .
please also show their corresponding number of orchestras. please also show their corresponding number of orchestras .
please show the record formats of orchestras. please show the record formats of orchestras .
please list them in ascending order of count. please list them in ascending order of count .
list the information of all record companies. list the information of all record companies .
which one is shared by the most orchestras? which one is shared by the most orchestras ?
list the names of orchestras. list the names of orchestras .
which of them have had no performances? which of them have had no performances ?
please list the record companies. please list the record companies .
which of them are shared by orchestras founded before 2003? which of them are shared by orchestras founded before 2003 ?
which of them are shared by orchestras founded after 2003? which of them are shared by orchestras founded after 2003 ?
which of them are shared by orchestras founded before 2003 and after 2003? which of them are shared by orchestras founded before 2003 and after 2003 ?
list the orchestras whose record format is "cd" or "dvd". list the orchestras whose record format is `` cd '' or `` dvd '' .
how many of these orchestras are there? how many of these orchestras are there ?
show information for all documents. show information for all documents .
show their ids. show their ids .
also show their document names and document descriptions. also show their document names and document descriptions .

show the document name for all documents. show the document name for all documents .
also show their description. also show their description .
which one has description with the letter 'w' in it? which one has description with the letter 'w ' in it ?
show its name and template id. show its name and template id .
show the the document name for all documents. show the the document name for all documents .
show the document id for the one named "robbin cv"? show the document id for the one named `` robbin cv '' ?
also show its template id and description. also show its template id and description .
show the template id for all documents. show the template id for all documents .
show all distinct results. show all distinct results .
how many are there? how many are there ?
show the document ids. show the document ids .
also show their template id and template type code. also show their template id and template type code .
which documents are using the template with type code 'ppt'? which documents are using the template with type code 'ppt ' ?
how many are there? how many are there ?
show the template id for all documents. show the template id for all documents .
for each of them, show the number of documents using it. for each of them , show the number of documents using it .
show the template id for all documents. show the template id for all documents .
also show its template type code. also show its template type code .
for each of them, show the number of documents using it. for each of them , show the number of documents using it .
which one has the most? which one has the most ?
show the template id for all documents. show the template id for all documents .
for each of them, show the number of documents. for each of them , show the number of documents .
which of them are used by more than one document? which of them are used by more than one document ?
show template ids used by some document. show template ids used by some document .
show all template ids. show all template ids .
which of them are not used by any document? which of them are not used by any document ?
show info for all templates. show info for all templates .
how many are there? how many are there ?
show template ids for all templates. show template ids for all templates .
also show their version numbers and template type codes. also show their version numbers and template type codes .
show all template type codes for all templates. show all template type codes for all templates .
filter out duplicates. filter out duplicates .
show the template ids for all templates. show the template ids for all templates .
how about the ids with template type code pp or ppt? how about the ids with template type code pp or ppt ?
show the template type codes for all templates. show the template type codes for all templates .
how many of them have template type code cv? how many of them have template type code cv ?
what is the version number for all template? what is the version number for all template ?
only show those with version number later than 5. only show those with version number later than 5 .
also show their template type code. also show their template type code .
show the template type code for all templates. show the template type code for all templates .
for each of them, count the number of templates for each of them , count the number of templates
show all type codes for templates. show all type codes for templates .
for each of them, how many templates do they contain? for each of them , how many templates do they contain ?
which of them contains the most templates? which of them contains the most templates ?
show all template type codes. show all template type codes .
for each of them, show the count of templates. for each of them , show the count of templates .
which of them have fewer than three templates? which of them have fewer than three templates ?
show the version number for all templates. show the version number for all templates .
what is the smallest value? what is the smallest value ?
also show its template type code. also show its template type code .
what is the template type code of the template. what is the template type code of the template .
also show the names of all documents using each template. also show the names of all documents using each template .
which of the template type codes is used by document with the name "data base"? which of the template type codes is used by document with the name `` data base '' ?
show all document names. show all document names .
also show their template type codes. also show their template type codes .
which of the documents are using templates with template type code bk? which of the documents are using templates with template type code bk ?
show all template type codes. show all template type codes .
also show the document ids using each template. also show the document ids using each template .
for each type code, how many documents are using that template? for each type code , how many documents are using that template ?
show the type codes for all templates. show the type codes for all templates .
for each, how many documents are using this template? for each , how many documents are using this template ?
order the template type codes in descending order by this number. order the template type codes in descending order by this number .
which of them has the most? which of them has the most ?
show all template type codes. show all template type codes .
show all template type codes that are used by some document. show all template type codes that are used by some document .
how about those that are not used by any document? how about those that are not used by any document ?
show all template type codes. show all template type codes .
also show their descriptions. also show their descriptions .
show all template type codes and descriptions. show all template type codes and descriptions .
what is the description for template type code "ad"? what is the description for template type code `` ad '' ?
show all template type codes. show all template type codes .
also show descriptions. also show descriptions .
which code has template type description "book"? which code has template type description `` book '' ?
show the template ids used by any document. show the template ids used by any document .
also show the template type code for those ids. also show the template type code for those ids .
how about their template type descriptions? how about their template type descriptions ?
show the distinct values among them. show the distinct values among them .
show the template id for all templates. show the template id for all templates .
also show their template type description. also show their template type description .
what are the template ids with description "presentation"? what are the template ids with description `` presentation '' ?
show the info for all paragraphs. show the info for all paragraphs .
how many are there? how many are there ?
show the id for all paragraphs. show the id for all paragraphs .
also show their document names. also show their document names .
only show the id for all paragraphs in the document named 'summer show'. only show the id for all paragraphs in the document named 'summer show ' .
how many such paragraphs are there? how many such paragraphs are there ?
show the parapraph text for all paragraphs. show the parapraph text for all paragraphs .
also show their paragraph details. also show their paragraph details .
what are the details for the paragraph containing 'korea'? what are the details for the paragraph containing 'korea ' ?
show all paragraph ids and texts. show all paragraph ids and texts .
for each of them, also show their document name. for each of them , also show their document name .
what are the ids and texts for the paragraph in the document with name 'welcome to ny'? what are the ids and texts for the paragraph in the document with name 'welcome to ny ' ?
show all paragraph text. show all paragraph text .
for each of them, also show the document name. for each of them , also show the document name .
what is the text for the document "customer reviews"? what is the text for the document `` customer reviews '' ?
show the document id for all paragraphs. show the document id for all paragraphs .
for each id, show the number of paragraphs. for each id , show the number of paragraphs .
order by document id. order by document id .
show all document ids and names. show all document ids and names .
for each of them, count the number of paragraphs in each document. for each of them , count the number of paragraphs in each document .
show the document id for all paragraphs. show the document id for all paragraphs .
for each of these document ids, count the number of paragraphs. for each of these document ids , count the number of paragraphs .
which of them have at least two paragraphs? which of them have at least two paragraphs ?
show the id number and name for all documents. show the id number and name for all documents .
also show the paragraph id for those documents. also show the paragraph id for those documents .
for each of these results, count the number of paragraphs. for each of these results , count the number of paragraphs .
which of them is the longest? which of them is the longest ?
show the document id for all paragraphs. show the document id for all paragraphs .
for each of them, count the number of paragraphs. for each of them , count the number of paragraphs .
sort them by these counts. sort them by these counts .
which has the fewest? which has the fewest ?
show the document id for all paragraphs. show the document id for all paragraphs .
for each of these ids, show the number of paragraphs. for each of these ids , show the number of paragraphs .
which of them have between 1 and 2 paragraphs? which of them have between 1 and 2 paragraphs ?
show information for all singers. show information for all singers .
how many are there? how many are there ?
show names of all singers. show names of all singers .
for each of them, also show country and age. for each of them , also show country and age .
list the results in descending order of their age. list the results in descending order of their age .

show age for all singers. show age for all singers .
what about age for those from france? what about age for those from france ?
what is the average, minimum, and maximum age for those? what is the average , minimum , and maximum age for those ?
show the names of all songs. show the names of all songs .
also show the release year for each of them. also show the release year for each of them .
order the result by the age of their singers. order the result by the age of their singers .
what is the result for the song by the yongest? what is the result for the song by the yongest ?
show country for all singers. show country for all singers .
only show the results for those above 20. only show the results for those above 20 .
what are all distinct countries for them? what are all distinct countries for them ?
show the country for all singers. show the country for all singers .
for each of them, what is the number of singers? for each of them , what is the number of singers ?
what is the average age for all singers? what is the average age for all singers ?
show the name for songs by singers older than that. show the name for songs by singers older than that .
show the name for all stadiums. show the name for all stadiums .
what about those with a capacity between 5000 and 10000? what about those with a capacity between 5000 and 10000 ?
also list the location for them. also list the location for them .
show the capacity for all stadiums. show the capacity for all stadiums .
what is the average of them? what is the average of them ?
also show the maximum. also show the maximum .
show the name and capacity for all stadiums. show the name and capacity for all stadiums .
show the result in descending order of their average attendance. show the result in descending order of their average attendance .
which one has the highest? which one has the highest ?
show the concert information in year 2014. show the concert information in year 2014 .
also show those in year 2015. also show those in year 2015 .
how many are there in total? how many are there in total ?
show the names of stadiums. show the names of stadiums .
for each of them, also show the number of concerts. for each of them , also show the number of concerts .
show all stadium names and their capacities. show all stadium names and their capacities .
order the results in descending order of the number of concerts in year 2014 or after. order the results in descending order of the number of concerts in year 2014 or after .
which one has the most? which one has the most ?
show the year for all concerts. show the year for all concerts .
order them in descending order of the number of concerts order them in descending order of the number of concerts
which year has the most? which year has the most ?
show all stadium ids of concerts. show all stadium ids of concerts .
show the stadium names without any concert. show the stadium names without any concert .
show the country for all singers. show the country for all singers .
how about those for singers above age 40? how about those for singers above age 40 ?
how about those for singers below 30? how about those for singers below 30 ?
how about countries with both? how about countries with both ?
show name for stadiums that had a concert in year 2014. show name for stadiums that had a concert in year 2014 .
show names for all stadiums except for those. show names for all stadiums except for those .
show the name and theme for all concerts. show the name and theme for all concerts .
for each of those, also show the number of singers. for each of those , also show the number of singers .
show the name for all singers. show the name for all singers .
for each of them, also show the number of concerts for each of them , also show the number of concerts
list all singer names. list all singer names .
how about those performing concerts in year 2014? how about those performing concerts in year 2014 ?
what are the names of all singers? what are the names of all singers ?
show the names for those having a song having 'hey' in its name. show the names for those having a song having 'hey ' in its name .
also show the nation for those singers. also show the nation for those singers .
show the name and location for the stadiums. show the name and location for the stadiums .
how about those with some concerts happened in the year 2014? how about those with some concerts happened in the year 2014 ?
among those, what are stadiums also holding some concerts in the year 2015? among those , what are stadiums also holding some concerts in the year 2015 ?
show the names and birth years of singers show the names and birth years of singers
only for the ones born in 1948. only for the ones born in 1948 .
show the name of singers whose birth year is either 1948 or 1949? show the name of singers whose birth year is either 1948 or 1949 ?
show the name and net worth of the singers. show the name and net worth of the singers .
order by richest first. order by richest first .
what is the name of the singer with the largest net worth? what is the name of the singer with the largest net worth ?
show the names and citizenships of singers. show the names and citizenships of singers .
show citizenship counts. show citizenship counts .
sort that by most common first. sort that by most common first .
limit it to one. limit it to one .
join singer names with their song titles. join singer names with their song titles .
limit the entries to where song sales exceed 300000. limit the entries to where song sales exceed 300000 .
which are the distinct names in that list? which are the distinct names in that list ?
show the names and song counts of singers. show the names and song counts of singers .
show the names of singers that have more than one song. show the names of singers that have more than one song .
show the songs and sale amounts. show the songs and sale amounts .
show the names of singers and the total sales of their songs. show the names of singers and the total sales of their songs .
which singer ids have at least one song? which singer ids have at least one song ?
which singer names do not? which singer names do not ?
find all employees who are under age 30. find all employees who are under age 30 .
which cities did they come from? which cities did they come from ?
show the cities from which more than one employee originated. show the cities from which more than one employee originated .
show all shops. show all shops .
what is the total number of products they are selling? what is the total number of products they are selling ?
find the name of the shop with the greatest number of products. find the name of the shop with the greatest number of products .
what are its manager name and district? what are its manager name and district ?
find the average number of products of all stores. find the average number of products of all stores .
how about the minimum and maximum? how about the minimum and maximum ?
show the name and number of product for all shops. show the name and number of product for all shops .
what is the average number of products? what is the average number of products ?
find the names of stores whose number products is less than the average. find the names of stores whose number products is less than the average .
how about more than? how about more than ?
how many evaluations are there? how many evaluations are there ?
what years were they given? what years were they given ?
find the name of the employee who received the most evaluation awards. find the name of the employee who received the most evaluation awards .
find the name of the employees who received past evaluation awards. find the name of the employees who received past evaluation awards .
who won the most times? who won the most times ?
ok, which one received the award with the highest bonus? ok , which one received the award with the highest bonus ?
find the number of different employees who were awarded in the past evaluations. find the number of different employees who were awarded in the past evaluations .
what are their names? what are their names ?
show the names of the employees who never won. show the names of the employees who never won .
how many shops are hiring? how many shops are hiring ?
what are the shops' names?' what are the shops ' names ? '
which one is hiring the largest number of employees? which one is hiring the largest number of employees ?
show all hiring info. show all hiring info .
find the names of any shops not hiring. find the names of any shops not hiring .
how many employees are being hired in all shops? how many employees are being hired in all shops ?
show the number for each shop. show the shop name as well. show the number for each shop . show the shop name as well .
show all visitors. show all visitors .
order them by their membership level from high to low. order them by their membership level from high to low .
just show their names. just show their names .
do not list those whose membership level is lower than or equal to 4. do not list those whose membership level is lower than or equal to 4 .
find the number of visitors with a membership level higher than 4. find the number of visitors with a membership level higher than 4 .
what are their names and membership levels? what are their names and membership levels ?
sort by their age from old to young. sort by their age from old to young .
how many museums are in the table? how many museums are in the table ?
what is the average number of staff working in these museums? what is the average number of staff working in these museums ?
find the name of the museum that has the most staff members. find the name of the museum that has the most staff members .
what is its id? what is its id ?
find the names of museums opened before 2010. find the names of museums opened before 2010 .
how about after? how about after ?
find the minimum number of staff of those museums. find the minimum number of staff of those museums .
find the names of museums which have more staff than that. find the names of museums which have more staff than that .
find the names of visitors who visited and who have some museum visit records. find the names of visitors who visited and who have some museum visit records .
which of them visited some museums more than once? which of them visited some museums more than once ?
also show their ids and ages. also show their ids and ages .

what is the total spent on all visits? what is the total spent on all visits ?
find the name of the visitor who has spent the most money for his or her visits. find the name of the visitor who has spent the most money for his or her visits .
what are his id and membership level? what are his id and membership level ?
show the id and name of all museums. show the id and name of all museums .
show the number of tickets sold for each of them. show the number of tickets sold for each of them .
which one was visited the most times? which one was visited the most times ?
how many museums are there? how many museums are there ?
how many of them have not had any visitors yet? how many of them have not had any visitors yet ?
what are their names? what are their names ?
how many tickets were sold from all of the museums? how many tickets were sold from all of the museums ?
find the id of the visitor who bought the most tickets at once. find the id of the visitor who bought the most tickets at once .
find the name and age of this visitor. find the name and age of this visitor .
find the total cost of all visits. find the total cost of all visits .
what was the amount of the largest one time purchase of tickets out of all visits? what was the amount of the largest one time purchase of tickets out of all visits ?
how about the average and maximum number of tickets purchased? how about the average and maximum number of tickets purchased ?
what is the lowest level of membership? what is the lowest level of membership ?
find the number of visitors whose membership level is 1. find the number of visitors whose membership level is 1 .
show the ticket expenses of all of their museum visits. show the ticket expenses of all of their museum visits .
what is the total amount of money spent? what is the total amount of money spent ?
find the names of museums opened before 2009. find the names of museums opened before 2009 .
what about those opened after 2011? what about those opened after 2011 ?
what is the name of the visitor who visited both groups of museums? what is the name of the visitor who visited both groups of museums ?
find the names of museums opened after 2010 find the names of museums opened after 2010
find the number of visits to these museums? find the number of visits to these museums ?
find the number of visitors who did not visit these museums. find the number of visitors who did not visit these museums .
how many high schoolers are there? how many high schoolers are there ?
how many in each grade 11 or 12? how many in each grade 11 or 12 ?
how many in grade 9 or 10? how many in grade 9 or 10 ?
how many distinct grades are there? how many distinct grades are there ?
what are they? what are they ?
which one has the least number of highschoolers? which one has the least number of highschoolers ?
which one has the most? which one has the most ?
how many highschoolers are there in total? how many highschoolers are there in total ?
how many per grade? how many per grade ?
what grades have at least 10 students? what grades have at least 10 students ?
how about at least 4? how about at least 4 ?
what are the names of all the high school students? what are the names of all the high school students ?
show the names of the friends for each one. show the names of the friends for each one .
how many friends does each student each have? how many friends does each student each have ?
what are the names of all the high schoolers? what are the names of all the high schoolers ?
show me the number of friends for each one. show me the number of friends for each one .
which one has the least number of friends? which one has the least number of friends ?
how about the greatest? how about the greatest ?
how many highschoolers have more than 5? how many highschoolers have more than 5 ?
at least 3? at least 3 ?
what are their names? what are their names ?
show me information on the high schooler named "kyle." show me information on the high schooler named `` kyle . ''
how many friends does he have? how many friends does he have ?
what are their names? what are their names ?
is there a highschooler named kyle? is there a highschooler named kyle ?
who does he like? who does he like ?
what are the names of his friends? what are the names of his friends ?
how many are there? how many are there ?
show me all the high school student ids. show me all the high school student ids .
how many friends do each of them have? how many friends do each of them have ?
which ones have at least 1? which ones have at least 1 ?
which ones have none? which ones have none ?
what are the names of all the highshcool students? what are the names of all the highshcool students ?
which ones have at least 5 friends? which ones have at least 5 friends ?
how about at least 1? how about at least 1 ?
how about 0? how about 0 ?
show me the ids of all highschoolers who have friends? show me the ids of all highschoolers who have friends ?
also show, for each, the ids of the people they like? also show , for each , the ids of the people they like ?
now only show those who are liked by someone else! now only show those who are liked by someone else !
show me just their ids! show me just their ids !
how many high schoolers are liked by someone else? how many high schoolers are liked by someone else ?
what are their names? what are their names ?
how many of them have friends? how many of them have friends ?
who are they? who are they ?
what are the names of the highschoolers who don't like anyone? what are the names of the highschoolers who do n't like anyone ?
how about those who like others? how about those who like others ?
how many people do they each like? how many people do they each like ?
how many high schoolers like somebody else? how many high schoolers like somebody else ?
what are their names? what are their names ?
what is the greatest number of likes anyone has? what is the greatest number of likes anyone has ?
who has the greatest number of likes? who has the greatest number of likes ?
show me the names of all students? show me the names of all students ?
how about those who like at least one other person! how about those who like at least one other person !
how about those who like at least two other students! how about those who like at least two other students !
what are the names of the students who have some friends? what are the names of the students who have some friends ?
how about those have at least 2 friends? how about those have at least 2 friends ?
what grades are they each in? what grades are they each in ?
show me the names of only those who are in a grade higher than 5! show me the names of only those who are in a grade higher than 5 !
what grade is the student named kyle in? what grade is the student named kyle in ?
how many other students like him? how many other students like him ?
what are their names? what are their names ?
how many other students does he like? how many other students does he like ?
show me the student_id and the grade for all students. show me the student_id and the grade for all students .
what is the average grade? what is the average grade ?
how about for students who have no friends? how about for students who have no friends ?
how about for those who have some friends? how about for those who have some friends ?
show all the teachers. show all the teachers .
how many are there? how many are there ?
what is the name of each teacher? what is the name of each teacher ?
sort them in ascending order of age. sort them in ascending order of age .
what is the age of each teacher? what is the age of each teacher ?
also show the hometown for each. also show the hometown for each .
what is the hometown of each teacher? what is the hometown of each teacher ?
which teacher's hometown is not "little lever urban district"? which teacher 's hometown is not `` little lever urban district '' ?
give me their names. give me their names .
what are the ages of all the teachers? what are the ages of all the teachers ?
which teachers are age 32? which teachers are age 32 ?
which teachers are age 32 or 33? which teachers are age 32 or 33 ?
what are their names? what are their names ?
sort all the teachers by their age. sort all the teachers by their age .
which teacher is the youngest? which teacher is the youngest ?
what is his or her hometown? what is his or her hometown ?
what is the hometown of each teacher? what is the hometown of each teacher ?
can you order teachers by their hometowns? can you order teachers by their hometowns ?
show the number of teachers from each hometown. show the number of teachers from each hometown .
how many teachers are there? how many teachers are there ?
how many are there for each hometown? how many are there for each hometown ?
find the most common hometown of teachers. find the most common hometown of teachers .
how many teachers are there? how many teachers are there ?
how many teachers are there for each hometown? how many teachers are there for each hometown ?
which hometowns are shared by at least two teachers? which hometowns are shared by at least two teachers ?
find all the course arrangements. find all the course arrangements .
for each of the courses, show the teacher who teaches it. for each of the courses , show the teacher who teaches it .
find all the course arrangements. find all the course arrangements .
show names of teachers and the courses they are arranged to teach. show names of teachers and the courses they are arranged to teach .
sort the results by teacher's name sort the results by teacher 's name
find all the course arrangements. find all the course arrangements .
show names of teachers and the courses they are arranged to teach. show names of teachers and the courses they are arranged to teach .
which teachers teach the math course? give me their names. which teachers teach the math course ? give me their names .
show all the teacher names. show all the teacher names .
show names of teachers and the number of courses they teach. show names of teachers and the number of courses they teach .
show all the teacher names. show all the teacher names .
show names of teachers and the number of courses they teach. show names of teachers and the number of courses they teach .
show the names of teachers who teach at least two courses. show the names of teachers who teach at least two courses .
show all the available features. show all the available features .
how many available features are there? how many available features are there ?
find the available features with feature name "aircon". find the available features with feature name `` aircon '' .
what is the feature type name? what is the feature type name ?
what is the property type description of each property? what is the property type description of each property ?
show the property type descriptions of properties for each property type code. show the property type descriptions of properties for each property type code .
show all area codes and states. show all area codes and states .
how many are there? how many are there ?
show all info about contestants. show all info about contestants .
what are their names? what are their names ?
can you also show contestant numbers? can you also show contestant numbers ?
can you sort them ordered in descending order of contestant name? can you sort them ordered in descending order of contestant name ?
show all info about votes. show all info about votes .

also provide vote ids. also provide vote ids .
also show phone numbers. also show phone numbers .
show all area codes. show all area codes .
what is the largest one? what is the largest one ?
how about smallest one? how about smallest one ?
give me both. give me both .
show all votes. show all votes .
which ones are from the state 'ca'? which ones are from the state 'ca ' ?
among those, can you give me the last date created? among those , can you give me the last date created ?
show all contestants. show all contestants .
what are their names? what are their names ?
can you not include the name 'jessie alloway'? can you not include the name 'jessie alloway ' ?
show all votes? show all votes ?
among these, what is the list of states? among these , what is the list of states ?
what are the distinct states and create time? what are the distinct states and create time ?
show all the contestants. show all the contestants .
show all the votes. show all the votes .
can you show contestants with at least two votes? can you show contestants with at least two votes ?
what are their contestant numbers and names? what are their contestant numbers and names ?
show all the contestants. show all the contestants .
show all the votes. show all the votes .
can you show the contestant with the least votes? can you show the contestant with the least votes ?
what is his or her contestant number and contestant name? what is his or her contestant number and contestant name ?
show all votes. show all votes .
what about those from state 'ny' or 'ca'? what about those from state 'ny ' or 'ca ' ?
give me the count of these votes. give me the count of these votes .
show all contestants show all contestants
which contestants did not get any votes? which contestants did not get any votes ?
how many are there? how many are there ?
show all area codes and states. show all area codes and states .
show all votes. show all votes .
get the count of votes for each area code. get the count of votes for each area code .
what is the area code in which the most voters voted? what is the area code in which the most voters voted ?
show all votes. show all votes .
show those that were for the contestant named 'tabatha gehling'. show those that were for the contestant named 'tabatha gehling ' .
what are the create dates, states, and phone numbers of these votes? what are the create dates , states , and phone numbers of these votes ?
show all area codes. show all area codes .
can you tell me area codes in which voters voted for the contestant 'tabatha gehling'? can you tell me area codes in which voters voted for the contestant 'tabatha gehling ' ?
how about both the contestant 'tabatha gehling' and the contestant 'kelly clauss'? how about both the contestant 'tabatha gehling ' and the contestant 'kelly clauss ' ?
give me the description of the department that offers the most number of degrees. give me the description of the department that offers the most number of degrees .
what's the name and id of that department? what 's the name and id of that department ?
show me all the degrees offered by the engineering department. show me all the degrees offered by the engineering department .
how many are there? how many are there ?
show me courses that have exactly 2 sections. show me courses that have exactly 2 sections .
show me names and ids for courses that have at most 2 sections. show me names and ids for courses that have at most 2 sections .
which semester did the least number of students register? give me its name and id. which semester did the least number of students register ? give me its name and id .
how about the semester that most number of students registered? how about the semester that most number of students registered ?
show me all department names that contain the word "computer" show me all department names that contain the word `` computer ''
show me their descriptions. show me their descriptions .
how many people are enrolled in 2 degree programs in one semester? how many people are enrolled in 2 degree programs in one semester ?
show me their first, middle, and last names. show me their first , middle , and last names .
how many people are enrolled in the bachelor degree program? how many people are enrolled in the bachelor degree program ?
what are their first, middle, and last names? what are their first , middle , and last names ?
show me the descriptions of programs with 3 highest number of enrolled students. show me the descriptions of programs with 3 highest number of enrolled students .
show me the name of program with the most enrolled students. show me the name of program with the most enrolled students .
what is the description of the program that has the least number of enrolled students? what is the description of the program that has the least number of enrolled students ?
how about the program that has the most number of enrolled students? how about the program that has the most number of enrolled students ?
show me the id and summary. show me the id and summary .
show me the id, first and last names of top 3 students who have enrolled for the most times in any program. show me the id , first and last names of top 3 students who have enrolled for the most times in any program .
show me just the top 1. show me just the top 1 .
give me the description of a semester with no enrolled students. give me the description of a semester with no enrolled students .
what's the name of that semester? what 's the name of that semester ?
what's the name of the course with the least number of enrollments? what 's the name of the course with the least number of enrollments ?
how many enrollments does the course with most enrollments have? how many enrollments does the course with most enrollments have ?
what's the name of that course? what 's the name of that course ?
how many students currently live in north carolina? how many students currently live in north carolina ?
how many of those students have not registered in any degree program? how many of those students have not registered in any degree program ?
what are their last names? what are their last names ?
show me date and id of transcripts with exactly 2 course results. show me date and id of transcripts with exactly 2 course results .
how about transcripts with at least 2 course results? how about transcripts with at least 2 course results ?
what is the address of the student with first name timothy and last name ward? what is the address of the student with first name timothy and last name ward ?
what's his phone number? what 's his phone number ?
who was the last student to register? show me the first, middle, and last names of that student. who was the last student to register ? show me the first , middle , and last names of that student .
who was the first to register? who was the first to register ?
who is the least recent graduate of the school? list the first, middle, and last names. who is the least recent graduate of the school ? list the first , middle , and last names .
who is the earliest graduate of the school? who is the earliest graduate of the school ?
give me the id of the address that holds the most number of students? give me the id of the address that holds the most number of students ?
how many students live there? how many students live there ?
give me all the lines as well as the id of that address. give me all the lines as well as the id of that address .
give me details of the first transcript released. give me details of the first transcript released .
tell me when it was released as well, along with its details. tell me when it was released as well , along with its details .
what is the oldest transcript release date? what is the oldest transcript release date ?
how about the latest? how about the latest ?
how many times, at minimum, can a course enrollment result show in different transcript? show me the course enrollment id. how many times , at minimum , can a course enrollment result show in different transcript ? show me the course enrollment id .
how many times at most? how many times at most ?
show other details of the transcript with least number of results. show other details of the transcript with least number of results .
show me the date and id of that transcript. show me the date and id of that transcript .
find a semester when there was a master student enrolled. find a semester when there was a master student enrolled .
how about a semester when there was a bachelor student enrolled? how about a semester when there was a bachelor student enrolled ?
find a semester that both types of students were enrolled in. find a semester that both types of students were enrolled in .
list all the information about the owners. list all the information about the owners .
what about the professionals? what about the professionals ?
now show the states of them. now show the states of them .
which of them have both owners and professionals living there? which of them have both owners and professionals living there ?
show all the dog ages. show all the dog ages .
what is the maximum and minimum value? what is the maximum and minimum value ?
which of the dogs have gone through treatments? which of the dogs have gone through treatments ?
what about the average age of them? what about the average age of them ?
list all the professionals who are employees. list all the professionals who are employees .
how many of them live in connecticut? how many of them live in connecticut ?
what about in indiana? what about in indiana ?
among all the professionals, which have done treatment only 1 treatments? among all the professionals , which have done treatment only 1 treatments ?
list the id, last name and cell phone of the professionals who live in the state of indiana or have done treatment on more than 2 treatments? list the id , last name and cell phone of the professionals who live in the state of indiana or have done treatment on more than 2 treatments ?

show the dog name and total cost of each dog. show the dog name and total cost of each dog .
which of them cost over 500? which of them cost over 500 ?
what about more than 1000? what about more than 1000 ?
list all the names of both professionals and owners. list all the names of both professionals and owners .
what about the dog names? what about the dog names ?
which human names are not used as dog names. which human names are not used as dog names .
show the professional first names and the corresponding treatment type codes for the treatment. show the professional first names and the corresponding treatment type codes for the treatment .
what about each professional's id, role, email and the treatment type code? what about each professional 's id , role , email and the treatment type code ?
which professional did not provide any treatment? keep the id, role and email. which professional did not provide any treatment ? keep the id , role and email .
show the number of dogs for each owner, keep the owner id. show the number of dogs for each owner , keep the owner id .
which one has 2 dogs? which one has 2 dogs ?
what about the one with the most dogs? what about the one with the most dogs ?
how many treatment does each professional finished? how many treatment does each professional finished ?
show the first name of the professionals who did only 1 treatment. show the first name of the professionals who did only 1 treatment .
what about at least two treatments? what about at least two treatments ?
show the id, role, and first name of each from the above. show the id , role , and first name of each from the above .
how many dogs for each breed code? how many dogs for each breed code ?
which breed codes are the most popular two? which breed codes are the most popular two ?
what about the most common 1? what about the most common 1 ?
what name is the breed? what name is the breed ?
show the dog name and total cost of each dog. show the dog name and total cost of each dog .
what are the owner names and the cost from their dogs. what are the owner names and the cost from their dogs .
who has paid for the most treatments on the dogs? keep owner ids and last names. who has paid for the most treatments on the dogs ? keep owner ids and last names .
list the treatment type code and the description. list the treatment type code and the description .
for each treatment type, calculate the sum of costs, and order them in descending order. for each treatment type , calculate the sum of costs , and order them in descending order .
show the treatment type description also. show the treatment type description also .
so what is the description of the treatment type that costs the least money in total? so what is the description of the treatment type that costs the least money in total ?
show the dog name and total cost of each dog. show the dog name and total cost of each dog .
how many of them cost over 700? how many of them cost over 700 ?
which owner paid the cost larger than 400, show the owner id and the zip code? which owner paid the cost larger than 400 , show the owner id and the zip code ?
what about the owner who spent the largest cost? what about the owner who spent the largest cost ?
list the professional first names and their types of treatments. list the professional first names and their types of treatments .
add the counts of them also. add the counts of them also .
among the results, who did only 1 type of treatment? list the professional ids and cell phone numbers of them. among the results , who did only 1 type of treatment ? list the professional ids and cell phone numbers of them .
what about at least two types of treatments? what about at least two types of treatments ?
what is the minimum, maximum and average value of the treatment costs? what is the minimum , maximum and average value of the treatment costs ?
which professionals who did the minimum value of the treatment cost? provide the first name and last name. which professionals who did the minimum value of the treatment cost ? provide the first name and last name .
what about the maximum cost? what about the maximum cost ?
how about below the average of the cost? how about below the average of the cost ?
how many dogs for each breed code? how many dogs for each breed code ?
which one is the most popular one? which one is the most popular one ?
what about the least popular one? what about the least popular one ?
so which dogs are having the breed code? and the treatment dates? so which dogs are having the breed code ? and the treatment dates ?
show the name of dogs whose owners are from the city 'lake tia'. show the name of dogs whose owners are from the city 'lake tia ' .
add the owner's first names also. add the owner 's first names also .
what about when the owner is from the state of 'virginia'? what about when the owner is from the state of 'virginia ' ?
which one is the oldest dog? list the information of it. which one is the oldest dog ? list the information of it .
what are the last names of the oldest dogs? what are the last names of the oldest dogs ?
what about the owner last name of the youngest dog? what about the owner last name of the youngest dog ?
show the cities and states of the professionals. show the cities and states of the professionals .
how many of them are from 'hawaii'? how many of them are from 'hawaii ' ?
list the emails of the professionals who live in the state of hawaii or the state of wisconsin. list the emails of the professionals who live in the state of hawaii or the state of wisconsin .
show the states of the professionals. show the states of the professionals .
how many of them are from 'wisconsin'? how many of them are from 'wisconsin ' ?
list the role code ,  street ,  city ,  state from the above results. list the role code , street , city , state from the above results .
what about those professionals who live in a city containing the substring 'west'? what about those professionals who live in a city containing the substring 'west ' ?
show the states of the owners. show the states of the owners .
how many of them are from 'vermont'? how many of them are from 'vermont ' ?
list the first name, last name and email of the owners who lives in the states that has the substring 'north'. list the first name , last name and email of the owners who lives in the states that has the substring 'north ' .
order the dog ages in descending order. order the dog ages in descending order .
how many of them are below 4? how many of them are below 4 ?
what about the ones that are below the average? what about the ones that are below the average ?
show the treatment details. show the treatment details .
order the cost in ascending order. order the cost in ascending order .
what about in descending order? what about in descending order ?
which one is the most recent cost? which one is the most recent cost ?
show all the owner information. show all the owner information .
what about the dogs? what about the dogs ?
among those, how many of them have been sent to receive treatment? among those , how many of them have been sent to receive treatment ?
what about those who did not? what about those who did not ?
show all the owner information. show all the owner information .
how many of them come from the state of 'arizona'? how many of them come from the state of 'arizona ' ?
what about those who do not have any dogs temporarily? what about those who do not have any dogs temporarily ?
how many professionals are there? how many professionals are there ?
how many of them come from 'west heidi?' how many of them come from 'west heidi ? '
what about those who did not operate any treatment on dogs? what about those who did not operate any treatment on dogs ?
Independent: 333, 571, 0.583187
Dependent: 234, 632, 0.370253
First Independent: 262, 422, 0.620853
Other Independent: 71, 149, 0.476510
Independent Percent: 0.474647
{'easy': 330, 'extra': 31, 'hard': 40, 'medium': 170}
{'easy': 241, 'extra': 4, 'hard': 13, 'medium': 75}
{'easy': 153, 'extra': 103, 'hard': 105, 'medium': 271}
{'easy': 0.5779334500875657,
 'extra': 0.0542907180385289,
 'hard': 0.07005253940455342,
 'medium': 0.29772329246935203}
{'easy': 0.24208860759493672,
 'extra': 0.1629746835443038,
 'hard': 0.1661392405063291,
 'medium': 0.4287974683544304}
Total Hardness:  {'easy': 483, 'medium': 441, 'hard': 145, 'extra': 134}
Total Hardness Distribution:  {'easy': 0.4014962593516209, 'medium': 0.36658354114713215, 'hard': 0.12053200332502079, 'extra': 0.1113881961762261}
Total Hardness Match:  {'easy': 332, 'medium': 179, 'hard': 39, 'extra': 17}
Total Hardness Accuracy:  {'easy': 0.6873706004140787, 'medium': 0.40589569160997735, 'hard': 0.2689655172413793, 'extra': 0.12686567164179105}

In [108]:
## Measure turn

def measure_interaction_match_pattern(predictions: List[Dict], source_examples: List[Dict]):
    pattern_count = dict()
    interaction_match_count = 0
    for p in predictions:
        example_id = p['example_id']
        has_error = False
        for turn in p['interaction']:
            if turn['exact'] == 1 or turn['exact'] is True:
                pass
            else:
                has_error = True
                break
        if has_error:
            continue
            
        interaction_match_count += 1
        
        # Turn statistics
        source = source_examples[example_id - 1]
        hardness = list()
        for turn in source['interaction']:
            h = eval_hardness(turn['sql'])
            hardness.append(h)
        key = "-".join(hardness)
        if key not in pattern_count:
            pattern_count[key] = 0
        pattern_count[key] += 1
    print("Interaction Match Count: ", interaction_match_count)
    return pattern_count

In [109]:
measure_interaction_match_pattern(duorat_sparc_predictions, sparc_dev)

Interaction Match Count:  146

{'easy-easy': 36,
 'medium-medium': 12,
 'easy-medium': 22,
 'medium-extra': 4,
 'easy-easy-easy': 9,
 'easy-easy-medium': 20,
 'easy-hard': 10,
 'medium-hard': 3,
 'easy-easy-hard': 1,
 'easy-easy-easy-medium': 1,
 'medium-medium-medium-easy': 1,
 'easy-medium-medium-extra': 1,
 'easy-medium-easy': 3,
 'easy-medium-hard': 2,
 'medium-easy': 1,
 'easy-medium-medium': 6,
 'medium-medium-medium': 2,
 'easy-medium-medium-hard': 1,
 'medium-extra-extra': 1,
 'medium-medium-extra': 1,
 'medium-easy-hard-hard': 1,
 'easy-easy-extra': 1,
 'easy-extra-hard': 1,
 'easy-easy-hard-hard': 1,
 'easy-easy-medium-medium': 2,
 'extra-extra': 1,
 'hard-hard': 1,
 'easy-easy-easy-hard': 1}

In [115]:
duorat_sparc_predictions

[{'example_id': 1,
  'interaction': [{'interaction_id': 1,
    'turn_id': 1,
    'question': ' [SEP] What are all the airlines?',
    'groundtruth': 'SELECT * FROM AIRLINES',
    'sql': 'SELECT airlines.Airline FROM airlines',
    'exact': 0},
   {'interaction_id': 1,
    'turn_id': 2,
    'question': ' [SEP] Of these, which is Jetblue Airways? [SEP] What are all the airlines?',
    'groundtruth': 'SELECT * FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
    'sql': 'SELECT * FROM airlines WHERE airlines.Airline = " Jetblue Airways "',
    'exact': True},
   {'interaction_id': 1,
    'turn_id': 3,
    'question': ' [SEP] What is the country corresponding it? [SEP] Of these, which is Jetblue Airways? [SEP] What are all the airlines?',
    'groundtruth': 'SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
    'sql': 'SELECT airlines.Country FROM airlines WHERE airlines.Airline = " Jetblue Airways "',
    'exact': True}]},
 {'example_id': 2,
  'interaction': [{'interaction_id': 2,
    'turn_id': 1,
    'question': ' [SEP] What are all the abbreviations?',
    'groundtruth': 'SELECT Abbreviation FROM AIRLINES',
    'sql': 'SELECT airlines.Abbreviation FROM airlines',
    'exact': True},
   {'interaction_id': 2,
    'turn_id': 2,
    'question': ' [SEP] What is the abbreviation for Jetblue Airways? [SEP] What are all the abbreviations?',
    'groundtruth': 'SELECT Abbreviation FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
    'sql': 'SELECT airlines.Abbreviation FROM airlines WHERE airlines.Airline = " Jetblue Airways "',
    'exact': True}]},
 {'example_id': 3,
  'interaction': [{'interaction_id': 3,
    'turn_id': 1,
    'question': ' [SEP] List all airline names and their abbreviations.',
    'groundtruth': 'SELECT Airline ,  Abbreviation FROM AIRLINES',
    'sql': 'SELECT airlines.Airline, airlines.Abbreviation FROM airlines',
    'exact': True},
   {'interaction_id': 3,
    'turn_id': 2,
    'question': ' [SEP] Of these, list only those in the USA. [SEP] List all airline names and their abbreviations.',
    'groundtruth': 'SELECT Airline ,  Abbreviation FROM AIRLINES WHERE Country  =  "USA"',
    'sql': 'SELECT airlines.Airline, airlines.Abbreviation FROM airlines WHERE airlines.Country = " USA "',
    'exact': True}]},
 {'example_id': 4,
  'interaction': [{'interaction_id': 4,
    'turn_id': 1,
    'question': ' [SEP] Find all information about the airport in the city Anthony.',
    'groundtruth': 'SELECT * FROM AIRPORTS WHERE city  =  "Anthony"',
    'sql': 'SELECT * FROM airports WHERE airports.City = " Anthony "',
    'exact': True},
   {'interaction_id': 4,
    'turn_id': 2,
    'question': ' [SEP] What is the airport code and airport name? [SEP] Find all information about the airport in the city Anthony.',
    'groundtruth': 'SELECT AirportCode ,  AirportName FROM AIRPORTS WHERE city  =  "Anthony"',
    'sql': 'SELECT airports.AirportCode, airports.AirportName FROM airports WHERE airports.City = " Anthony "',
    'exact': True}]},
 {'example_id': 5,
  'interaction': [{'interaction_id': 5,
    'turn_id': 1,
    'question': ' [SEP] What are all the airlines?',
    'groundtruth': 'SELECT * FROM AIRLINES',
    'sql': 'SELECT airlines.Airline FROM airlines',
    'exact': 0},
   {'interaction_id': 5,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What are all the airlines?',
    'groundtruth': 'SELECT count(*) FROM AIRLINES',
    'sql': 'SELECT Count(*) FROM airlines',
    'exact': True}]},
 {'example_id': 6,
  'interaction': [{'interaction_id': 6,
    'turn_id': 1,
    'question': ' [SEP] What are all the airports?',
    'groundtruth': 'SELECT * FROM AIRPORTS',
    'sql': 'SELECT * FROM airports',
    'exact': True},
   {'interaction_id': 6,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What are all the airports?',
    'groundtruth': 'SELECT count(*) FROM AIRPORTS',
    'sql': 'SELECT Count(*) FROM airports',
    'exact': True}]},
 {'example_id': 7,
  'interaction': [{'interaction_id': 7,
    'turn_id': 1,
    'question': ' [SEP] What are all the flights?',
    'groundtruth': 'SELECT * FROM FLIGHTS',
    'sql': 'SELECT * FROM flights',
    'exact': True},
   {'interaction_id': 7,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What are all the flights?',
    'groundtruth': 'SELECT count(*) FROM FLIGHTS',
    'sql': 'SELECT Count(*) FROM flights',
    'exact': True}]},
 {'example_id': 8,
  'interaction': [{'interaction_id': 8,
    'turn_id': 1,
    'question': ' [SEP] What are all the airline names?',
    'groundtruth': 'SELECT Airline FROM AIRLINES',
    'sql': 'SELECT DISTINCT airlines.Airline FROM airlines',
    'exact': True},
   {'interaction_id': 8,
    'turn_id': 2,
    'question': " [SEP] Of this, which has the abbreviation 'UAL'? [SEP] What are all the airline names?",
    'groundtruth': 'SELECT Airline FROM AIRLINES WHERE Abbreviation  =  "UAL"',
    'sql': 'SELECT airlines.Airline FROM airlines WHERE airlines.Abbreviation = " UAL "',
    'exact': True}]},
 {'example_id': 9,
  'interaction': [{'interaction_id': 9,
    'turn_id': 1,
    'question': ' [SEP] What are the names of the airlines in the USA?',
    'groundtruth': 'SELECT airline FROM AIRLINES WHERE Country  =  "USA"',
    'sql': 'SELECT airlines.Airline FROM airlines WHERE airlines.Country = " USA "',
    'exact': True},
   {'interaction_id': 9,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What are the names of the airlines in the USA?',
    'groundtruth': 'SELECT count(*) FROM AIRLINES WHERE Country  =  "USA"',
    'sql': 'SELECT Count(*) FROM airlines WHERE airlines.Country = " USA "',
    'exact': True}]},
 {'example_id': 10,
  'interaction': [{'interaction_id': 10,
    'turn_id': 1,
    'question': ' [SEP] What are the city and country for all airports?',
    'groundtruth': 'SELECT City ,  Country FROM AIRPORTS',
    'sql': 'SELECT airports.City, airports.CountryAbbrev, airports.Country FROM airports',
    'exact': 0},
   {'interaction_id': 10,
    'turn_id': 2,
    'question': ' [SEP] Of these, what are the city and country for Alton airport? [SEP] What are the city and country for all airports?',
    'groundtruth': 'SELECT City ,  Country FROM AIRPORTS WHERE AirportName  =  "Alton"',
    'sql': 'SELECT airports.City, airports.Country FROM airports WHERE airports.AirportName = " Alton "',
    'exact': True}]},
 {'example_id': 11,
  'interaction': [{'interaction_id': 11,
    'turn_id': 1,
    'question': ' [SEP] What are all the airport names?',
    'groundtruth': 'SELECT AirportName FROM AIRPORTS',
    'sql': 'SELECT airports.AirportName FROM airports',
    'exact': True},
   {'interaction_id': 11,
    'turn_id': 2,
    'question': " [SEP] Of these, which has code 'AKO'? [SEP] What are all the airport names?",
    'groundtruth': 'SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"',
    'sql': 'SELECT airports.AirportName FROM airports WHERE airports.AirportCode = " AKO "',
    'exact': True}]},
 {'example_id': 12,
  'interaction': [{'interaction_id': 12,
    'turn_id': 1,
    'question': ' [SEP] What are all the airport names?',
    'groundtruth': 'SELECT AirportName FROM AIRPORTS',
    'sql': 'SELECT airports.AirportName FROM airports',
    'exact': True},
   {'interaction_id': 12,
    'turn_id': 2,
    'question': ' [SEP] Which is in Aberdeen? [SEP] What are all the airport names?',
    'groundtruth': 'SELECT AirportName FROM AIRPORTS WHERE City = "Aberdeen"',
    'sql': 'SELECT airports.AirportName FROM airports WHERE airports.City = " Aberdeen "',
    'exact': True}]},
 {'example_id': 13,
  'interaction': [{'interaction_id': 13,
    'turn_id': 1,
    'question': " [SEP] What are all the flights departing from 'APG'?",
    'groundtruth': 'SELECT * FROM FLIGHTS WHERE SourceAirport  =  "APG"',
    'sql': 'SELECT * FROM flights WHERE flights.SourceAirport = " APG "',
    'exact': True},
   {'interaction_id': 13,
    'turn_id': 2,
    'question': " [SEP] How many are there? [SEP] What are all the flights departing from 'APG'?",
    'groundtruth': 'SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"',
    'sql': 'SELECT Count(*) FROM flights WHERE flights.SourceAirport = " APG "',
    'exact': True}]},
 {'example_id': 14,
  'interaction': [{'interaction_id': 14,
    'turn_id': 1,
    'question': ' [SEP] What flights land in ATO?',
    'groundtruth': 'SELECT * FROM FLIGHTS WHERE DestAirport  =  "ATO"',
    'sql': 'SELECT * FROM flights WHERE flights.DestAirport = " ATOO "',
    'exact': True},
   {'interaction_id': 14,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What flights land in ATO?',
    'groundtruth': 'SELECT count(*) FROM FLIGHTS WHERE DestAirport  =  "ATO"',
    'sql': 'SELECT Count(*) FROM flights WHERE flights.DestAirport = " ATO "',
    'exact': True}]},
 {'example_id': 15,
  'interaction': [{'interaction_id': 15,
    'turn_id': 1,
    'question': ' [SEP] What are all the flights derparting from Aberdeen?',
    'groundtruth': 'SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"',
    'sql': 'SELECT * FROM flights JOIN flights JOIN airports ON airports.AirportCode = flights.SourceAirport AND airports.AirportCode = airports.AirportCode WHERE airports.City = " Aberdeen "',
    'exact': False},
   {'interaction_id': 15,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What are all the flights derparting from Aberdeen?',
    'groundtruth': 'SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"',
    'sql': 'SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport WHERE airports.City = " Aberdeen "',
    'exact': True}]},
 {'example_id': 16,
  'interaction': [{'interaction_id': 16,
    'turn_id': 1,
    'question': ' [SEP] What are all the flights arriving in Aberdeen.',
    'groundtruth': 'SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"',
    'sql': 'SELECT * FROM flights JOIN airports ON flights.SourceAirport = airports.AirportCode WHERE airports.City = " Aberdeen "',
    'exact': True},
   {'interaction_id': 16,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What are all the flights arriving in Aberdeen.',
    'groundtruth': 'SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"',
    'sql': 'SELECT Count(*) FROM flights JOIN airports ON flights.DestAirport = airports.AirportCode WHERE airports.City = " Aberdeen "',
    'exact': True}]},
 {'example_id': 17,
  'interaction': [{'interaction_id': 17,
    'turn_id': 1,
    'question': ' [SEP] What are all the flights that leave from Aberdeen?',
    'groundtruth': 'SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"',
    'sql': 'SELECT * FROM flights JOIN airports ON flights.SourceAirport = airports.AirportCode WHERE airports.City = " Aberdeen "',
    'exact': True},
   {'interaction_id': 17,
    'turn_id': 2,
    'question': ' [SEP] Of those, which land in Ashley? [SEP] What are all the flights that leave from Aberdeen?',
    'groundtruth': 'SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRPORTS AS T3 ON T1.SourceAirport  =  T3.AirportCode WHERE T2.City  =  "Ashley" AND T3.City  =  "Aberdeen"',
    'sql': 'SELECT * FROM airports JOIN flights ON airports.AirportCode = flights.DestAirport WHERE airports.City = " Aberdeen " AND airports.AirportName = " Ashley "',
    'exact': 0},
   {'interaction_id': 17,
    'turn_id': 3,
    'question': ' [SEP] How many are there? [SEP] Of those, which land in Ashley? [SEP] What are all the flights that leave from Aberdeen?',
    'groundtruth': 'SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRPORTS AS T3 ON T1.SourceAirport  =  T3.AirportCode WHERE T2.City  =  "Ashley" AND T3.City  =  "Aberdeen"',
    'sql': 'SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.DestAirport WHERE airports.City = " Aberdeen " AND airports.City = " Ashley "',
    'exact': False}]},
 {'example_id': 18,
  'interaction': [{'interaction_id': 18,
    'turn_id': 1,
    'question': ' [SEP] What are all the flights on Jetblue Airways?',
    'groundtruth': 'SELECT * FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"',
    'sql': 'SELECT * FROM flights JOIN airlines ON flights.Airline = airlines.uid WHERE airlines.Airline = " Jetblue Airways "',
    'exact': True},
   {'interaction_id': 18,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What are all the flights on Jetblue Airways?',
    'groundtruth': 'SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"',
    'sql': 'SELECT Count(*) FROM flights ON flights.Airline = flights.Airline JOIN airlines ON airlines.uid = airlines.uid JOIN flights WHERE airlines.Airline = " Jetblue Airways "',
    'exact': False}]},
 {'example_id': 19,
  'interaction': [{'interaction_id': 19,
    'turn_id': 1,
    'question': ' [SEP] What are the United Airlines flights?',
    'groundtruth': 'SELECT * FROM AIRLINES WHERE Airline  =  "United Airlines"',
    'sql': 'SELECT * FROM airlines JOIN flights ON airlines.uid = flights.Airline WHERE airlines.Airline = " United Airlines "',
    'exact': False},
   {'interaction_id': 19,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] What are the United Airlines flights?',
    'groundtruth': 'SELECT count(*) FROM AIRLINES WHERE Airline  =  "United Airlines"',
    'sql': 'SELECT Count(*) FROM airlines JOIN flights ON airlines.uid = flights.Airline WHERE airlines.Airline = " United Airlines "',
    'exact': False},
   {'interaction_id': 19,
    'turn_id': 3,
    'question': ' [SEP] How many land in ASY Airport? [SEP] How many are there? [SEP] What are the United Airlines flights?',
    'groundtruth': 'SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"',
    'sql': 'SELECT Count(*) FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport AND flights.Airline = flights.Airline JOIN airlines WHERE airports.Country = " AS "',
    'exact': 0}]},
 {'example_id': 20,
  'interaction': [{'interaction_id': 20,
    'turn_id': 1,
    'question': ' [SEP] What are the United Airlines flights?',
    'groundtruth': 'SELECT * FROM AIRLINES WHERE Airline  =  "United Airlines"',
    'sql': 'SELECT * FROM airlines JOIN flights ON airlines.uid = flights.Airline WHERE airlines.Airline = " United Airlines "',
    'exact': False},
   {'interaction_id': 20,
    'turn_id': 2,
    'question': ' [SEP] Which ones leave from AHD? [SEP] What are the United Airlines flights?',
    'groundtruth': 'SELECT * FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"',
    'sql': 'SELECT flights.FlightNo FROM airlines JOIN flights ON airlines.uid = flights.Airline WHERE airlines.Airline = " United Airlines " AND flights.DestAirport = " AH "',
    'exact': 0},
   {'interaction_id': 20,
    'turn_id': 3,
    'question': ' [SEP] How many are there? [SEP] Which ones leave from AHD? [SEP] What are the United Airlines flights?',
    'groundtruth': 'SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"',
    'sql': 'SELECT Count(*) FROM airlines JOIN airports JOIN flights ON airlines.uid = flights.Airline AND airports.AirportCode = flights.Airline WHERE airlines.Airline = " United Airlines " AND flights.SourceAirport = " AH "',
    'exact': False}]},
 {'example_id': 21,
  'interaction': [{'interaction_id': 21,
    'turn_id': 1,
    'question': ' [SEP] Which United Airlines flights fly into Aberdeen?',
    'groundtruth': 'SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"',
    'sql': 'SELECT * FROM airlines JOIN airports JOIN flights ON airlines.uid = flights.Airline AND airports.AirportCode = flights.SourceAirport AND airports.AirportCode = flights.DestAirport JOIN flights WHERE airports.City = " United " AND airports.City = " United "',
    'exact': 0},
   {'interaction_id': 21,
    'turn_id': 2,
    'question': ' [SEP] How many are there? [SEP] Which United Airlines flights fly into Aberdeen?',
    'groundtruth': 'SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"',
    'sql': 'SELECT Count(*) FROM airlines JOIN flights ON airlines.uid = flights.SourceAirport JOIN airports ON airports.AirportCode = flights.SourceAirport JOIN airports WHERE airports.City = " United " AND airlines.Airline = " Aberdeen "',
    'exact': False}]},
 {'example_id': 22,
  'interaction': [{'interaction_id': 22,
    'turn_id': 1,
    'question': ' [SEP] Name all cities that have destination airports.',
    'groundtruth': 'SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport',
    'sql': 'SELECT DISTINCT airports.City FROM airports',
    'exact': False},
   {'interaction_id': 22,
    'turn_id': 2,
    'question': ' [SEP] Order them by number of arriving flights. [SEP] Name all cities that have destination airports.',
    'groundtruth': 'SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC',
    'sql': 'SELECT airports.City FROM airports JOIN flights ON airports.AirportCode = flights.DestAirport GROUP BY airports.City ORDER BY Count(*) Asc',
    'exact': 0},
   {'interaction_id': 22,
    'turn_id': 3,
    'question': ' [SEP] Which one has the most? [SEP] Order them by number of arriving flights. [SEP] Name all cities that have destination airports.',
    'groundtruth': 'SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1',
    'sql': 'SELECT airports.City FROM airports JOIN flights ON airports.AirportCode = flights.DestAirport GROUP BY airports.City ORDER BY Count(*) Desc LIMIT 1',
    'exact': True}]},
 {'example_id': 23,
  'interaction': [{'interaction_id': 23,
    'turn_id': 1,
    'question': ' [SEP] Name all cities that have source airports.',
    'groundtruth': 'SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport',
    'sql': 'SELECT DISTINCT airports.City FROM airports',
    'exact': False},
   {'interaction_id': 23,
    'turn_id': 2,
    'question': ' [SEP] Order them by number of departing flights. [SEP] Name all cities that have source airports.',
    'groundtruth': 'SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC',
    'sql': 'SELECT airports.City FROM airports JOIN flights ON airports.AirportCode = flights.SourceAirport GROUP BY flights.SourceAirport ORDER BY Count(*) Asc',
    'exact': 0},
   {'interaction_id': 23,
    'turn_id': 3,
    'question': ' [SEP] Which one has the most? [SEP] Order them by number of departing flights. [SEP] Name all cities that have source airports.',
    'groundtruth': 'SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1',

In [117]:
def evaluate_easy(sparc_dev):
    for ex in sparc_dev:
        for turn in ex['interaction']:
            h = eval_hardness(turn['sql'])
            if h == "easy":
                print(turn['query'])

In [118]:
evaluate_easy(sparc_dev)

SELECT * FROM AIRLINES
SELECT * FROM AIRLINES WHERE Airline  =  "JetBlue Airways"
SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"
SELECT Abbreviation FROM AIRLINES
SELECT Abbreviation FROM AIRLINES WHERE Airline  =  "JetBlue Airways"
SELECT * FROM AIRPORTS WHERE city  =  "Anthony"
SELECT * FROM AIRLINES
SELECT count(*) FROM AIRLINES
SELECT * FROM AIRPORTS
SELECT count(*) FROM AIRPORTS
SELECT * FROM FLIGHTS
SELECT count(*) FROM FLIGHTS
SELECT Airline FROM AIRLINES
SELECT Airline FROM AIRLINES WHERE Abbreviation  =  "UAL"
SELECT airline FROM AIRLINES WHERE Country  =  "USA"
SELECT count(*) FROM AIRLINES WHERE Country  =  "USA"
SELECT AirportName FROM AIRPORTS
SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"
SELECT AirportName FROM AIRPORTS
SELECT AirportName FROM AIRPORTS WHERE City = "Aberdeen"
SELECT * FROM FLIGHTS WHERE SourceAirport  =  "APG"
SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"
SELECT * FROM FLIGHTS WHERE DestAirport  =  "ATO"
SELECT count(*) FROM FLIGHTS WHERE DestAirport  =  "ATO"
SELECT * FROM AIRLINES WHERE Airline  =  "United Airlines"
SELECT count(*) FROM AIRLINES WHERE Airline  =  "United Airlines"
SELECT * FROM AIRLINES WHERE Airline  =  "United Airlines"
SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport
SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport
SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport
SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport
SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport
SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport
SELECT * FROM FLIGHTS WHERE SourceAirport  =  "AHD"
SELECT * FROM FLIGHTS WHERE DestAirport  =  "AHD"
SELECT DISTINCT Airline FROM AIRLINES
SELECT DISTINCT Airline FROM AIRLINES
SELECT FlightNo FROM FLIGHTS
SELECT FlightNo FROM FLIGHTS
SELECT FlightNo FROM FLIGHTS WHERE SourceAirport  =  "APG"
SELECT FlightNo FROM FLIGHTS
SELECT FlightNo FROM FLIGHTS WHERE DestAirport  =  "APG"
SELECT FlightNo FROM FLIGHTS
SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode
SELECT FlightNo FROM FLIGHTS
SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport   =  T2.AirportCode
SELECT SourceAirport FROM Flights
SELECT * FROM pets
SELECT * FROM pets WHERE weight  >  10
SELECT count(*) FROM pets WHERE weight  >  10
SELECT * FROM pets ORDER BY pet_age
SELECT weight FROM pets ORDER BY pet_age
SELECT DISTINCT petType FROM pets
SELECT * FROM student WHERE sex  =  'F'
SELECT DISTINCT pettype FROM pets
SELECT count(DISTINCT pettype) FROM pets
SELECT DISTINCT T1.Fname FROM student AS T1
SELECT stuid FROM student
SELECT petid FROM pets
SELECT petid FROM pets WHERE pet_age  >  1
SELECT DISTINCT pettype FROM pets
SELECT * FROM pets
SELECT * FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid
SELECT DISTINCT T1.fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid
SELECT * FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid
SELECT * FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid
SELECT Name FROM country
SELECT Name FROM country WHERE IndepYear  >  1950
SELECT count(*) FROM country
SELECT count(*) FROM country WHERE GovernmentForm  =  "Republic"
SELECT * FROM country WHERE Region  =  "Caribbean"
SELECT SurfaceArea FROM country WHERE Region  =  "Caribbean"
SELECT sum(SurfaceArea) FROM country WHERE Region  =  "Caribbean"
SELECT Continent FROM country
SELECT Continent FROM country WHERE Name  =  "Anguilla"
SELECT Region FROM country
SELECT LANGUAGE FROM countrylanguage
SELECT Region FROM country WHERE Name  =  "Angola"
SELECT Population FROM country WHERE Name  =  "Angola"
SELECT LifeExpectancy FROM country
SELECT LifeExpectancy FROM country WHERE Region  =  "Central Africa"
SELECT avg(LifeExpectancy) FROM country WHERE Region  =  "Central Africa"
SELECT Name FROM country WHERE Continent  =  "Asia"
SELECT sum(Population) FROM country WHERE Continent  =  "Asia"
SELECT max(GNP) FROM country WHERE Continent  =  "Asia"
SELECT * FROM country WHERE Continent  =  "Africa"
SELECT Population FROM city WHERE District  =  "Gelderland"
SELECT sum(Population) FROM city WHERE District  =  "Gelderland"
SELECT * FROM country
SELECT * FROM country WHERE GovernmentForm  =  "US Territory"
SELECT DISTINCT LANGUAGE FROM countrylanguage
SELECT count(DISTINCT LANGUAGE) FROM countrylanguage
SELECT DISTINCT GovernmentForm FROM country WHERE Continent  =  "Africa"
SELECT count(DISTINCT GovernmentForm) FROM country WHERE Continent  =  "Africa"
SELECT * FROM country WHERE Name  =  "Aruba"
SELECT COUNT(*) FROM (SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English" INTERSECT SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "Dutch")
SELECT DISTINCT Region FROM country
SELECT * FROM country WHERE GovernmentForm  =  "Republic"
SELECT T1.Name FROM country AS t1
SELECT T1.Name FROM country AS t1 WHERE  IndepYear  <  1930
SELECT * FROM country WHERE Continent  =  "Europe"
SELECT min(SurfaceArea) FROM country WHERE Continent  =  "Europe"
SELECT min(population) FROM country WHERE Continent  =  "Asia"
SELECT min(population) FROM country WHERE Continent  =  "Africa"
SELECT CountryCode FROM countrylanguage
SELECT DISTINCT CountryCode FROM countrylanguage
SELECT DISTINCT CountryCode FROM countrylanguage WHERE LANGUAGE ! =  "English"
SELECT Code FROM country WHERE GovernmentForm ! =  "Republic"
SELECT Name FROM country
SELECT avg(Population) FROM city
SELECT * FROM country GROUP BY GovernmentForm HAVING avg(LifeExpectancy)  >  72
SELECT Continent FROM country GROUP BY Continent HAVING avg(LifeExpectancy)  <  72
SELECT * FROM country ORDER BY Population DESC
SELECT * FROM country ORDER BY Population
SELECT * FROM country WHERE continent  =  "Asia"
SELECT count(*) FROM country WHERE continent  =  "Asia"
SELECT * FROM country WHERE continent  =  "Europe"
SELECT * FROM country WHERE Continent  =  "North America"
SELECT name FROM city
SELECT name FROM city WHERE Population BETWEEN 160000 AND 90000
SELECT LANGUAGE FROM countrylanguage
SELECT Directed_by FROM Cartoon WHERE Title = "Day of the Dark Knight!"
SELECT Channel FROM Cartoon WHERE Title = "Day of the Dark Knight!"
SELECT * FROM TV_Channel WHERE Country = "Italy"
SELECT * FROM TV_Channel WHERE Country = "Poland"
SELECT Channel FROM Cartoon WHERE Title = "The Eyes of Despero!"
SELECT Package_Option FROM TV_Channel WHERE series_name = "Rock TV"
SELECT Language FROM TV_Channel WHERE series_name = "Rock TV"
SELECT Written_by FROM Cartoon WHERE Title = "The Rise of the Blue Beetle!"
SELECT Directed_by FROM Cartoon WHERE Title = "The Rise of the Blue Beetle!"
SELECT Country FROM TV_Channel WHERE series_name = "Sky Radio"
SELECT Content FROM TV_Channel WHERE series_name = "Sky Radio"
SELECT Rating FROM TV_series WHERE Episode = "Double Down"
SELECT Rating FROM TV_series WHERE Episode = "Keepers"
SELECT Weekly_Rank FROM TV_series WHERE Episode = "Emily"
SELECT Share FROM TV_series WHERE Episode = "Emily"
SELECT Rating FROM TV_series WHERE Episode = "A Love of a Lifetime"
SELECT Weekly_Rank FROM TV_series WHERE Episode = "A Love of a Lifetime"
SELECT Content FROM TV_Channel WHERE series_name = "Sky Radio"
SELECT Language FROM TV_Channel WHERE series_name = "Sky Radio"
SELECT Original_air_date FROM Cartoon WHERE Title = "Fall of the Blue Beetle!"
SELECT Production_code FROM Cartoon WHERE Title = "Fall of the Blue Beetle!"
SELECT Title FROM Cartoon WHERE Directed_by = "Ben Jones"
SELECT Title FROM Cartoon WHERE Written_by = "Todd Casey"
SELECT Directed_by FROM Cartoon WHERE Title = "Deep Cover for Batman!"
SELECT Production_code FROM Cartoon WHERE Title = "Deep Cover for Batman!"
SELECT Country FROM TV_Channel WHERE series_name = "MTV Music"
SELECT COUNT(*) FROM TV_Channel WHERE Country = "Italy"
SELECT id FROM tv_channel GROUP BY country HAVING count(*)  >  2
SELECT Directed_by FROM Cartoon WHERE Title = "Return of the Fearsome Fangs!"
SELECT Title FROM Cartoon WHERE Directed_by = "Ben Jones"
SELECT * FROM poker_player
SELECT count(*) FROM poker_player
SELECT Earnings FROM poker_player
SELECT Earnings FROM poker_player ORDER BY Earnings DESC
SELECT * FROM poker_player
SELECT Final_Table_Made FROM poker_player
SELECT Earnings FROM poker_player
SELECT avg(Earnings) FROM poker_player
SELECT Money_Rank FROM poker_player
SELECT Money_Rank FROM poker_player ORDER BY Earnings DESC
SELECT * FROM poker_player WHERE Earnings  <  200000
SELECT max(Final_Table_Made) FROM poker_player WHERE Earnings  <  200000
SELECT * FROM poker_player
SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID
SELECT * FROM poker_player WHERE Earnings  >  300000
SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID
SELECT T1.Birth_Date FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID
SELECT Height FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID
SELECT Height FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID
SELECT * FROM poker_player ORDER BY Earnings DESC
SELECT Nationality FROM people
SELECT * FROM people GROUP BY Nationality
SELECT Nationality FROM people
SELECT COUNT(*) FROM people GROUP BY Nationality
SELECT COUNT(*) FROM people GROUP BY Nationality
SELECT Nationality FROM people GROUP BY Nationality HAVING COUNT(*)  >=  2
SELECT Name FROM people
SELECT Name FROM people WHERE Nationality != "Russia"
SELECT * FROM poker_player
SELECT killed FROM death
SELECT max(killed) FROM death
SELECT min(killed) FROM death
SELECT * FROM death as T1 JOIN ship as T2 ON T1.caused_by_ship_id  =  T2.id
SELECT DISTINCT T1.name FROM battle AS T1 JOIN ship AS T2 ON T1.id  =  T2.lost_in_battle
SELECT name FROM battle WHERE bulgarian_commander  =  'Kaloyan'
SELECT name FROM battle WHERE latin_commander  =  'Baldwin I'
SELECT lost_in_battle FROM ship WHERE tonnage  =  '225'
SELECT count(*) FROM CONTINENTS;
Select avg(horsepower) FROM CARS_DATA;
SELECT avg(Weight) FROM CARS_DATA
SELECT DISTINCT model FROM MODEL_LIST;
SELECT count(*) from Countries;
Select Count(*) FROM CAR_MAKERS;
SELECT distinct Maker FROM CAR_MAKERS;
SELECT count(*) FROM MODEL_LIST;
SELECT * FROM CARS_DATA WHERE YEAR  =  1974;
Select CountryName FROM COUNTRIES;
SELECT avg(edispl) FROM CARS_DATA;
SELECT distinct Model from CAR_NAMES;
SELECT FullName FROM CAR_MAKERS;
SELECT * FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker;
SELECT DISTINCT Year FROM CARS_DATA AS T1 WHERE Weight  >  3000;
SELECT DISTINCT Year FROM CARS_DATA AS T1 WHERE Weight  <  4000;
SELECT distinct T1.CountryName FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country;
SELECT COUNT(*) FROM ( SELECT T1.CountryId ,  COUNT(*) FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country GROUP BY T1.CountryId HAVING count(*)  >  1 );
SELECT COUNT(*) FROM ( SELECT T1.CountryId ,  COUNT(*) FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country GROUP BY T1.CountryId HAVING count(*)  >  2 );
SELECT min(Horsepower) FROM CARS_DATA;
SELECT CountryName FROM countries;
SELECT distinct T1.CountryName FROM countries AS T1 JOIN CAR_MAKERS AS T2 ON T1.countryId  =  T2.Country;
SELECT count(*) FROM matches
SELECT max(minutes) FROM matches
SELECT avg(minutes) FROM matches
SELECT count(DISTINCT tourney_name) FROM matches
SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  20
SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10
SELECT count(DISTINCT winner_name) FROM matches WHERE year = 2013
SELECT count(*) FROM (SELECT winner_name FROM matches WHERE YEAR  =  2013 INTERSECT SELECT winner_name FROM matches WHERE YEAR  =  2016)
SELECT count(*) FROM matches
SELECT count(*) FROM matches WHERE loser_hand = "L"
SELECT count(*) FROM players
SELECT count(*) FROM players WHERE hand = 'R'
SELECT count(*) FROM players WHERE hand = 'L'
SELECT count(*) FROM players
SELECT count(*) FROM matches
SELECT birth_date FROM players
SELECT count(*) FROM players GROUP BY country_code
SELECT country_code FROM players GROUP BY country_code HAVING count(*)  >  50
SELECT count(DISTINCT loser_name) FROM matches WHERE tourney_name  =  'Australian Open'
SELECT count(DISTINCT winner_name) FROM matches WHERE tourney_name  =  'Australian Open'
SELECT * FROM conductor
SELECT count(*) FROM conductor
SELECT Name FROM conductor
SELECT Age FROM conductor
SELECT Name FROM conductor ORDER BY Age ASC
SELECT Name FROM conductor
SELECT Name FROM conductor WHERE Nationality != 'USA'
SELECT Record_Company FROM orchestra
SELECT Record_Company FROM orchestra ORDER BY Year_of_Founded DESC
SELECT Attendance FROM SHOW
SELECT avg(Attendance) FROM SHOW
SELECT SHARE FROM performance
SELECT SHARE FROM performance WHERE TYPE != "Live final"
SELECT Nationality FROM conductor
SELECT count(DISTINCT Nationality) FROM conductor
SELECT Name FROM conductor
SELECT Year_of_Work FROM conductor
SELECT Name FROM conductor ORDER BY Year_of_Work DESC
SELECT Name FROM conductor
SELECT Year_of_Work FROM conductor
SELECT Name FROM conductor
SELECT Name FROM conductor
SELECT Name FROM conductor
SELECT Name FROM conductor
SELECT Record_Company FROM orchestra GROUP BY Record_Company
SELECT Major_Record_Format FROM orchestra
SELECT Record_Company FROM orchestra
SELECT Orchestra FROM orchestra
SELECT Record_Company FROM orchestra
SELECT Record_Company FROM orchestra WHERE Year_of_Founded  <  2003
SELECT Record_Company FROM orchestra WHERE Year_of_Founded  >  2003
SELECT * FROM Documents
SELECT document_id FROM Documents
SELECT document_name FROM Documents
SELECT document_name from Documents
SELECT document_id FROM Documents WHERE document_name  =  "Robbin CV"
SELECT template_id FROM Documents
SELECT DISTINCT template_id FROM Documents
SELECT count(DISTINCT template_id) FROM Documents
SELECT document_id FROM Documents
SELECT template_id FROM Documents
SELECT template_id FROM Documents
SELECT template_id FROM Documents
SELECT template_id FROM Documents GROUP BY template_id HAVING count(*)  >  1
SELECT template_id FROM Documents
SELECT template_id FROM Templates
SELECT * FROM Templates
SELECT count(*) FROM Templates
SELECT template_id FROM Templates
SELECT template_type_code FROM Templates
SELECT DISTINCT template_type_code FROM Templates
SELECT template_id FROM Templates
SELECT template_type_code FROM Templates
SELECT count(*) FROM Templates WHERE template_type_code  =  "CV"
SELECT version_number FROM Templates
SELECT version_number FROM Templates WHERE version_number  >  5
SELECT template_type_code FROM Templates
SELECT template_type_code FROM Templates
SELECT template_type_code FROM Templates
SELECT template_type_code FROM Templates GROUP BY template_type_code HAVING count(*)  <  3
SELECT Version_Number FROM Templates
SELECT min(Version_Number) FROM Templates
SELECT template_type_code FROM Templates
SELECT document_name FROM Documents
SELECT template_type_code FROM Templates
SELECT template_type_code FROM Templates
SELECT template_type_code FROM Templates
SELECT template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id
SELECT template_type_code FROM Ref_template_types
SELECT template_type_description FROM Ref_template_types WHERE template_type_code  =  "AD"
SELECT template_type_code FROM Ref_template_types
SELECT template_type_code FROM Ref_template_types WHERE template_type_description  =  "Book"
select Template_ID from Documents
SELECT template_id from Templates
SELECT * FROM Paragraphs
SELECT count(*) FROM Paragraphs
SELECT paragraph_id FROM Paragraphs
SELECT paragraph_text FROM Paragraphs
SELECT Other_Details FROM Paragraphs WHERE paragraph_text  =  'Korea'
SELECT paragraph_text FROM Paragraphs
SELECT document_id FROM Paragraphs
SELECT document_id FROM Paragraphs
SELECT document_id FROM Paragraphs GROUP BY document_id HAVING count(*)  >=  2
SELECT document_id FROM Paragraphs
SELECT document_id FROM Paragraphs
SELECT document_id FROM Paragraphs GROUP BY document_id HAVING count(*) BETWEEN 1 AND 2
SELECT * FROM singer
SELECT count(*) FROM singer
SELECT name FROM singer
select age from singer
select age from singer WHERE country  =  'France'
select song_name from singer
SELECT country FROM singer
SELECT country FROM singer WHERE age  >  20
SELECT DISTINCT country FROM singer WHERE age  >  20
SELECT country FROM singer
SELECT avg(age) FROM singer
SELECT name FROM stadium
SELECT name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
select capacity FROM stadium
SELECT avg(capacity) FROM stadium
SELECT * FROM concert WHERE YEAR  =  2014
SELECT name from stadium
SELECT YEAR FROM concert
SELECT stadium_id FROM concert
SELECT country FROM singer
SELECT country FROM singer WHERE age  >  40
SELECT country FROM singer WHERE age  <  30
SELECT name FROM singer
select name from singer
SELECT name FROM singer
SELECT Name FROM singer ORDER BY Net_Worth_Millions DESC
SELECT DISTINCT Singer_ID from song
SELECT * FROM employee WHERE age  <  30
SELECT city FROM employee WHERE age  <  30
SELECT * FROM shop
SELECT sum(number_products) FROM shop
SELECT avg(Number_products) FROM shop
SELECT avg(number_products) FROM shop
SELECT count(*) FROM evaluation
SELECT Year_awarded FROM evaluation
SELECT t1.name FROM employee AS t1 JOIN evaluation AS t2 ON t1.Employee_ID  =  t2.Employee_ID
SELECT count(distinct Employee_ID) FROM evaluation
SELECT t1.name FROM employee AS t1 JOIN evaluation AS t2 ON t1.Employee_ID  =  t2.Employee_ID
SELECT count(distinct Shop_ID) FROM hiring
SELECT t2.name FROM hiring AS t1 JOIN shop AS t2 ON t1.shop_id  =  t2.shop_id
SELECT * FROM hiring
SELECT count(*) FROM hiring
SELECT * FROM visitor
SELECT * FROM visitor ORDER BY Level_of_membership DESC
SELECT name FROM visitor ORDER BY Level_of_membership DESC
SELECT count(*) FROM visitor WHERE Level_of_membership  >  4
SELECT count(*) FROM museum
SELECT avg(num_of_staff) FROM museum
SELECT name FROM museum WHERE open_year  <  2010
SELECT name FROM museum WHERE open_year  >  2010
SELECT min(num_of_staff) FROM museum WHERE open_year  >  2010
SELECT t1.name FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id
SELECT sum(Total_spent) FROM visit
SELECT count(*) FROM museum
SELECT sum(num_of_ticket) FROM visit
SELECT sum(Total_spent) FROM visit
SELECT max(Total_spent) FROM visit
SELECT min(Level_of_membership) FROM visitor
SELECT count(*) FROM visitor WHERE Level_of_membership  =  1
SELECT name FROM museum WHERE open_year  <  2009
SELECT name FROM museum WHERE open_year > 2011
SELECT name FROM museum WHERE open_year  >  2010
SELECT count(*) FROM Highschooler
SELECT count(distinct grade) FROM Highschooler
SELECT distinct grade FROM Highschooler
SELECT count(*) FROM Highschooler
SELECT grade FROM Highschooler GROUP BY grade HAVING count(*)  >=  10
SELECT grade FROM Highschooler GROUP BY grade HAVING count(*)  >=  4
SELECT name FROM highschooler
SELECT name FROM highschooler
SELECT count(*) FROM (SELECT * FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id HAVING count(*)  > 5)
SELECT count(*) FROM (SELECT * FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id HAVING count(*)  >= 3)
SELECT * FROM highschooler where name = "Kyle"
SELECT * FROM highschooler where name = "Kyle"
SELECT ID FROM highschooler
SELECT student_id FROM Friend
SELECT name FROM highschooler
SELECT count(*) FROM (SELECT * FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id HAVING count(*)  >= 5)